In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('fiuba_1_postulantes_educacion_h15.csv')
postulantes_gye_df = pd.read_csv('fiuba_2_postulantes_genero_y_edad_h15.csv')
vistas_df = pd.read_csv('fiuba_3_vistas_h15.csv')
postulaciones_df = pd.read_csv('fiuba_4_postulaciones_h15.csv')
avisos_online_df = pd.read_csv('fiuba_5_avisos_online_h15.csv')
avisos_detalle_df = pd.read_csv('fiuba_6_avisos_detalle_h15.csv')

In [3]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('fiuba_4_postulaciones.csv')
avisos_online_df2 = pd.read_csv('fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [5]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion_d15.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad_d15.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas_d15.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle_d15.csv')

In [6]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [7]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

# Libero Espacio de la Memoria

In [8]:
del postulantes_edu_df2
del postulantes_gye_df2
del vistas_df2
del avisos_detalle_df2

# Filtrado de Postulantes con informacion completa

In [9]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado
0         ZjlZ    Master  En Curso
1         NdJl  Posgrado  En Curso

In [10]:
postulantes_gye_df.head(2)

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA

In [11]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [12]:
postulantes_edu_df.estado.value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [13]:
postulantes_edu_df.nombre.value_counts()

Universitario        250850
Secundario           244689
Terciario/Técnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [14]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [15]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [16]:
postulantes_edu_df['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

# Trabajamos con la educacion

Asignamos un valor para cada estado de la educacion, Graduado->2, En Curso->1, Abandonado->0

In [17]:
def setCategory(c):
    if c == 'Graduado':
        return 2
    elif c == 'En Curso':
        return 1
    return 0

In [18]:
postulantes_edu_df['valor_estado'] = postulantes_edu_df['estado'].apply(setCategory)

In [19]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado
0         ZjlZ         Master  En Curso             1
1         NdJl       Posgrado  En Curso             1
2         5kNq           Otro  En Curso             1
3         8rYD         Master  En Curso             1
4         1Wvj  Universitario  En Curso             1

In [20]:
postulantes_edu_df['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/Técnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

Al igual que hicimos con los estados de la educacion, lo hacemos con el nivel de educacion.

In [21]:
def setCategory(c):
    
    if c == 'Doctorado':
        return 12
    elif c == 'Master':
        return 10
    elif c == 'Posgrado':
        return 8
    elif c == 'Universitario':
        return 6
    elif c == 'Terciario/Técnico':
        return 4
    elif c == 'Secundario':
        return 2
    return 0

In [22]:
postulantes_edu_df['valor_nombre'] = postulantes_edu_df['nombre'].apply(setCategory)

In [23]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado  valor_estado  valor_nombre
0         ZjlZ    Master  En Curso             1            10
1         NdJl  Posgrado  En Curso             1             8

Ahora unificamos los datos obtenidos, creando una escala donde a mayor educacion, mayor peso. Considerando el tipo de educacion y su estado.
Este nuevo feature llamado valoracion_edu, reemplazará a 'nombre'y 'estado'

In [24]:
postulantes_edu_df['valoracion_edu'] = postulantes_edu_df['valor_estado'] + postulantes_edu_df['valor_nombre']
postulantes_edu_df.drop(columns=['valor_estado','valor_nombre','nombre','estado'],axis=1,inplace=True)
postulantes_edu_df.sort_values(by='valoracion_edu',ascending=False,inplace=True)
postulantes_edu_df.drop_duplicates(inplace=True)
postulantes_edu_df.head()

       idpostulante  valoracion_edu
318724       N9AN45              14
128733      vV9Ewjj              14
337840       aMbWjD              14
398665      OqmK81N              14
14753       JBrVvBp              14

In [25]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

Los valores 0.0 los unificamos con NO_DECLARA

In [26]:
def setCategory(c):
    if c == '0.0':
        return 'NO_DECLARA'
    return c

In [27]:
postulantes_gye_df['sexo'] = postulantes_gye_df['sexo'].apply(setCategory)

In [28]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25943
Name: sexo, dtype: int64

# Unificamos los dataframes GYE con EDU

In [29]:
#Para la informacion faltante agregamos una Categoria NO_DECLARA
postulantes_filtrados_df = postulantes_gye_df.merge(postulantes_edu_df,on='idpostulante',how='outer')

print(postulantes_filtrados_df.shape)

postulantes_filtrados_df['idpostulante'].unique().shape

(738053, 4)

(504407,)

In [30]:
postulantes_filtrados_df.head(2)

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             NaN
1          Nzz             NaN  NO_DECLARA             NaN

Asumimos que los usuarios que no completaron su valor, tienen educacion minima, es decir, secundario abandonado.
Las fechas de nacimiento nulas se completa con la edad promedio de los usuarios registrados(31 años).

In [31]:
postulantes_filtrados_df['sexo'].fillna('NO_DECLARA',inplace=True)
postulantes_filtrados_df['valoracion_edu'].fillna(2, inplace=True)
postulantes_filtrados_df['fechanacimiento'].fillna('1987-01-01', inplace=True)

In [32]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             2.0
1          Nzz      1987-01-01  NO_DECLARA             2.0
2          ZX1      1987-01-01  NO_DECLARA             2.0
3          Nq5      1987-01-01  NO_DECLARA             2.0
4          ebE      1952-07-07        MASC            10.0

In [33]:
postulantes_filtrados_df.shape

(738053, 4)

In [34]:
postulantes_filtrados_df.sort_values(by='sexo',inplace=True)

Al ordenar alfabeticamente sexo, los No_declara quedan ultimos, por lo tanto, al hacer un drop_duplicates, nos quedamos con la primera aparicion de ese usuario.
De esta forma si un usuario se registro dos veces, queda el registro correcto sobre su genero.

In [35]:
postulantes_filtrados_df = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes_filtrados_df.shape

(504407, 4)

In [36]:
postulantes_filtrados_df.sexo.value_counts()

FEM           251226
MASC          227832
NO_DECLARA     25349
Name: sexo, dtype: int64

In [37]:
postulantes_filtrados_df.idpostulante.unique().shape

(504407,)

In [38]:
postulantes_filtrados_df.head(2)

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0

In [39]:
postulantes_filtrados_df.fechanacimiento.describe()

count         504407
unique         17246
top       1987-01-01
freq           26120
Name: fechanacimiento, dtype: object

Las edades incorrectas son reemplazadas por al edad promedio.

In [40]:
#Le asigno la fecha promedio a las fechas incorrectas
postulantes_edad_trucha = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == True]
postulantes_edad_trucha['fechanacimiento'] = '1987-01-01'
postulantes_edad_trucha.head()

C:\Users\Andres\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       idpostulante fechanacimiento sexo  valoracion_edu
299748      8M2R6pz      1987-01-01  FEM             2.0
311804      0zkAXBE      1987-01-01  FEM             7.0
341475      VNrP8EE      1987-01-01  FEM             2.0
347580      xkdB9JK      1987-01-01  FEM             8.0
324043      VNxMRxj      1987-01-01  FEM             2.0

In [41]:
#Filtro la edad incorrecta y hago un append de la edad corregida.
postulantes_filtrados_df = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == False]
postulantes_filtrados_df = postulantes_filtrados_df.append(postulantes_edad_trucha)
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             2.0

In [42]:
#Verifico que no se hayan perdido datos.
postulantes_filtrados_df.shape

(504407, 4)

Calculo la edad y reemplazo la columna 'fechanacimiento' por 'edad'

In [43]:
postulantes_filtrados_df.loc[:,'fechanacimiento'] = pd.to_datetime(postulantes_filtrados_df['fechanacimiento']) 
postulantes_filtrados_df.loc[:,'edad'] = (2018 - postulantes_filtrados_df.fechanacimiento.dt.year)
postulantes_filtrados_df.drop(columns='fechanacimiento',axis=1,inplace=True)
postulantes_filtrados_df.head()
#Generar edad por bloques, como queremos hacer con las empresas mas populares.

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             2.0    21

In [44]:
postulantes_filtrados_df.head(2)

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25

# Avisos Detalle

In [45]:
avisos_detalle_df.head(2)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>Responsable de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ingeniería Eléctrica y Electrónica,Roycan

In [46]:
print(avisos_detalle_df.shape)
print(avisos_detalle_df['idaviso'].unique().shape)

(25901, 11)
(25288,)

In [47]:
#Sacamos los repetidos de avisos_detalle
avisos_detalle_filtrados_df = avisos_detalle_df.drop_duplicates('idaviso')
avisos_detalle_df.shape

(25901, 11)

In [48]:
#No se usa mas, a partir de ahora usamos avisos detalle filtrados.
del avisos_detalle_df

In [49]:
avisos_detalle_filtrados_df.shape

(25288, 11)

#Hago un drop de las columnas que no voy a utilizar.
#Mas adelanto debo modificar esto porque la idea es usar descripcion para nuevos features.

In [50]:
avisos_detalle_filtrados_df= avisos_detalle_filtrados_df.drop(columns=['idpais','mapacalle','ciudad','descripcion'],axis=1)

In [51]:
avisos_detalle_filtrados_df.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,Responsable de Marketing-Producto Div. Constru...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,Asesor de Servicios - Postventa Chevrolet,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ingeniería Eléctrica y Electrónica,Roycan
2,1112145935,Analistas de Impuestos Sr Ssr y Jr,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,Software Engineer,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Programación,Chevron Buenos Aires Shared Services Center
4,1112211475,Business Developer Manager,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [52]:
avisos_detalle_filtrados_df.nombre_zona.value_counts()

Gran Buenos Aires              23018
Capital Federal                 2182
Buenos Aires (fuera de GBA)       57
GBA Oeste                         10
La Plata                           4
Mendoza                            3
Ciudad de Mendoza                  3
Rosario                            2
Cordoba                            2
Santa Fe                           1
Corrientes                         1
San Juan                           1
Tucuman                            1
Catamarca                          1
Neuquen                            1
Santa Cruz                         1
Name: nombre_zona, dtype: int64

Agrupamos zonas cercanas

In [53]:
def agrupacionZona(c):
    
    if c == 'Capital Federal' or c=='GBA Oeste':
        return 'Gran Buenos Aires'
    
    elif c == 'Ciudad de Mendoza':
        return 'Mendoza'
    
    return c

In [54]:
avisos_detalle_filtrados_df['nombre_zona'] = avisos_detalle_filtrados_df['nombre_zona'].apply(agrupacionZona)

In [55]:
avisos_detalle_filtrados_df.nombre_zona.value_counts()

Gran Buenos Aires              25210
Buenos Aires (fuera de GBA)       57
Mendoza                            6
La Plata                           4
Rosario                            2
Cordoba                            2
Santa Fe                           1
Corrientes                         1
San Juan                           1
Tucuman                            1
Catamarca                          1
Neuquen                            1
Santa Cruz                         1
Name: nombre_zona, dtype: int64

# Postulaciones

In [56]:
postulantes_filtrados_df['idpostulante'].unique().shape

(504407,)

In [57]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

Comparamos los "usuarios" con los  postulantes.

In [58]:
print(postulantes_filtrados_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

Como resultado tenemos los postulantes que coinciden en postulaciones y postulantes
Observamos que hay usuarios que no se postularon a ningun aviso.

In [59]:
postulantes_filtrados_efectivos_df = postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')
postulantes_filtrados_efectivos_df.idpostulante.unique().shape

(348883,)

In [60]:
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.drop_duplicates('idpostulante')
postulantes_filtrados_efectivos_df.shape

(348883, 6)

In [61]:
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop(['idaviso','fechapostulacion'],axis='columns')
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.reset_index()
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop('index',axis='columns')
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

Nos quedamos con los usuarios sobre los cuales tenemos informacion y ademas se postularon a un aviso.

In [62]:
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [63]:
postulantes_filtrados_efectivos_df.shape

(348883, 4)

# Armado del set de Postulaciones

Primero armo un dataframe con la informacion de postulaciones que ya tengo -> postulantes_df.
Observar que aca puede haber postulantes sobre los cuales no tengo informacion sobre genero y edad.
Tambien puede haber postulantes que luego no aparezcan en el test final.

Me quedo con los idavisos sobre los cuales tengo informacion

In [64]:
#avisos = avisos_detalle_filtrados_df['idaviso'].to_frame()

Me quedo con los idpostulantes sobre los cuales tengo informacion

In [65]:
#postulantes = postulantes_filtrados_df.drop_duplicates('idpostulante')
#postulantes = postulantes['idpostulante'].to_frame()

Hago una interseccion para quedarme con usuarios y avisos sobre los cuales tengo informacion

In [66]:
#postulantes_df =  postulaciones_df.merge(avisos,how='inner',on='idaviso')
#postulantes_df = postulantes_df.merge(postulantes,how='inner',on='idpostulante')

Armo el formato necesario para que me quede idpostulante-idaviso

In [67]:
# postulantes_df =postulantes_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
# postulantes_df.columns=['postulacion']
# postulantes_df['postulacion'] = 1 
# avisos = 0
# postulantes = 0

In [68]:
#postulantes_df.head()

In [69]:
#postulantes_df.reset_index(inplace=True)

In [70]:
#postulantes_df.head()

In [71]:
#postulantes_df.idaviso.unique().shape

In [72]:
#grupo_postulantes = postulantes_df.groupby('idpostulante')

In [73]:
#df = grupo_postulantes.get_group('0z5Dmrd').head(20).drop([0,1],axis=0)

In [74]:
#df

In [75]:
#postulantes_unicos = postulantes_df.idpostulante.unique()

In [76]:
# for postulante in postulantes_unicos:
#     df = df.append(grupo_postulantes.get_group(postulante).head(20))

In [77]:
#df.head()

In [78]:
#df.idpostulante.unique().shape

In [79]:
#postulantes_df = df

In [64]:
postulantes_df = pd.read_csv('postulaciones_limitadas.csv')

In [65]:
postulantes_df.head()

   Unnamed: 0 idpostulante     idaviso  postulacion
0           0      0z5Dmrd  1112384041            1
1           1      0z5Dmrd  1112420060            1
2           2      0z5JW1r  1112257171            1
3           3      0z5JW1r  1112281879            1
4           4      0z5JW1r  1112292169            1

In [66]:
postulantes_df = postulantes_df.drop('Unnamed: 0',1)

# Armado del set de No Postulaciones

Armarmos un set de no postulaciones asignando de forma random avisos a usuarios.
Mas adelante se verifica que esta no postulacion al azar no sea una postulacion efectiva.

In [83]:
vistas_df.head()

      idAviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0
1  1112400775  2018-04-06T01:43:48.330-0400      kPjr2K0
2  1112426664  2018-04-06T01:43:50.042-0400      GNOwZmb
3  1112426664  2018-04-06T01:43:51.171-0400      GNOwZmb
4  1112445738  2018-04-06T01:43:46.371-0400      lDLxajz

In [84]:
vistas_df = vistas_df.drop('timestamp',axis=1)
vistas_df['lo_vio']=1
vistas_df.head()

      idAviso idpostulante  lo_vio
0  1112400775      kPjr2K0       1
1  1112400775      kPjr2K0       1
2  1112426664      GNOwZmb       1
3  1112426664      GNOwZmb       1
4  1112445738      lDLxajz       1

In [85]:
vistas_df.columns = ['idaviso','idpostulante','lo_vio']

In [86]:
vistas_df = vistas_df.drop_duplicates(['idaviso','idpostulante'])

In [87]:
vistas_df.shape

(8597915, 3)

In [88]:
lista = []
usuarios_activos = vistas_df.drop_duplicates('idpostulante').merge(postulaciones_df.drop_duplicates('idpostulante').drop(['idaviso','fechapostulacion'],1),how='outer',on='idpostulante')
user_list = postulantes_filtrados_df.merge(usuarios_activos,how='inner',on='idpostulante').idpostulante.unique()
aviso_list = avisos_detalle_filtrados_df['idaviso'].unique() #Utilizo todos los avisos.
index = 1
for n in range(3000000):
    user_index = random.randint(0,476360)
    aviso_index = random.randint(0,25287)
    lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
    index+=1

In [89]:
no_postulantes_df = pd.DataFrame(lista)

In [90]:
del lista

In [91]:
no_postulantes_df.memory_usage(deep=True).sum()

263381929

In [92]:
no_postulantes_df.head()

   0        1           2  3
0  1  NzrLwKJ  1112513555  0
1  2   N6qMwV  1111882745  0
2  3  Nzr3zvL  1112362954  0
3  4  jkj13j0  1112146217  0
4  5  ZDrmWxY  1112400202  0

In [93]:
no_postulantes_df.drop(0,axis='columns',inplace=True)

In [94]:
no_postulantes_df.head()

         1           2  3
0  NzrLwKJ  1112513555  0
1   N6qMwV  1111882745  0
2  Nzr3zvL  1112362954  0
3  jkj13j0  1112146217  0
4  ZDrmWxY  1112400202  0

In [95]:
no_postulantes_df.columns= ['idpostulante','idaviso','postulacion']

In [96]:
no_postulantes_df.shape

(3000000, 3)

In [97]:
no_postulantes_df.head()

  idpostulante     idaviso  postulacion
0      NzrLwKJ  1112513555            0
1       N6qMwV  1111882745            0
2      Nzr3zvL  1112362954            0
3      jkj13j0  1112146217            0
4      ZDrmWxY  1112400202            0

In [98]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

# Armado de Set de Entrenamiento

Quitamos las no postulaciones que figuran como vistas.

In [99]:
entrenamiento_df = vistas_df.merge(no_postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [100]:
entrenamiento_df.head()

      idaviso idpostulante  lo_vio  postulacion
0  1112400775      kPjr2K0     1.0          NaN
1  1112426664      GNOwZmb     1.0          NaN
2  1112445738      lDLxajz     1.0          NaN
3  1112416123      owzZOqe     1.0          NaN
4  1112443938       NGk68l     1.0          NaN

In [101]:
entrenamiento_df['lo_vio'].hasnans

True

In [102]:
entrenamiento_df['postulacion'].fillna(0,inplace=True)
entrenamiento_df['lo_vio'].fillna(0,inplace=True)

In [103]:
entrenamiento_df['postulacion'] = entrenamiento_df['lo_vio'] + entrenamiento_df['postulacion']

In [104]:
entrenamiento_df.head()

      idaviso idpostulante  lo_vio  postulacion
0  1112400775      kPjr2K0     1.0          1.0
1  1112426664      GNOwZmb     1.0          1.0
2  1112445738      lDLxajz     1.0          1.0
3  1112416123      owzZOqe     1.0          1.0
4  1112443938       NGk68l     1.0          1.0

In [105]:
entrenamiento_df = entrenamiento_df[entrenamiento_df['postulacion']==0]

In [106]:
entrenamiento_df = entrenamiento_df.drop('lo_vio',axis=1)

Juntamos los no_postulantes con los postulantes para armar el set de entrenamiento

In [107]:
entrenamiento_df = entrenamiento_df.merge(postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [108]:
entrenamiento_df.head()

      idaviso idpostulante  postulacion_x  postulacion_y
0  1112513555      NzrLwKJ            0.0            NaN
1  1111882745       N6qMwV            0.0            NaN
2  1112362954      Nzr3zvL            0.0            NaN
3  1112146217      jkj13j0            0.0            NaN
4  1112400202      ZDrmWxY            0.0            NaN

In [109]:
entrenamiento_df['postulacion_x'].fillna(0,inplace=True)
entrenamiento_df['postulacion_y'].fillna(0,inplace=True)

La idea es sumar las columnas duplicadas, ya que si habia una postulacion para esa misma dupla idaviso-idpostulante, predomina la postulacion(1) sobre la no_postulacion(0)

In [110]:
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion_x'] + entrenamiento_df['postulacion_y']

In [111]:
entrenamiento_df.head()

      idaviso idpostulante  postulacion_x  postulacion_y  postulacion
0  1112513555      NzrLwKJ            0.0            0.0          0.0
1  1111882745       N6qMwV            0.0            0.0          0.0
2  1112362954      Nzr3zvL            0.0            0.0          0.0
3  1112146217      jkj13j0            0.0            0.0          0.0
4  1112400202      ZDrmWxY            0.0            0.0          0.0

In [112]:
 entrenamiento_df.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [113]:
entrenamiento_df['postulacion'].value_counts()

1.0    3277072
0.0    2998008
Name: postulacion, dtype: int64

In [114]:
entrenamiento_df['postulacion'] = pd.Categorical(entrenamiento_df['postulacion'])
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion'].cat.codes
entrenamiento_df['postulacion'].value_counts()

1    3277072
0    2998008
Name: postulacion, dtype: int64

In [115]:
entrenamiento_df.head()

      idaviso idpostulante  postulacion
0  1112513555      NzrLwKJ            0
1  1111882745       N6qMwV            0
2  1112362954      Nzr3zvL            0
3  1112146217      jkj13j0            0
4  1112400202      ZDrmWxY            0

In [116]:
entrenamiento_df.tail()

            idaviso idpostulante  postulacion
6275075  1112274234      zvxzrWm            1
6275076  1112279048      zvxzrWm            1
6275077  1112280433      zvxzrWm            1
6275078  1112289195      zvxzrWm            1
6275079  1112290025      zvxzrWm            1

In [117]:
entrenamiento_df.idaviso.unique().shape

(25288,)

Sacamos pares idaviso-idpostulante duplicados y que aparecen en test_final

In [118]:
entrenamiento_df = entrenamiento_df.drop_duplicates(['idaviso','idpostulante'])

In [119]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [120]:
merge = entrenamiento_df.merge(test_final_df,on=['idpostulante','idaviso'],how='inner')

In [121]:
merge.shape

(13893, 4)

In [122]:
merge.head()

      idaviso idpostulante  postulacion     id
0  1112406254       5bQaeZ            0  33984
1  1112424848       NkeQYJ            0  43241
2  1112094756      VNr0xb2            0  14479
3  1112476948       86zN4M            0  92838
4  1112210505       eOv8mo            0  18189

In [123]:
merge['en_test_final']=1

In [124]:
merge = merge.drop(['postulacion','id'],1)

In [125]:
merge.head()

      idaviso idpostulante  en_test_final
0  1112406254       5bQaeZ              1
1  1112424848       NkeQYJ              1
2  1112094756      VNr0xb2              1
3  1112476948       86zN4M              1
4  1112210505       eOv8mo              1

In [126]:
entrenamiento_df = entrenamiento_df.merge(merge,on=['idpostulante','idaviso'],how='outer')

In [127]:
entrenamiento_df.head()

      idaviso idpostulante  postulacion  en_test_final
0  1112513555      NzrLwKJ            0            NaN
1  1111882745       N6qMwV            0            NaN
2  1112362954      Nzr3zvL            0            NaN
3  1112146217      jkj13j0            0            NaN
4  1112400202      ZDrmWxY            0            NaN

In [128]:
entrenamiento_df.en_test_final.hasnans

True

In [129]:
entrenamiento_df.en_test_final.fillna(0,inplace=True)

In [130]:
entrenamiento_df.shape

(6274687, 4)

In [131]:
entrenamiento_df = entrenamiento_df[entrenamiento_df.en_test_final==0]

In [132]:
entrenamiento_df.shape

(6260794, 4)

In [133]:
entrenamiento_df.head()

      idaviso idpostulante  postulacion  en_test_final
0  1112513555      NzrLwKJ            0            0.0
1  1111882745       N6qMwV            0            0.0
2  1112362954      Nzr3zvL            0            0.0
3  1112146217      jkj13j0            0            0.0
4  1112400202      ZDrmWxY            0            0.0

In [134]:
entrenamiento_df.postulacion.value_counts()

1    3263194
0    2997600
Name: postulacion, dtype: int64

In [135]:
entrenamiento_df.drop('en_test_final',1,inplace=True)

In [136]:
#entrenamiento_df.to_csv('para_aplicar_features.csv')

# Armo la Matriz de Features

In [137]:
del postulantes_edu_df
del postulantes_gye_df
del postulantes_edad_trucha
del avisos_detalle_missing
del postulaciones_df2
del merge

In [67]:
#Para levantar los csv guardados previamente.


entrenamiento_df=pd.read_csv('para_aplicar_features.csv')
entrenamiento_df.drop('Unnamed: 0',axis=1,inplace=True)
#avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_df')
#postulantes_filtrados_df=postulantes_filtrados_nuevo

Me quedo con un Sample de 1M

In [68]:
entrenamiento_df = entrenamiento_df[entrenamiento_df.postulacion==1].sample(50000).append(entrenamiento_df[entrenamiento_df.postulacion==0].sample(50000))

In [69]:
entrenamiento_df.postulacion.value_counts()

1    50000
0    50000
Name: postulacion, dtype: int64

# En este paso vamos a crear una nueva columna en avisos_detalle donde indica el valor de la valoracion_edu promedio de cada aviso segun los postulantes.

En primer lugar, agrego la informacion de cada aviso a las postulaciones

merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')

#merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.sample(1000)

merge_detalle_postulaciones_df.head(2)

Esto ya lo corri para todos los datos. Dejo el csv de esta matriz en el archivo en el git y todo el codigo comentado

In [70]:
# Se puede encontrar la educacion promedio para cada aviso y luego asignar esa educacion a los postulantes que no tienen educacion definida
postulantes = postulantes_filtrados_efectivos_df.groupby('idpostulante')

dictionary = {}
def armarFeatureConValoracionEduPorAviso(idpostulante,idaviso):
    if not idaviso in dictionary:
        dictionary[idaviso] = [0,0] #El primer elemento es la suma acumulada de valoracion de edad. El segundo es contador
    val_edu = dictionary[idaviso]
    val_edu[1]+=1
    val_edu[0] += postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
    dictionary[idaviso] = val_edu

merge_detalle_postulaciones_df.apply(lambda row: armarFeatureConValoracionEduPorAviso(row['idpostulante'], row['idaviso']),axis=1)

for key,value in dictionary.items():
    prom = round((value[0]/value[1]))
    dictionary[key] = prom

def assignValEduToAdd(c):
    return dictionary[c]

merge_detalle_postulaciones_df['val_edu'] = merge_detalle_postulaciones_df['idaviso'].apply(assignValEduToAdd)

merge_detalle_postulaciones_df.head()

merge_detalle_postulaciones_df = pd.read_csv('merge_detalle_postulaciones_df.csv')

merge_detalle_postulaciones_df.drop('Unnamed: 0',1,inplace=True)

# En este paso vamos a crear una nueva columna en avisos_detalle donde indica el valor de la edad promedio de cada aviso segun los postulantes.

dictionary = {}
def armarFeatureConEdadPorAviso(idpostulante,idaviso):
    if not idaviso in dictionary:
        dictionary[idaviso] = [0,0] #El primer elemento es la suma acumulada de  edad. El segundo es contador
    val_edad = dictionary[idaviso]
    val_edad[1]+=1
    val_edad[0] += postulantes.get_group(idpostulante)['edad'].iloc[0]
    dictionary[idaviso] = val_edad

merge_detalle_postulaciones_df.apply(lambda row: armarFeatureConEdadPorAviso(row['idpostulante'], row['idaviso']),axis=1)

for key,value in dictionary.items():
    prom = round((value[0]/value[1]))
    dictionary[key] = prom

def assignValEdadToAdd(c):
    return dictionary[c]

merge_detalle_postulaciones_df['val_edad'] = merge_detalle_postulaciones_df['idaviso'].apply(assignValEdadToAdd)

merge_detalle_postulaciones_df.head()

merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.merge(avisos_detalle_filtrados_df.drop(columns=['nombre_zona','tipo_de_trabajo','nivel_laboral','denominacion_empresa','nombre_area','titulo'],axis=1),how='inner',on='idaviso')

merge_detalle_postulaciones_df.nombre_zona.value_counts()

In [142]:
#merge_detalle_postulaciones_df.to_csv('merge_postulaciones_detalle.csv')

In [71]:
merge_detalle_postulaciones_df = pd.read_csv('merge_detalle_postulaciones_df.csv')

In [72]:
merge_detalle_postulaciones_df.drop('Unnamed: 0',1,inplace=True)

In [73]:
merge_detalle_postulaciones_df.shape

(6188634, 9)

In [74]:
merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.merge(avisos_detalle_filtrados_df.drop(['nombre_zona','tipo_de_trabajo','nivel_laboral','nombre_area','denominacion_empresa'],1),how='left',on='idaviso')

# Comenzamos a dar formato para armar los features

En primer lugar agrupo todos los avisos a los que se postulo un usuario

In [75]:
grupo_postulantes = merge_detalle_postulaciones_df.groupby('idpostulante')

En segundo lugar hago que 'idaviso' sea el indice para poder acceder de forma directa.

In [76]:
grupo_avisos = avisos_detalle_filtrados_df.groupby('idaviso')

Armo lista de los usuarios que se postularon a algun aviso del que yo tenga datos en avisos_detalle_filtrados_df

In [77]:
usuarios_con_postulaciones = grupo_postulantes.groups.keys()

### Funcion para reducir el ruido en los features de area, empresa e interes titulo

In [78]:
def categorizarFeatures(num):
    if num>0 and num<=3:
        return 1
    if num>3 and num<=10:
        return 2
    if num>10:
        return 3
    return num

# Feature Postulacion A Area

## A ese Area En esa Zona

In [106]:
def armarFeaturePostulacionesUsuarioAEseAreaEnEsaZona(idpostulante,idaviso,ajuste):
    if (idpostulante not in usuarios_con_postulaciones):
        return 0
    area=grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    zona=grupo_avisos.get_group(idaviso)['nombre_zona'].iloc[0]
    postulaciones_de_usuario = grupo_postulantes.get_group(idpostulante).groupby('nombre_area')
    if area in postulaciones_de_usuario['nombre_area'].groups.keys():
        zonas=postulaciones_de_usuario.get_group(area)['nombre_zona'].value_counts()
        if zonas.index.contains(zona):
            return categorizarFeatures((zonas[zona]-ajuste))
    return 0

In [107]:
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseAreaEnEsaZona(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [108]:
entrenamiento_df['postulaciones_a_ese_area_en_esa_zona'] = pd.DataFrame(feature)

# Feature Postulacion A Empresa

In [109]:
def armarFeaturePostulacionesUsuarioAEsaEmpresa(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    empresa = grupo_avisos.get_group(idaviso)['denominacion_empresa'].iloc[0]
    empresas = grupo_postulantes.get_group(idpostulante)['denominacion_empresa'].value_counts()
    if empresas.index.contains(empresa):
        return categorizarFeatures((empresas[empresa]-ajuste))
    return 0

In [110]:
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [111]:
entrenamiento_df['postulaciones_a_esa_empresa'] = pd.DataFrame(feature)

# Feature Educacion

g_avisos = merge_detalle_postulaciones_df.groupby('idaviso')

def armarFeatureEduDelAvisoYPostulante(idpostulante,idaviso):
    if ((idpostulante in usuarios_con_postulaciones) == False) or  not (idaviso in g_avisos.groups.keys()) :
        return 0
    val_edu = g_avisos.get_group(idaviso)['val_edu'].iloc[0]
    valoracion_edu = postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
    if abs(val_edu-valoracion_edu) < 3:
        return 1
    return 0

feature = entrenamiento_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

entrenamiento_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)

# Feature Edad

### def armarFeatureEdadDelAvisoYPostulante(idpostulante,idaviso):
    if ((idpostulante in usuarios_con_postulaciones) == False) or  not (idaviso in g_avisos.groups.keys()) :
        return 0
    val_edad = g_avisos.get_group(idaviso)['val_edad'].iloc[0]
    edad = postulantes.get_group(idpostulante)['edad'].iloc[0]
    if abs(val_edad-edad) <=3:
        return 1
    return 0

### feature = entrenamiento_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

### entrenamiento_df['relacion_edad_con_aviso'] = pd.DataFrame(feature)

# Feature Edad- Genero -Area

In [121]:
#Cambio el index de postulantes_filtrados para poder usar mejor la funcion que sigue
postulantes_filtrados_df=postulantes_filtrados_df.set_index('idpostulante')

In [116]:
merge_detalle_postulaciones_y_usuarios=merge_detalle_postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante')

In [117]:
grupo_por_edad_sexo = merge_detalle_postulaciones_y_usuarios.groupby(['edad','sexo'])

In [124]:
def obtener_valoracion_feature(area,sexo,edad): 
    result =(((grupo_por_edad_sexo.get_group((edad,sexo)).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())/((grupo_por_edad_sexo.get_group((edad,sexo)).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sum()).sort_values(ascending=False))
    return abs(result[area]*1000)

In [114]:
def categorizarFeaturesEspeciales(num):
    if num==0:
        return num
    if num>0 and num<3:
        return 1
    if num>=3 and num<=7:
        return 2
    if num>7 and num<=20:
        return 3
    if num>20 and num <=35:
        return 4
    if num>35 and num <=50:
        return 5
    return 6

In [122]:
""" Funcion que obtiene en base a la edad, area y sexo, un puntaje especifico."""
def FeatureEdadGeneroArea(idpostulante,idaviso):
    area_aviso = grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    genero = postulantes_filtrados_df.loc[idpostulante]['sexo']
    edad = postulantes_filtrados_df.loc[idpostulante]['edad']
    resultado_parcial =  obtener_valoracion_feature(area_aviso,genero,edad)
    resultado = categorizarFeaturesEspeciales(resultado_parcial)
    return resultado

In [ ]:
feature = entrenamiento_df.apply(lambda row: FeatureEdadGeneroArea(row['idpostulante'], row['idaviso']),axis=1)

In [ ]:
entrenamiento_df['relacion_edad_genero_aviso'] = pd.DataFrame(feature)


# Feature Titulo

In [118]:
import unicodedata
def shave_marks(txt):
    """This method removes all diacritic marks from the given string"""
    norm_txt = unicodedata.normalize('NFD', txt)
    shaved = ''.join(c for c in norm_txt if not unicodedata.combining(c))
    return unicodedata.normalize('NFC', shaved)

In [130]:
from collections import Counter
def armarFeatureInteresEnPalabrasDeTitulo(idpostulante, idaviso, ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    palabras_en_titulos_de_sus_postulaciones = shave_marks(" ".join(grupo_postulantes.get_group(idpostulante)['titulo'].values.tolist()).lower())
    #Saco comas, parentesis, sufijos etc. Para abarcar mas palabras
    titulo_aviso = shave_marks(grupo_avisos.get_group(idaviso)['titulo'].iloc[0].lower()).replace("(",' ').replace(")",' ').replace(",",' ').replace('/',' ').replace(' para ',' ').replace('-',' ').replace(' con ',' ').replace('experiencia',' ').replace('zona',' ').replace('villa',' ').replace('barrio',' ').replace('ero ',' ').replace('era ',' ').replace('cion ',' ').replace('ativo ',' ').replace('ativa ',' ').replace('dor ',' ').replace('dora ',' ').replace('dores ',' ').replace('doras ',' ').replace('ista ',' ').replace('or ',' ').replace('ora ',' ').replace('ico ',' ').replace('ica ',' ').replace('icos ',' ').replace('icas ',' ').replace('time',' ').replace('area',' ').split(" ")
    contador=0
    for x in titulo_aviso:
        if  len(x)>2 and x!='' and palabras_en_titulos_de_sus_postulaciones.count(x) > 0:
            contador = contador + palabras_en_titulos_de_sus_postulaciones.count(x) - ajuste
    return categorizarFeatures(contador)

In [131]:
feature = entrenamiento_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [132]:
entrenamiento_df['interes_en_titulo_de_aviso'] = pd.DataFrame(feature)

# Feature de compatibilidad genero y area

### Armo un feature teniendo en cuenta el genero del postulante y la cantidad de postulantes de ese genero que atrae ese area por aviso

In [133]:
merge_detalle_postulaciones_y_usuarios=merge_detalle_postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante')

In [134]:
interes_fem=merge_detalle_postulaciones_y_usuarios.groupby('sexo').get_group('FEM').nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()

In [135]:
interes_masc=merge_detalle_postulaciones_y_usuarios.groupby('sexo').get_group('MASC').nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()

In [136]:
interes_no_declara_genero=merge_detalle_postulaciones_y_usuarios.groupby('sexo').get_group('NO_DECLARA').nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()

In [137]:
del merge_detalle_postulaciones_y_usuarios

In [138]:
interes_fem.sort_values(ascending=False).head(10)

Recepcionista              912.328990
Secretaria                 768.217822
Asistente                  539.673077
Comunicaciones Externas    470.500000
Call Center                426.908163
Caja                       423.714286
Tesorería                  387.750000
Atención al Cliente        378.832572
Telemarketing              362.669091
Camareros                  322.052083
Name: nombre_area, dtype: float64

In [139]:
interes_masc.sort_values(ascending=False).head(10)

Cadetería                          303.455556
Producción                         266.358908
Almacén / Depósito / Expedición    259.802632
Comunicaciones Externas            255.333333
Tesorería                          242.770492
Atención al Cliente                215.630137
Call Center                        210.653061
Asistente de Tráfico               208.120000
Pasantía / Trainee                 194.183673
Telemarketing                      193.949091
Name: nombre_area, dtype: float64

In [140]:
interes_no_declara_genero.sort_values(ascending=False).head(10)

Camareros                   12.281250
Mantenimiento y Limpieza    10.962712
Recepcionista               10.156352
Call Center                  8.923469
Telemarketing                8.814545
Tesorería                    8.500000
Caja                         8.071429
Pasantía / Trainee           8.061224
Farmacéutica                 7.806452
Secretaria                   7.693069
Name: nombre_area, dtype: float64

In [142]:
def armarFeatureAtraccionGeneroArea(idpostulante,idaviso):

    area = grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    genero = postulantes_filtrados_df.loc[idpostulante]['sexo']
    if genero == 'FEM':
        result = interes_fem[area]
    elif genero =='MASC':
        result = interes_masc[area]
    else :
        result = interes_no_declara_genero[area]
    return (round(result/50)) #para categorizar

In [143]:
feature = entrenamiento_df.apply(lambda row: armarFeatureAtraccionGeneroArea(row['idpostulante'], row['idaviso']),axis=1)

In [144]:
entrenamiento_df['atraccion genero-area']=pd.DataFrame((feature).fillna(0).astype(int))

In [145]:
entrenamiento_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7789638,ow2lG9e,1112372481,1,2,0,1,2,18
7389365,dY5GrXY,1112382258,1,0,1,1,0,3
7186429,aL82NW,1112118171,1,3,1,1,3,8
5175891,1b9jMN,1112273604,1,2,0,1,3,3
5411795,5mPEZQM,1112303576,1,1,0,1,1,4

In [146]:
entrenamiento_df[(entrenamiento_df['postulacion']==1) & (entrenamiento_df['postulaciones_a_ese_area_en_esa_zona']==0) & (entrenamiento_df['postulaciones_a_esa_empresa']==0) & (entrenamiento_df['interes_en_titulo_de_aviso']==0)].shape

(3894, 8)

In [147]:
entrenamiento_df[(entrenamiento_df['postulacion']==1) & (entrenamiento_df['postulaciones_a_ese_area_en_esa_zona']==0) & (entrenamiento_df['postulaciones_a_esa_empresa']==0) & (entrenamiento_df['interes_en_titulo_de_aviso']==0)].sample(10)

,idpostulante,idaviso,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7638383,kPXPNNZ,1111158639,1,0,0,0,0,2
8011603,vV3BbRG,1112410652,1,0,0,1,0,3
5828445,96zrWV1,1112431304,1,0,0,1,0,18
5495491,6KBd5L,1112327018,1,0,0,1,0,2
7675339,lDL18p8,1112437569,1,0,0,1,0,4
6039477,ElBLB4,1112466202,1,0,0,1,0,4
7575814,jkV6PkO,1112366747,1,0,0,1,0,2
7299288,arXzXN,1112339648,1,0,0,0,0,2
5048029,0zd6vjE,1112425807,1,0,0,1,0,8
7464203,eLPl0E,1112404726,1,0,0,1,0,18

In [148]:
#entrenamiento_df=entrenamiento_df[(entrenamiento_df['postulacion']!=1) | (entrenamiento_df['postulaciones_a_ese_area_en_esa_zona']!=0) | (entrenamiento_df['postulaciones_a_esa_empresa']!=0) | (entrenamiento_df['interes_en_titulo_de_aviso']!=0)]

In [149]:
matrix_df = entrenamiento_df

In [150]:
matrix_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7789638,ow2lG9e,1112372481,1,2,0,1,2,18
7389365,dY5GrXY,1112382258,1,0,1,1,0,3
7186429,aL82NW,1112118171,1,3,1,1,3,8
5175891,1b9jMN,1112273604,1,2,0,1,3,3
5411795,5mPEZQM,1112303576,1,1,0,1,1,4

In [151]:
matrix_df.idaviso.shape

(100000,)

In [152]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [153]:
#Ver que está ocupando memoria.
%who

Counter	 agrupacionZona	 armarFeatureAtraccionGeneroArea	 armarFeatureEduDelAvisoYPostulante	 armarFeatureInteresEnPalabrasDeTitulo	 armarFeaturePostulacionesUsuarioAEsaEmpresa	 armarFeaturePostulacionesUsuarioAEseAreaEnEsaZona	 aviso_index	 aviso_list
avisos_detalle_filtrados_df	 avisos_online_df	 avisos_online_df2	 categorizarFeatures	 entrenamiento_df	 feature	 g_avisos	 grupo_avisos	 grupo_postulantes
index	 interes_fem	 interes_masc	 interes_no_declara_genero	 matrix_df	 merge_detalle_postulaciones_df	 n	 no_postulantes_df	 np
pd	 postulaciones_df	 postulantes	 postulantes_df	 postulantes_filtrados_df	 postulantes_filtrados_efectivos_df	 random	 setCategory	 shave_marks
unicodedata	 user_index	 user_list	 usuarios_activos	 usuarios_con_postulaciones	 vistas_df

Me quedo con el indice como "id" de la tupla postulante-aviso.

In [154]:
matrix_df.drop(columns=['idpostulante','idaviso'],axis=1,inplace=True)

In [155]:
matrix_df.head()

,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7789638,1,2,0,1,2,18
7389365,1,0,1,1,0,3
7186429,1,3,1,1,3,8
5175891,1,2,0,1,3,3
5411795,1,1,0,1,1,4

In [156]:
matrix_df['postulacion'].value_counts()

1    50000
0    50000
Name: postulacion, dtype: int64

In [157]:
X = matrix_df

In [158]:
X.head()

,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7789638,1,2,0,1,2,18
7389365,1,0,1,1,0,3
7186429,1,3,1,1,3,8
5175891,1,2,0,1,3,3
5411795,1,1,0,1,1,4

In [99]:
#X = pd.read_csv('training_set.csv')
#X.head()

In [100]:
#X = X.drop(['Unnamed: 0','idpostulante','idaviso'],axis=1)

In [101]:
#X = X[X.postulacion == 1].head(1000000).append(X[X.postulacion == 0].head(1000000))

In [159]:
y = X['postulacion']
X.head()

,postulacion,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,atraccion genero-area
7789638,1,2,0,1,2,18
7389365,1,0,1,1,0,3
7186429,1,3,1,1,3,8
5175891,1,2,0,1,3,3
5411795,1,1,0,1,1,4

In [160]:
X = X.drop('postulacion',axis=1)

In [161]:
X.shape

(100000, 5)

In [162]:
y.shape

(100000,)

# Test Final DF

In [163]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [164]:
test_final_df.head(2)

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL

In [165]:
#feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaZona(row['idpostulante'], row['idaviso'],0),axis=1)

In [166]:
#test_final_df['postulaciones_a_esa_zona'] = pd.DataFrame(feature)

In [167]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseAreaEnEsaZona(row['idpostulante'], row['idaviso'],0),axis=1)
test_final_df['postulaciones_a_ese_area_en_esa_zona']=pd.DataFrame(feature)

In [168]:
test_final_df.head(2)

   id  idaviso idpostulante  postulaciones_a_ese_area_en_esa_zona
0   0   739260       6M9ZQR                                     0
1   1   739260       6v1xdL                                     2

In [169]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],0),axis=1)

In [170]:
test_final_df['postulaciones_a_esa_empresa']=pd.DataFrame(feature)

In [ ]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa
0,0,739260,6M9ZQR,0,0
1,1,739260,6v1xdL,2,0

In [ ]:
feature = test_final_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [ ]:
test_final_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)

In [ ]:
test_final_df.head(2)

In [ ]:
feature = test_final_df.apply(lambda row: armarFeatureEdadDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [ ]:
test_final_df['relacion_edad_con_aviso'] = pd.DataFrame(feature)

In [ ]:
feature = test_final_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],0),axis=1)

In [ ]:
test_final_df['interes_en_titulo_de_aviso']=pd.DataFrame(feature)

In [ ]:
test_final_df.head(2)

In [ ]:
feature = test_final_df.apply(lambda row: armarFeatureAtraccionGeneroArea(row['idpostulante'], row['idaviso']),axis=1)
test_final_df['atraccion genero-area']=pd.DataFrame((feature).fillna(0).astype(int))

In [ ]:
test_final_df[(test_final_df['postulaciones_a_ese_area_en_esa_zona']==0) & (test_final_df['postulaciones_a_esa_empresa']==0) & (test_final_df['interes_en_titulo_de_aviso']==0)].shape

Chequeamos que esten todos los datos.

In [ ]:
test_final_df.shape

In [ ]:
test_final_df = test_final_df.drop(['id','idaviso','idpostulante'],axis=1)

In [ ]:
test_final_df.head()

In [ ]:
test_final_df.to_csv('test_final_df.csv')

In [ ]:
#test_final_df = pd.read_csv('test_final_df.csv')
#test_final_df.drop('Unnamed: 0',1,inplace=True)

In [ ]:
test_final_df.head()

# Visualizacion del set de etrenamiento

In [419]:
import matplotlib.pyplot as plt

In [541]:
#plt.scatter(X[:,0], X[:,1], alpha=0.4, c=trainLabels)
#plt.title("Datos de 'entrenamiento'")
#plt.show()

In [31]:
X.head()

,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,relacion_edad_con_aviso,interes_en_titulo_de_aviso
341,205,124,1,1,0,182
905,17,23,0,1,0,53
2338,14,8,0,0,1,3
6305,3,0,1,0,0,2
16281,72,1,1,1,0,9

In [33]:
test_final_df.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso,postulaciones_a_esa_zona
0,0,0,0,0,0
1,5,0,4,0,4
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0

# XGBoost

In [120]:
from sklearn.model_selection import cross_val_score

In [121]:
import xgboost as xgb

In [128]:
xgbclassiffier = xgb.XGBClassifier(max_depth=4, learning_rate=0.1)

In [39]:
scores = cross_val_score(xgbclassiffier,X,y)
scores.mean()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8995355009472982

In [129]:
xgbclassiffier.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=4, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [132]:
pred = xgbclassiffier.predict_proba(test_final_df)

In [133]:
pred = pred[:,1]

In [157]:
list(zip(X[X.columns], xgbclassiffier.feature_importances_))

[('postulaciones_a_esa_zona', 0.20666666),
 ('postulaciones_a_ese_area', 0.15133333),
 ('postulaciones_a_esa_empresa', 0.12733333),
 ('relacion_educacion_con_aviso', 0.154),
 ('relacion_edad_con_aviso', 0.104666665),
 ('interes_en_titulo_de_aviso', 0.256)]

# Random Forest

In [406]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [407]:
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [408]:
list(zip(X[X.columns], clf.feature_importances_))

[('postulaciones_a_ese_area', 0.4881500396704431),
 ('postulaciones_a_esa_empresa', 0.023675258915016303),
 ('relacion_educacion_con_aviso', 0.09644698650180368),
 ('interes_en_titulo_de_aviso', 0.39172771491273684)]

In [409]:
pred = clf.predict_proba(test_final_df)

pred = pred[:,1]

# Random Forest con Bagging

In [ ]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=clf,n_estimators=10)

In [398]:
bc.fit(X,y)

BaggingClassifier(base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [542]:
pred = bc.predict_proba(test_final_df)

In [ ]:
pred = pred[:,1]

# Perceptron

In [123]:
from sklearn.linear_model import Perceptron
ptron = Perceptron()

In [124]:
ptron.fit(X,y)

/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False)

In [125]:
ptron.score(X,y)

0.89038

In [383]:
pred = ptron.predict(test_final_df)

In [384]:
#Si se quiere hacer un submit solo con perceptron, pasar directo al Armado de Submit

# Bagging con Perceptron

In [126]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=ptron,n_estimators=50)

In [127]:
bc.fit(X,y)

/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
/home/luciano/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

BaggingClassifier(base_estimator=Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [128]:
bc.score(X,y)

0.89004

In [220]:
pred = bc.predict_proba(test_final_df)

In [221]:
pred = pred[:,1]

# Perceptron multinivel

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier()

In [ ]:
mlp.fit(X,y)

In [ ]:
pred = mlp.predict(test_final_df)

# KNN

In [129]:
from sklearn.neighbors import KNeighborsClassifier

In [130]:
knn = KNeighborsClassifier(n_neighbors=50)

In [131]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=50, p=2,
           weights='uniform')

In [132]:
knn.score(X,y)

0.73056

In [ ]:
knn.predict(test_final_df)

# Bagging KNN

In [ ]:
from sklearn.ensemble import BaggingClassifier
bcknn = BaggingClassifier(base_estimator=knn,n_estimators=20)

In [ ]:
bcknn.fit(X,y)

In [ ]:
bcknn.score(X,y)

In [ ]:
pred=bcknn.predict_proba(test_final_df)

# Naive_Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
matrix_df.head()

In [ ]:
X.head()

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
X.columns

In [ ]:
#from sklearn.preprocessing import StandardScaler

#features = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']
#X = X.loc[:, features].values
#X = StandardScaler().fit_transform(X)
#X

In [ ]:
#X = pd.DataFrame(X)
#X.columns = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']

#X.head()

In [ ]:
y.value_counts()

In [ ]:
nb.fit(X, y)

In [ ]:
nb.score(X,y)

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
pred = nb.predict(test_final_df)

# Boosting

In [133]:
from sklearn.ensemble import AdaBoostClassifier



#.drop(['interes_en_titulo_de_aviso','relacion_educacion_con_aviso'],axis=1)

adaboost = AdaBoostClassifier(n_estimators=100)

In [134]:
from sklearn.model_selection import cross_val_score

In [135]:
X.head()

,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,interes_en_titulo_de_aviso,atraccion genero-area
10693399,1,1,1,4
7332385,1,1,2,2
7423433,2,0,3,2
5429375,3,1,3,8
10415422,3,0,3,5

In [136]:
scores = cross_val_score(adaboost,X,y)
scores.mean()

0.8905299753119302

In [138]:
adaboost.fit(X,y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=None)

In [139]:
test_final_df.head()

,postulaciones_a_ese_area_en_esa_zona,postulaciones_a_esa_empresa,interes_en_titulo_de_aviso,atraccion genero-area
0,0,0,0,3
1,2,0,0,2
2,0,0,0,3
3,0,0,0,1
4,0,0,0,0

In [140]:
pred = adaboost.predict_proba(test_final_df)

In [141]:
pred = pred[:,1]

In [142]:
list(zip(X, adaboost.feature_importances_))

[('postulaciones_a_ese_area_en_esa_zona', 0.08),
 ('postulaciones_a_esa_empresa', 0.06),
 ('interes_en_titulo_de_aviso', 0.16),
 ('atraccion genero-area', 0.7)]

# Gradient Boosting

In [518]:
from sklearn.ensemble import GradientBoostingClassifier

In [519]:
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=2, random_state=0)

In [521]:
gb.fit(X,y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1.0, loss='deviance', max_depth=2,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [526]:
pred = gb.predict_proba(test_final_df)

In [527]:
pred = pred[:,1]

In [540]:
scores = cross_val_score(gb, X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1),y)
scores

array([0.88849223, 0.88884889, 0.88647886])

# ARMADO DE SUBMIT

In [143]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [144]:
test_final_df['sepostulo'] = pd.DataFrame(pred)

In [145]:
submit = test_final_df.drop(['idaviso','idpostulante'],axis=1)

In [146]:
submit.set_index('id',inplace=True)

In [147]:
submit.head()

    sepostulo
id
0    0.493254
1    0.497682
2    0.493254
3    0.492747
4    0.490618

In [148]:
submit.sepostulo.value_counts()

0.493254    21181
0.492747     9548
0.490618     6274
0.511453     4687
0.493803     4179
0.494427     3087
0.507261     2620
0.510511     2389
0.509895     2323
0.497938     2266
0.507877     1484
0.512001     1354
0.497430     1265
0.512625     1212
0.495299     1120
0.511816      996
0.497066      977
0.501750      942
0.504694      906
0.507810      827
0.509387      790
0.506753      730
0.511059      702
0.510873      627
0.500505      616
0.495402      600
0.515185      568
0.508434      567
0.512988      525
0.510946      516
            ...
0.508250        1
0.507497        1
0.500955        1
0.514385        1
0.503443        1
0.501325        1
0.511942        1
0.503036        1
0.503290        1
0.506001        1
0.505718        1
0.507941        1
0.505354        1
0.500118        1
0.503034        1
0.506326        1
0.502802        1
0.507205        1
0.508441        1
0.506101        1
0.505683        1
0.504140        1
0.503084        1
0.507399        1
0.506009        1
0.504616        1
0.500944        1
0.497736        1
0.499645        1
0.512184        1
Name: sepostulo, Length: 488, dtype: int64

In [149]:
submit.head()

    sepostulo
id
0    0.493254
1    0.497682
2    0.493254
3    0.492747
4    0.490618

In [150]:
submit.to_csv('Submit_file.csv')

# Cuentas Edad Genero Area

postulantes_filtrados_df.edad.value_counts()

merge_detalle_postulaciones_y_usuarios=merge_detalle_postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante')

merge_detalle_postulaciones_y_usuarios.edad.value_counts().head(10)

filtro =( merge_detalle_postulaciones_y_usuarios.edad > 30) & (merge_detalle_postulaciones_y_usuarios.edad <= 35)

grupo_por_edad_sexo.get_group((25,'FEM')).shape[0]

grupo_por_edad_sexo.get_group((25,'MASC')).shape[0]

grupo_por_edad_sexo = merge_detalle_postulaciones_y_usuarios.groupby(['edad','sexo'])

Formula

(((grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())/((grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sum()).sort_values(ascending=False))*100

(((grupo_por_edad_sexo.get_group((20,'FEM')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())/((grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sum()).sort_values(ascending=False))*100

((grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts()*100) / grupo_por_edad_sexo.get_group((25,'MASC')).shape[0])

grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts().sum()

grupo_por_edad_sexo.get_group((25,'MASC')).shape[0]

((grupo_por_edad_sexo.get_group((25,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sort_values(ascending=False).head(10)

((grupo_por_edad_sexo.get_group((25,'FEM')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sort_values(ascending=False).head(10)

((grupo_por_edad_sexo.get_group((26,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts())).sort_values(ascending=False).head(10)

grupo_por_edad.get_group(27).nombre_area.value_counts().head(10)

(grupo_por_edad_sexo.get_group((28,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()).sort_values(ascending=False).head(10)

(grupo_por_edad_sexo.get_group((28,'FEM')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()).sort_values(ascending=False).head(10)

grupo_por_edad.get_group(29).nombre_area.value_counts().head(10)

grupo_por_edad.get_group(30).nombre_area.value_counts().head(10)

(grupo_por_edad_sexo.get_group((31,'MASC')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()).sort_values(ascending=False).head(10)

(grupo_por_edad_sexo.get_group((31,'FEM')).nombre_area.value_counts()/avisos_detalle_filtrados_df.nombre_area.value_counts()).sort_values(ascending=False).head(10)

grupo_por_edad.get_group(32).nombre_area.value_counts().head(10)

grupo_por_edad.get_group(33).nombre_area.value_counts().head(10)

grupo_por_edad.get_group(34).nombre_area.value_counts().head(10)

grupo_por_edad.get_group(35).nombre_area.value_counts().head(10)

filtro = (postulantes_filtrados_df.edad < 17) | (postulantes_filtrados_df.edad > 70)

postulantes_filtrados_df[filtro].shape

postulantes_filtrados_df[filtro].merge(test_final_df,on='idpostulante',how='inner').edad.value_counts()

postulantes_filtrados_df[postulantes_filtrados_df.edad == 102]

postulaciones_df[postulaciones_df.idpostulante =='a6v23N']