In [1]:
import pandas as pd

In [2]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_1_postulantes_educacion.csv')
postulantes_gye_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_2_postulantes_genero_y_edad.csv')
vistas_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_3_vistas.csv')
postulaciones_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_4_postulaciones.csv')
avisos_online_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_5_avisos_online.csv')
avisos_detalle_df = pd.read_csv('Datos para entrenar/Datos hasta 15 de abril (distintos a los del TP1)/fiuba_6_avisos_detalle.csv')

In [3]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_4_postulaciones.csv')
avisos_online_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('Datos para entrenar/Datos TP1/fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [9]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('Datos para entrenar/Datos desde 15 de abril/fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('Datos para entrenar/Datos desde 15 de abril/fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv('Datos para entrenar/Datos desde 15 de abril/fiuba_3_vistas.csv')
avisos_detalle_df2 = pd.read_csv('Datos para entrenar/Datos desde 15 de abril/fiuba_6_avisos_detalle.csv')

In [8]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('Datos para entrenar/fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [10]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

In [11]:
postulantes_edu_df.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [12]:
postulantes_gye_df.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA
2          ZX1             NaN  NO_DECLARA
3          Nq5             NaN  NO_DECLARA
4          ebE      1952-07-07        MASC

In [13]:
vistas_df.head()

      idAviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0
1  1112400775  2018-04-06T01:43:48.330-0400      kPjr2K0
2  1112426664  2018-04-06T01:43:50.042-0400      GNOwZmb
3  1112426664  2018-04-06T01:43:51.171-0400      GNOwZmb
4  1112445738  2018-04-06T01:43:46.371-0400      lDLxajz

In [14]:
avisos_detalle_df.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>Responsable de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ingeniería Eléctrica y Electrónica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>Importante Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p> </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energías renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [15]:
test_final_df = pd.read_csv('Datos para test/test_final_100k.csv')

In [16]:
test_final_df.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [17]:
test_final_df.idaviso.unique().shape

(14140,)

In [18]:
test_final_df.idpostulante.unique().shape

(64646,)

In [19]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [20]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [22]:
#Sacamos los repetidos de postualntes_gye

postulantes_gye_df = postulantes_gye_df.drop_duplicates('idpostulante')
postulantes_gye_df.shape

(504407, 3)

In [29]:
test_final_df.drop_duplicates('idpostulante').merge(postulantes_gye_df,on='idpostulante',how='inner').shape

(64646, 5)

In [31]:
#Sacamos los repetidos de avisos_detalle

avisos_detalle_df = avisos_detalle_df.drop_duplicates('idaviso')

In [32]:
test_final_df.drop_duplicates('idaviso').merge(avisos_detalle_df,on='idaviso',how='inner').shape

(14140, 13)

In [34]:
#Comparamos los postulantes con las postulaciones

print(postulantes_gye_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

In [47]:
merge = postulaciones_df.merge(postulantes_gye_df,on='idpostulante',how='inner')
merge.idpostulante.unique().shape

(348883,)

In [48]:
merge = merge.drop_duplicates('idpostulante')
merge.shape

(348883, 5)

In [49]:
print(postulantes_gye_df.columns)
print(merge.columns)

Index(['idpostulante', 'fechanacimiento', 'sexo'], dtype='object')
Index(['idaviso', 'idpostulante', 'fechapostulacion', 'fechanacimiento',
       'sexo'],
      dtype='object')

In [50]:
merge =  merge.drop(['idaviso','fechapostulacion'],axis='columns')
merge = merge.reset_index()
merge.head()

   index idpostulante fechanacimiento  sexo
0      0         NjlD      1981-06-02   FEM
1      1         ZaO5      1978-08-10   FEM
2     92         NdJl      1969-05-09  MASC
3    122         5kNq      1973-02-08  MASC
4    132         Ez8J      1968-12-18  MASC

In [51]:
merge =  merge.drop('index',axis='columns')
merge.head()

  idpostulante fechanacimiento  sexo
0         NjlD      1981-06-02   FEM
1         ZaO5      1978-08-10   FEM
2         NdJl      1969-05-09  MASC
3         5kNq      1973-02-08  MASC
4         Ez8J      1968-12-18  MASC

In [52]:
postulantes_gye_df.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA
2          ZX1             NaN  NO_DECLARA
3          Nq5             NaN  NO_DECLARA
4          ebE      1952-07-07        MASC

In [53]:
postulantes_gye_df = merge
postulantes_gye_df.head()

  idpostulante fechanacimiento  sexo
0         NjlD      1981-06-02   FEM
1         ZaO5      1978-08-10   FEM
2         NdJl      1969-05-09  MASC
3         5kNq      1973-02-08  MASC
4         Ez8J      1968-12-18  MASC

In [54]:
postulantes_gye_df.shape

(348883, 3)