In [130]:
import pandas as pd
import random
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [131]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('fiuba_1_postulantes_educacion_h15.csv')
postulantes_gye_df = pd.read_csv('fiuba_2_postulantes_genero_y_edad_h15.csv')
#vistas_df = pd.read_csv('fiuba_3_vistas_h15.csv')
postulaciones_df = pd.read_csv('fiuba_4_postulaciones_h15.csv')
#avisos_online_df = pd.read_csv('fiuba_5_avisos_online_h15.csv')
avisos_detalle_df = pd.read_csv('fiuba_6_avisos_detalle_h15.csv')

In [132]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
#vistas_df2 = pd.read_csv('fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('fiuba_4_postulaciones.csv')
#avisos_online_df2 = pd.read_csv('fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle.csv')

In [133]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
#vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
#avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [134]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion_d15.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad_d15.csv')
#vistas_df2 = pd.read_csv('fiuba_3_vistas_d15.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle_d15.csv')

In [135]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [136]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
#vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

# Libero Espacio de la Memoria

In [137]:
del postulantes_edu_df2
del postulantes_gye_df2
#del vistas_df2
del avisos_detalle_df2

# Filtrado de Postulantes con informacion completa

In [138]:
postulantes_edu_df.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [139]:

postulantes_gye_df.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA
2          ZX1             NaN  NO_DECLARA
3          Nq5             NaN  NO_DECLARA
4          ebE      1952-07-07        MASC

In [140]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [141]:
postulantes_edu_df.estado.value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [142]:
postulantes_edu_df.nombre.value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [143]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [144]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [145]:
postulantes_edu_df['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [146]:
def setCategory(c):
    if c == 'Graduado':
        return 2
    elif c == 'En Curso':
        return 1
    return 0

In [147]:
postulantes_edu_df['valor_estado'] = postulantes_edu_df['estado'].apply(setCategory)

In [148]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado
0         ZjlZ         Master  En Curso             1
1         NdJl       Posgrado  En Curso             1
2         5kNq           Otro  En Curso             1
3         8rYD         Master  En Curso             1
4         1Wvj  Universitario  En Curso             1

In [149]:
postulantes_edu_df['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [150]:
def setCategory(c):
    
    if c == 'Doctorado':
        return 12
    elif c == 'Master':
        return 10
    elif c == 'Posgrado':
        return 8
    elif c == 'Universitario':
        return 6
    elif c == 'Terciario/TÃ©cnico':
        return 4
    elif c == 'Secundario':
        return 2
    return 0

In [151]:
postulantes_edu_df['valor_nombre'] = postulantes_edu_df['nombre'].apply(setCategory)

In [152]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado  valor_nombre
0         ZjlZ         Master  En Curso             1            10
1         NdJl       Posgrado  En Curso             1             8
2         5kNq           Otro  En Curso             1             0
3         8rYD         Master  En Curso             1            10
4         1Wvj  Universitario  En Curso             1             6

In [153]:
postulantes_edu_df['valoracion_edu'] = postulantes_edu_df['valor_estado'] + postulantes_edu_df['valor_nombre']
postulantes_edu_df.drop(columns=['valor_estado','valor_nombre','nombre','estado'],axis=1,inplace=True)
postulantes_edu_df.sort_values(by='valoracion_edu',ascending=False,inplace=True)
postulantes_edu_df.drop_duplicates(inplace=True)
postulantes_edu_df.head()

       idpostulante  valoracion_edu
318724       N9AN45              14
128733      vV9Ewjj              14
337840       aMbWjD              14
398665      OqmK81N              14
14753       JBrVvBp              14

In [154]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [155]:
def setCategory(c):
    if c == '0.0':
        return 'NO_DECLARA'
    return c

In [156]:
postulantes_gye_df['sexo'] = postulantes_gye_df['sexo'].apply(setCategory)

In [157]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25943
Name: sexo, dtype: int64

In [158]:
#Para la informacion faltante agregamos una Categoria no declara
postulantes_filtrados_df = postulantes_gye_df.merge(postulantes_edu_df,on='idpostulante',how='outer')

print(postulantes_filtrados_df.shape)

postulantes_filtrados_df['idpostulante'].unique().shape

(738053, 4)

(504407,)

In [159]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             NaN
1          Nzz             NaN  NO_DECLARA             NaN
2          ZX1             NaN  NO_DECLARA             NaN
3          Nq5             NaN  NO_DECLARA             NaN
4          ebE      1952-07-07        MASC            10.0

In [160]:
postulantes_filtrados_df['sexo'].fillna('NO_DECLARA',inplace=True)
postulantes_filtrados_df['valoracion_edu'].fillna(0, inplace=True)
postulantes_filtrados_df['fechanacimiento'].fillna('1918-01-01', inplace=True)

In [161]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             0.0
1          Nzz      1918-01-01  NO_DECLARA             0.0
2          ZX1      1918-01-01  NO_DECLARA             0.0
3          Nq5      1918-01-01  NO_DECLARA             0.0
4          ebE      1952-07-07        MASC            10.0

In [162]:
postulantes_filtrados_df.shape

(738053, 4)

In [163]:
postulantes_filtrados_df.sort_values(by='sexo',inplace=True)

In [164]:
#Sacamos los repetidos de postulantes_filtrados_df

postulantes_filtrados_df = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes_filtrados_df.shape

(504407, 4)

In [165]:
postulantes_filtrados_df.sexo.value_counts()

FEM           251226
MASC          227832
NO_DECLARA     25349
Name: sexo, dtype: int64

In [166]:
postulantes_filtrados_df.idpostulante.unique().shape

(504407,)

In [167]:
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             0.0

In [168]:
postulantes_filtrados_df.fechanacimiento.describe()

count         504407
unique         17247
top       1918-01-01
freq           26080
Name: fechanacimiento, dtype: object

In [169]:
#Obtengo la edad
postulantes_edad_trucha = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == True]
postulantes_edad_trucha['fechanacimiento'] = '1918-01-01'
postulantes_edad_trucha.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       idpostulante fechanacimiento sexo  valoracion_edu
299748      8M2R6pz      1918-01-01  FEM             0.0
311804      0zkAXBE      1918-01-01  FEM             7.0
341475      VNrP8EE      1918-01-01  FEM             0.0
347580      xkdB9JK      1918-01-01  FEM             8.0
324043      VNxMRxj      1918-01-01  FEM             2.0

In [170]:
postulantes_filtrados_df = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == False]
postulantes_filtrados_df = postulantes_filtrados_df.append(postulantes_edad_trucha)
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             0.0

In [171]:
postulantes_filtrados_df.shape

(504407, 4)

In [172]:
postulantes_filtrados_df.loc[:,'fechanacimiento'] = pd.to_datetime(postulantes_filtrados_df['fechanacimiento']) 
postulantes_filtrados_df.loc[:,'edad'] = (2018 - postulantes_filtrados_df.fechanacimiento.dt.year)
postulantes_filtrados_df.drop(columns='fechanacimiento',axis=1,inplace=True)
postulantes_filtrados_df.head()
#Generar edad por bloques, como queremos hacer con las empresas mas populares.

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             0.0    21

In [173]:
postulantes_filtrados_df.head()

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             0.0    21

# Avisos Detalle

In [174]:
avisos_detalle_df.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [175]:
print(avisos_detalle_df.shape)
print(avisos_detalle_df['idaviso'].unique().shape)

(25901, 11)
(25288,)

In [176]:
#Sacamos los repetidos de avisos_detalle
avisos_detalle_filtrados_df = avisos_detalle_df.drop_duplicates('idaviso')
avisos_detalle_df.shape

(25901, 11)

In [177]:
del avisos_detalle_df

In [178]:
#Me quedo con los avisos del archivo de postulaciones. Esto seria, solo los avisos que tuvieron postulaciones.


#Â¿Aca me podria quedar con los archivos que NO tuvieron postulaciones para armar un set de NO postulaciones?

#column = postulaciones_df['idaviso'].to_frame()
#avisos_detalle_filtrados_df = column.drop_duplicates('idaviso').merge(avisos_detalle_df,on='idaviso',how='inner')
#avisos_no_postulaciones_df = pd.merge(avisos_detalle_df,avisos_detalle_filtrados_df,on='idaviso',how='right') 
#IMPLEMENTAR
avisos_detalle_filtrados_df.shape

(25288, 11)

Hago la conversion de variables categoricas a variables numericas

In [179]:
#Hago un drop de las columnas que no voy a utilizar.
#Mas adelanto debo modificar esto porque la idea es usar denominacion empresa, descripcion y titulo para nuevos features.

avisos_detalle_filtrados_df= avisos_detalle_filtrados_df.drop(columns=['idpais','mapacalle','ciudad','descripcion','titulo'],axis=1)

In [180]:
avisos_detalle_filtrados_df.head()

,idaviso,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,Gran Buenos Aires,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

# Postulaciones

In [181]:
postulantes_filtrados_df['idpostulante'].unique().shape

(504407,)

In [182]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [183]:
#Comparamos los "usuarios" con los  postulantes.

print(postulantes_filtrados_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

In [184]:
#Como resultado tenemos los postulantes que coinciden en postulaciones y postulantes
#Observamos que hay postulaciones de usuarios que no estan en el dataframe de postulantes.
postulantes_filtrados_efectivos_df = postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')
postulantes_filtrados_efectivos_df.idpostulante.unique().shape

(348883,)

In [185]:
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.drop_duplicates('idpostulante')
postulantes_filtrados_efectivos_df.shape

(348883, 6)

In [186]:
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop(['idaviso','fechapostulacion'],axis='columns')
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.reset_index()
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop('index',axis='columns')
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [187]:
# postulantes_filtrados_efectivos_df tiene los postulantes que efectivamente se postularon
# y que ademas tienen informacion sobre edad y estudios, etc.
# Los que estan en postulaciones pero NO en gye y edu, fueron descartados en este paso.
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [188]:
postulantes_filtrados_efectivos_df.shape

(348883, 4)

# Me fijo si las vistas implican una no postulacion

In [189]:
#vistas_df.head()

In [190]:
#vistas_df.columns=['idaviso','timestamp','idpostulante']

In [191]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [192]:
#Efectivamente una "vista" no implica una no postulacion.
#postulaciones_df.merge(vistas_df,on=['idaviso','idpostulante'],how='inner').head()

# Armado del Set de Entrenamiento

In [193]:
# Primero armo un dataframe con la informacion de postulaciones que ya tengo -> postulantes_df
# Observar que aca puede haber postulantes sobre los cuales no tengo informacion sobre genero y edad.
# Tambien puede haber postulantes que luego no aparezcan en el test final.


# Â¿Deberia filtrar los postulantes sobre los cuales no tengo info sobre su genero y edad?
avisos = avisos_detalle_filtrados_df
avisos = avisos['idaviso'].to_frame()

postulantes = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes = postulantes['idpostulante'].to_frame()


postulantes_df =  postulaciones_df.merge(avisos,how='inner',on='idaviso')
postulantes_df = postulantes_df.merge(postulantes,how='inner',on='idpostulante')

postulantes_df =postulantes_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
postulantes_df.columns=['postulacion']
postulantes_df['postulacion'] = 1 #Para los casos en que se repiten.

avisos = 0
postulantes = 0

In [194]:
postulantes_df.head()

                         postulacion
idpostulante idaviso
0z5Dmrd      1112384041            1
             1112420060            1
0z5JW1r      1112257171            1
             1112281879            1
             1112292169            1

In [195]:
postulantes_df.reset_index(inplace=True)

In [196]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [197]:
postulantes_df.idaviso.unique().shape

(18695,)

In [198]:
#avisos_detalle_df['idaviso'].unique().shape

In [199]:
#Armado de NO postulaciones

#Verificar que las listas utilizadas sean las correctas. Estamos usando solo avisos con postulacion.

#Â¿Podriamos usar los avisos que no tienen postulacion?


lista = []
user_list = postulantes_filtrados_df['idpostulante'].unique() #Utilizo a todos los usuarios. 
aviso_list = avisos_detalle_filtrados_df['idaviso'].unique() #Utilizo todos los avisos.
index = 1
for n in range(10000):
    for i in range(500):
        user_index = random.randint(0,504371)
        aviso_index = random.randint(0,25287)
        lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
        index+=1

In [200]:
no_postulantes_df = pd.DataFrame(lista)

In [201]:
#postulantes_filtrados_df=0
#avisos_detalle_df= 0
#avisos_detalle_filtrados_df=0
#avisos_online_df=0
#postulaciones_df=0
del lista

In [202]:
no_postulantes_df.memory_usage(deep=True).sum()

438943717

In [203]:
no_postulantes_df.head()

   0        1           2  3
0  1   5RNvLq  1112382474  0
1  2   NeXPE5  1112315814  0
2  3  bOze9d0  1112314995  0
3  4  OqLJQzx  1112252542  0
4  5  akb0mQN  1112210610  0

In [204]:
no_postulantes_df.drop(0,axis='columns',inplace=True)

In [205]:
no_postulantes_df.head()

         1           2  3
0   5RNvLq  1112382474  0
1   NeXPE5  1112315814  0
2  bOze9d0  1112314995  0
3  OqLJQzx  1112252542  0
4  akb0mQN  1112210610  0

In [206]:
no_postulantes_df.columns= ['idpostulante','idaviso','postulacion']

In [207]:
no_postulantes_df.shape

(5000000, 3)

In [208]:
no_postulantes_df.head()

  idpostulante     idaviso  postulacion
0       5RNvLq  1112382474            0
1       NeXPE5  1112315814            0
2      bOze9d0  1112314995            0
3      OqLJQzx  1112252542            0
4      akb0mQN  1112210610            0

In [209]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [210]:
#Junto el dataframe donde tengo los postulantes con el aviso al que se postularon
#Con el dataframe generado al azar.
entrenamiento_df = no_postulantes_df.merge(postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [211]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y
0       5RNvLq  1112382474            0.0            NaN
1       NeXPE5  1112315814            0.0            NaN
2      bOze9d0  1112314995            0.0            NaN
3      OqLJQzx  1112252542            0.0            NaN
4      akb0mQN  1112210610            0.0            NaN

In [212]:
entrenamiento_df['postulacion_x'].fillna(0,inplace=True)
entrenamiento_df['postulacion_y'].fillna(0,inplace=True)

In [213]:
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion_x'] + entrenamiento_df['postulacion_y']

In [214]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y  postulacion
0       5RNvLq  1112382474            0.0            0.0          0.0
1       NeXPE5  1112315814            0.0            0.0          0.0
2      bOze9d0  1112314995            0.0            0.0          0.0
3      OqLJQzx  1112252542            0.0            0.0          0.0
4      akb0mQN  1112210610            0.0            0.0          0.0

In [215]:
 entrenamiento_df.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [216]:
entrenamiento_df['postulacion'] = pd.Categorical(entrenamiento_df['postulacion'])
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion'].cat.codes
entrenamiento_df['postulacion'].value_counts()

1    6187929
0    4997592
Name: postulacion, dtype: int64

In [217]:
# Hasta aca Ya tenemos nuestro formato (id,postulante,aviso,postulacion)
entrenamiento_df.head()

  idpostulante     idaviso  postulacion
0       5RNvLq  1112382474            0
1       NeXPE5  1112315814            0
2      bOze9d0  1112314995            0
3      OqLJQzx  1112252542            0
4      akb0mQN  1112210610            0

In [218]:
entrenamiento_df.tail()

         idpostulante     idaviso  postulacion
11185516      zvxzrWm  1112438823            1
11185517      zvxzrWm  1112442213            1
11185518      zvxzrWm  1112445486            1
11185519      zvxzrWm  1112448822            1
11185520      zvxzrWm  1112455515            1

In [219]:
entrenamiento_df.idaviso.unique().shape

(25288,)

In [220]:
#avisos_detalle_df.idaviso.unique().shape

# Armo la Matriz de Features

In [221]:
del postulantes_edu_df
del postulantes_gye_df
del postulantes_edad_trucha
del avisos_detalle_missing
del postulaciones_df2

In [222]:
#entrenamiento_df=pd.read_csv('entrenamiento_df_1')
#entrenamiento_df.drop('Unnamed: 0',axis=1,inplace=True)
#avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_df')
#postulantes_filtrados_df=postulantes_filtrados_nuevo

In [223]:
entrenamiento_df['postulacion'].value_counts()

1    6187929
0    4997592
Name: postulacion, dtype: int64

In [224]:
#Aca me quedo con solo 100000 datos del set de entrenamiento, sino me tarda demasiado
entrenamiento_df = entrenamiento_df.sample(100000)

In [225]:
#Copio el merge que usamos en el TP1
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')

In [226]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112248724,NjlD,2018-01-19 07:39:16,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
1,1112248724,MV6eM8N,2018-01-30 23:44:30,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
2,1112248724,5LzQkN,2018-01-15 07:23:49,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
3,1112248724,8M2rOBz,2018-01-30 22:20:45,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
4,1112248724,Dr6V3Da,2018-01-23 15:11:35,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack

In [227]:
grupo_postulantes=merge_detalle_postulaciones_df.groupby('idpostulante')
grupo_avisos=avisos_detalle_filtrados_df.groupby('idaviso')

In [228]:
#Armo lista de los usuarios que se postularon a algun aviso del que yo tenga datos en avisos_detalle
usuarios_con_postulaciones=grupo_postulantes.groups.keys()

In [229]:
def armarFeaturePostulacionesUsuarioAEseArea(idpostulante,idaviso):
    if (idpostulante in usuarios_con_postulaciones) == False:#(idpostulante in usuarios_sin_postulaciones['idpostulante'].values):
        return 0
    area=grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    areas=grupo_postulantes.get_group(idpostulante)['nombre_area'].value_counts()
    if areas.index.contains(area):
        return areas[area]
    return 0

In [230]:
#Tarda mucho, por eso me quedÃ© solo con 100000 datos del entrenamiento_df
feature=entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso']),axis=1)

In [231]:
((pd.DataFrame(feature))[0]==entrenamiento_df['postulacion']).value_counts()

True     50186
False    49814
dtype: int64

In [232]:
entrenamiento_df['postulaciones_a_ese_area']=pd.DataFrame(feature)

In [233]:
def armarFeaturePostulacionesUsuarioAEsaEmpresa(idpostulante,idaviso):
    if (idpostulante in usuarios_con_postulaciones) == False:#(idpostulante in usuarios_sin_postulaciones['idpostulante'].values):
        return 0
    empresa=grupo_avisos.get_group(idaviso)['denominacion_empresa'].iloc[0]
    empresas=grupo_postulantes.get_group(idpostulante)['denominacion_empresa'].value_counts()
    if empresas.index.contains(empresa):
        return empresas[empresa]
    return 0

In [234]:
feature=entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso']),axis=1)

In [235]:
entrenamiento_df['postulaciones_a_esa_empresa']=pd.DataFrame(feature)

In [236]:
matrix_df=entrenamiento_df

In [237]:
matrix_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_ese_area,postulaciones_a_esa_empresa
10562033,qekz2Qx,1112298971,1,16,1
2810977,NzP1oLz,1111753043,0,7,0
3695045,Yj5KOGD,1112274668,0,0,0
7109942,EzlBDpz,1112372006,1,20,1
6662729,A3XmJ9j,1112262226,1,44,2

In [238]:
matrix_df.idaviso.shape

(100000,)

In [239]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [240]:
%who

KNeighborsClassifier	 armarFeaturePostulacionesUsuarioAEsaEmpresa	 armarFeaturePostulacionesUsuarioAEseArea	 aviso_index	 aviso_list	 avisos	 avisos_detalle_filtrados_df	 entrenamiento_df	 feature
grupo_avisos	 grupo_postulantes	 i	 index	 matrix_df	 merge_detalle_postulaciones_df	 n	 no_postulantes_df	 np
pd	 postulaciones_df	 postulantes	 postulantes_df	 postulantes_filtrados_df	 postulantes_filtrados_efectivos_df	 random	 setCategory	 user_index
user_list	 usuarios_con_postulaciones

In [241]:
#Me quedo con el indice como "id" de la tupla postulante-aviso.
matrix_df.drop(columns=['idpostulante','idaviso'],axis=1,inplace=True)

In [242]:
matrix_df.head()

          postulacion  postulaciones_a_ese_area  postulaciones_a_esa_empresa
10562033            1                        16                            1
2810977             0                         7                            0
3695045             0                         0                            0
7109942             1                        20                            1
6662729             1                        44                            2

In [243]:
del entrenamiento_df

# Test Final DF

In [244]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [245]:
test_final_df.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [246]:
test_final_df['idpostulante'].unique().shape

(64646,)

In [247]:
#Los postulantes que tengo informacion que aparecen en el test final.
#Entonces hay casi 20mil postulantes sobre los cuales no tengo informacion.
test_final_df.drop_duplicates('idpostulante').merge(postulantes_filtrados_df,on='idpostulante',how='inner').shape

(64646, 6)

In [248]:
test_final_con_features = test_final_df

In [249]:
#test_final_df = test_final_df.merge(avisos_detalle_filtrados_df,on='idaviso',how='left')
#feature=pd.read_csv('postulaciones_test_final_area_feature.csv')
#feature.drop('Unnamed: 0',axis=1,inplace=True)
feature=test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso']),axis=1)

In [250]:
test_final_con_features['postulaciones_a_ese_area']=pd.DataFrame(feature)

In [251]:
feature=test_final_con_features.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso']),axis=1)

In [252]:
test_final_con_features['postulaciones_a_esa_empresa']=pd.DataFrame(feature)

In [253]:
test_final_con_features.head()

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa
0,0,739260,6M9ZQR,0,0
1,1,739260,6v1xdL,5,0
2,2,739260,ezRKm9,0,0
3,3,758580,1Q35ej,0,0
4,4,758580,EAN4J6,0,0

In [254]:
test_final_con_features.columns

Index(['id', 'idaviso', 'idpostulante', 'postulaciones_a_ese_area',
       'postulaciones_a_esa_empresa'],
      dtype='object')

In [255]:
test_final_con_features.shape

(100000, 5)

In [256]:
test_final_con_features = test_final_df.drop(['id','idaviso','idpostulante'],axis=1)

In [257]:
test_final_con_features.columns

Index(['postulaciones_a_ese_area', 'postulaciones_a_esa_empresa'], dtype='object')

In [258]:
test_final_con_features.head()

   postulaciones_a_ese_area  postulaciones_a_esa_empresa
0                         0                            0
1                         5                            0
2                         0                            0
3                         0                            0
4                         0                            0

In [259]:
test_final_con_features.shape

(100000, 2)

In [260]:
X = matrix_df[matrix_df['postulacion'] == 0].head(500000).append(matrix_df[matrix_df['postulacion'] == 1].head(500000))

In [261]:
y = X['postulacion']
X = X.drop('postulacion',axis=1)

# Perceptron

In [262]:
from sklearn.linear_model import Perceptron
ptron = Perceptron()

In [263]:
ptron.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False)

In [264]:
pred = ptron.predict(test_final_con_features)

# Bagging con Perceptron

In [284]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=ptron,n_estimators=50)

In [285]:
bc.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

BaggingClassifier(base_estimator=Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [286]:
pred = bc.predict(test_final_con_features)

# Naive_Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
matrix_df.head()

In [ ]:
X.head()

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
X.columns

In [ ]:
#from sklearn.preprocessing import StandardScaler

#features = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']
#X = X.loc[:, features].values
#X = StandardScaler().fit_transform(X)
#X

In [ ]:
#X = pd.DataFrame(X)
#X.columns = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']

#X.head()

In [ ]:
#Fijarse de normalizar para knn

In [ ]:
entrenamiento_df = ""
postulantes_df = ""
no_postulantes_df = ""

In [ ]:
y.value_counts()

In [ ]:
nb.fit(X, y)

In [ ]:
nb.score(X,y)

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
pred = nb.predict(test_final_df)

In [ ]:
pred

# ARMADO DE SUBMIT

In [287]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [288]:
test_final_df['sepostulo'] = pd.DataFrame(pred)

In [289]:
submit = test_final_df.drop(['idaviso','idpostulante'],axis=1)

In [290]:
submit.set_index('id',inplace=True)

In [291]:
submit.head()

    sepostulo
id
0           0
1           0
2           0
3           0
4           0

In [292]:
submit.sepostulo.value_counts()

0    60425
1    39575
Name: sepostulo, dtype: int64

In [293]:
submit.to_csv('Submit_file.csv')

In [294]:
submit.head()

    sepostulo
id
0           0
1           0
2           0
3           0
4           0

In [ ]:
#del test_final_df
#del X
#del nb
#del pred
#del submit
#del y

In [ ]:
%who