In [1]:
import pandas as pd
import random
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [2]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('fiuba_1_postulantes_educacion_h15.csv')
postulantes_gye_df = pd.read_csv('fiuba_2_postulantes_genero_y_edad_h15.csv')
#vistas_df = pd.read_csv('fiuba_3_vistas_h15.csv')
postulaciones_df = pd.read_csv('fiuba_4_postulaciones_h15.csv')
#avisos_online_df = pd.read_csv('fiuba_5_avisos_online_h15.csv')
avisos_detalle_df = pd.read_csv('fiuba_6_avisos_detalle_h15.csv')

In [3]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
#vistas_df2 = pd.read_csv('fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('fiuba_4_postulaciones.csv')
#avisos_online_df2 = pd.read_csv('fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
#vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
#avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [5]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion_d15.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad_d15.csv')
#vistas_df2 = pd.read_csv('fiuba_3_vistas_d15.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle_d15.csv')

In [6]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [7]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
#vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

# Libero Espacio de la Memoria

In [8]:
del postulantes_edu_df2
del postulantes_gye_df2
#del vistas_df2
del avisos_detalle_df2

# Filtrado de Postulantes con informacion completa

In [9]:
postulantes_edu_df.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [12]:

postulantes_gye_df.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA
2          ZX1             NaN  NO_DECLARA
3          Nq5             NaN  NO_DECLARA
4          ebE      1952-07-07        MASC

In [13]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [14]:
postulantes_edu_df.estado.value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [156]:
postulantes_edu_df.nombre.value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [157]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [158]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [9]:
postulantes_edu_df['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [10]:
def setCategory(c):
    if c == 'Graduado':
        return 2
    elif c == 'En Curso':
        return 1
    return 0

In [11]:
postulantes_edu_df['valor_estado'] = postulantes_edu_df['estado'].apply(setCategory)

In [12]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado
0         ZjlZ         Master  En Curso             1
1         NdJl       Posgrado  En Curso             1
2         5kNq           Otro  En Curso             1
3         8rYD         Master  En Curso             1
4         1Wvj  Universitario  En Curso             1

In [22]:
postulantes_edu_df['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [13]:
def setCategory(c):
    
    if c == 'Doctorado':
        return 12
    elif c == 'Master':
        return 10
    elif c == 'Posgrado':
        return 8
    elif c == 'Universitario':
        return 6
    elif c == 'Terciario/TÃ©cnico':
        return 4
    elif c == 'Secundario':
        return 2
    return 0

In [14]:
postulantes_edu_df['valor_nombre'] = postulantes_edu_df['nombre'].apply(setCategory)

In [15]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado  valor_nombre
0         ZjlZ         Master  En Curso             1            10
1         NdJl       Posgrado  En Curso             1             8
2         5kNq           Otro  En Curso             1             0
3         8rYD         Master  En Curso             1            10
4         1Wvj  Universitario  En Curso             1             6

In [16]:
postulantes_edu_df['valoracion_edu'] = postulantes_edu_df['valor_estado'] + postulantes_edu_df['valor_nombre']
postulantes_edu_df.drop(columns=['valor_estado','valor_nombre','nombre','estado'],axis=1,inplace=True)
postulantes_edu_df.sort_values(by='valoracion_edu',ascending=False,inplace=True)
postulantes_edu_df.drop_duplicates(inplace=True)
postulantes_edu_df.head()

       idpostulante  valoracion_edu
318724       N9AN45              14
128733      vV9Ewjj              14
337840       aMbWjD              14
398665      OqmK81N              14
14753       JBrVvBp              14

In [17]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [18]:
def setCategory(c):
    if c == '0.0':
        return 'NO_DECLARA'
    return c

In [19]:
postulantes_gye_df['sexo'] = postulantes_gye_df['sexo'].apply(setCategory)

In [20]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25943
Name: sexo, dtype: int64

In [21]:
#Para la informacion faltante agregamos una Categoria no declara
postulantes_filtrados_df = postulantes_gye_df.merge(postulantes_edu_df,on='idpostulante',how='outer')

print(postulantes_filtrados_df.shape)

postulantes_filtrados_df['idpostulante'].unique().shape

(738053, 4)

(504407,)

In [22]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             NaN
1          Nzz             NaN  NO_DECLARA             NaN
2          ZX1             NaN  NO_DECLARA             NaN
3          Nq5             NaN  NO_DECLARA             NaN
4          ebE      1952-07-07        MASC            10.0

In [23]:
postulantes_filtrados_df['sexo'].fillna('NO_DECLARA',inplace=True)
postulantes_filtrados_df['valoracion_edu'].fillna(0, inplace=True)
postulantes_filtrados_df['fechanacimiento'].fillna('1918-01-01', inplace=True)

In [24]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             0.0
1          Nzz      1918-01-01  NO_DECLARA             0.0
2          ZX1      1918-01-01  NO_DECLARA             0.0
3          Nq5      1918-01-01  NO_DECLARA             0.0
4          ebE      1952-07-07        MASC            10.0

In [25]:
postulantes_filtrados_df.shape

(738053, 4)

In [26]:
postulantes_filtrados_df.sort_values(by='sexo',inplace=True)

In [27]:
#Sacamos los repetidos de postulantes_filtrados_df

postulantes_filtrados_df = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes_filtrados_df.shape

(504407, 4)

In [38]:
postulantes_filtrados_df.sexo.value_counts()

FEM           251226
MASC          227832
NO_DECLARA     25349
Name: sexo, dtype: int64

In [23]:
postulantes_filtrados_df.idpostulante.unique().shape

(504407,)

In [40]:
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             0.0

In [173]:
postulantes_filtrados_df.fechanacimiento.describe()

count         504407
unique         17247
top       1918-01-01
freq           26080
Name: fechanacimiento, dtype: object

In [28]:
#Obtengo la edad
postulantes_edad_trucha = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == True]
postulantes_edad_trucha['fechanacimiento'] = '1918-01-01'
postulantes_edad_trucha.head()

/home/luciano/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       idpostulante fechanacimiento sexo  valoracion_edu
299748      8M2R6pz      1918-01-01  FEM             0.0
311804      0zkAXBE      1918-01-01  FEM             7.0
341475      VNrP8EE      1918-01-01  FEM             0.0
347580      xkdB9JK      1918-01-01  FEM             8.0
324043      VNxMRxj      1918-01-01  FEM             2.0

In [29]:
postulantes_filtrados_df = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == False]
postulantes_filtrados_df = postulantes_filtrados_df.append(postulantes_edad_trucha)
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             0.0

In [30]:
postulantes_filtrados_df.shape

(504407, 4)

In [31]:
postulantes_filtrados_df.loc[:,'fechanacimiento'] = pd.to_datetime(postulantes_filtrados_df['fechanacimiento']) 
postulantes_filtrados_df.loc[:,'edad'] = (2018 - postulantes_filtrados_df.fechanacimiento.dt.year)
postulantes_filtrados_df.drop(columns='fechanacimiento',axis=1,inplace=True)
postulantes_filtrados_df.head()
#Generar edad por bloques, como queremos hacer con las empresas mas populares.

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             0.0    21

In [178]:
postulantes_filtrados_df.head()

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             0.0    21

# Avisos Detalle

In [32]:
avisos_detalle_df.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [33]:
print(avisos_detalle_df.shape)
print(avisos_detalle_df['idaviso'].unique().shape)

(25901, 11)
(25288,)

In [34]:
#Sacamos los repetidos de avisos_detalle
avisos_detalle_filtrados_df = avisos_detalle_df.drop_duplicates('idaviso')
avisos_detalle_df.shape

(25901, 11)

In [35]:
del avisos_detalle_df

In [12]:
#Me quedo con los avisos del archivo de postulaciones. Esto seria, solo los avisos que tuvieron postulaciones.


#Â¿Aca me podria quedar con los archivos que NO tuvieron postulaciones para armar un set de NO postulaciones?

#column = postulaciones_df['idaviso'].to_frame()
#avisos_detalle_filtrados_df = column.drop_duplicates('idaviso').merge(avisos_detalle_df,on='idaviso',how='inner')
#avisos_no_postulaciones_df = pd.merge(avisos_detalle_df,avisos_detalle_filtrados_df,on='idaviso',how='right') 
#IMPLEMENTAR
avisos_detalle_filtrados_df.shape

(25288, 11)

Hago la conversion de variables categoricas a variables numericas

In [ ]:
#Hago un drop de las columnas que no voy a utilizar.
#Mas adelanto debo modificar esto porque la idea es usar denominacion empresa, descripcion y titulo para nuevos features.

#avisos_detalle_filtrados_df= avisos_detalle_filtrados_df.drop(columns=['denominacion_empresa','idpais','mapacalle','ciudad','descripcion','titulo'],axis=1)

In [52]:
avisos_detalle_filtrados_df.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

# Postulaciones

In [179]:
postulantes_filtrados_df['idpostulante'].unique().shape

(504407,)

In [54]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [55]:
#Comparamos los "usuarios" con los  postulantes.

print(postulantes_filtrados_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

In [180]:
#Como resultado tenemos los postulantes que coinciden en postulaciones y postulantes
#Observamos que hay postulaciones de usuarios que no estan en el dataframe de postulantes.
postulantes_filtrados_efectivos_df = postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')
postulantes_filtrados_efectivos_df.idpostulante.unique().shape

(348883,)

In [181]:
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.drop_duplicates('idpostulante')
postulantes_filtrados_efectivos_df.shape

(348883, 6)

In [182]:
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop(['idaviso','fechapostulacion'],axis='columns')
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.reset_index()
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop('index',axis='columns')
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [183]:
# postulantes_filtrados_efectivos_df tiene los postulantes que efectivamente se postularon
# y que ademas tienen informacion sobre edad y estudios, etc.
# Los que estan en postulaciones pero NO en gye y edu, fueron descartados en este paso.
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [184]:
postulantes_filtrados_efectivos_df.shape

(348883, 4)

# Armo features para postulantes

Hago drop de columnas que por ahora no uso

In [186]:
avisos_detalle_filtrados_df.drop(columns=['titulo','descripcion','nombre_zona','ciudad','mapacalle'],inplace=True)

In [187]:
#Copio el merge que usamos en el TP1
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')

In [188]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,idpais,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112248724,NjlD,2018-01-19 07:39:16,1,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
1,1112248724,MV6eM8N,2018-01-30 23:44:30,1,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
2,1112248724,5LzQkN,2018-01-15 07:23:49,1,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
3,1112248724,8M2rOBz,2018-01-30 22:20:45,1,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
4,1112248724,Dr6V3Da,2018-01-23 15:11:35,1,Full-time,Senior / Semi-Senior,Marketing,Lo Jack

In [189]:
merge_detalle_postulaciones_df.idaviso.unique().shape

(18695,)

In [46]:
postulaciones_df.idaviso.unique().shape

(20231,)

In [47]:
avisos_detalle_filtrados_df.idaviso.unique().shape

(25288,)

In [190]:
group=merge_detalle_postulaciones_df.groupby('idpostulante')

In [191]:
#Libero memoria del merge
del merge_detalle_postulaciones_df

In [192]:
dataframe = pd.DataFrame(group['nivel_laboral'].value_counts())

In [193]:
dataframe.head()

                                                   nivel_laboral
idpostulante nivel_laboral
0z5Dmrd      Senior / Semi-Senior                              2
0z5JW1r      Senior / Semi-Senior                              4
             Gerencia / Alta Gerencia / DirecciÃ³n              2
             Jefe / Supervisor / Responsable                   1
0z5VvGv      Senior / Semi-Senior                             32

In [194]:
dataframe=dataframe.unstack()

In [195]:
dataframe.head()

                                     nivel_laboral  \
nivel_laboral Gerencia / Alta Gerencia / DirecciÃ³n
idpostulante
0z5Dmrd                                        NaN
0z5JW1r                                        2.0
0z5VvGv                                        NaN
0zB01pE                                        NaN
0zB026d                                        NaN


nivel_laboral Jefe / Supervisor / Responsable Junior Otro Senior / Semi-Senior
idpostulante
0z5Dmrd                                   NaN    NaN  NaN                  2.0
0z5JW1r                                   1.0    NaN  NaN                  4.0
0z5VvGv                                   NaN   12.0  3.0                 32.0
0zB01pE                                   NaN    2.0  NaN                  NaN
0zB026d                                   2.0    2.0  4.0                  1.0

In [196]:
dataframe.fillna(0,inplace=True)
dataframe.reset_index(inplace=True)

In [197]:
dataframe.head()

              idpostulante                        nivel_laboral  \
nivel_laboral              Gerencia / Alta Gerencia / DirecciÃ³n
0                  0z5Dmrd                                  0.0
1                  0z5JW1r                                  2.0
2                  0z5VvGv                                  0.0
3                  0zB01pE                                  0.0
4                  0zB026d                                  0.0


nivel_laboral Jefe / Supervisor / Responsable Junior Otro Senior / Semi-Senior
0                                         0.0    0.0  0.0                  2.0
1                                         1.0    0.0  0.0                  4.0
2                                         0.0   12.0  3.0                 32.0
3                                         0.0    2.0  0.0                  0.0
4                                         2.0    2.0  4.0                  1.0

In [64]:
dataframe.to_csv('features_interes_nivel_laboral')

In [199]:
#Agrego los nuevos features,  como indicadores de interes de cada postulante en cada nivel laboral
postulantes_filtrados_nuevo=postulantes_filtrados_df.merge(dataframe,how='outer',on='idpostulante')

/usr/local/lib/python3.5/dist-packages/pandas/core/reshape/merge.py:558: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2530: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [200]:
postulantes_filtrados_nuevo.shape

(504407, 9)

In [201]:
postulantes_filtrados_df.shape

(504407, 4)

In [63]:
postulantes_filtrados_nuevo.head()

,idpostulante,sexo,valoracion_edu,edad,"(nivel_laboral, Gerencia / Alta Gerencia / DirecciÃ³n)","(nivel_laboral, Jefe / Supervisor / Responsable)","(nivel_laboral, Junior)","(nivel_laboral, Otro)","(nivel_laboral, Senior / Semi-Senior)"
0,5mPYWjp,FEM,4.0,29,0.0,0.0,1.0,0.0,1.0
1,xkdxkDz,FEM,5.0,25,0.0,2.0,6.0,6.0,17.0
2,EzE23E4,FEM,4.0,19,0.0,0.0,2.0,0.0,5.0
3,6r5OwJO,FEM,4.0,21,0.0,0.0,6.0,1.0,1.0
4,lDL3D1X,FEM,0.0,21,0.0,0.0,1.0,0.0,0.0

In [202]:
#Dejo un poco mas entendibles los nombres de cada nuevo feature
postulantes_filtrados_nuevo.columns=['idpostulante','sexo','valoracion_edu','edad','interes Gerencia/Direccion','interes Jefe/Supervisor/Responsable','interes Junior','interes Otro','interes Senior/Semi-senior']

In [203]:
postulantes_filtrados_nuevo.head()

,idpostulante,sexo,valoracion_edu,edad,interes Gerencia/Direccion,interes Jefe/Supervisor/Responsable,interes Junior,interes Otro,interes Senior/Semi-senior
0,5mPYWjp,FEM,4.0,29,0.0,0.0,1.0,0.0,1.0
1,xkdxkDz,FEM,5.0,25,0.0,2.0,6.0,6.0,17.0
2,EzE23E4,FEM,4.0,19,0.0,0.0,2.0,0.0,5.0
3,6r5OwJO,FEM,4.0,21,0.0,0.0,6.0,1.0,1.0
4,lDL3D1X,FEM,0.0,21,0.0,0.0,1.0,0.0,0.0

In [204]:
postulantes_filtrados_nuevo=postulantes_filtrados_nuevo.fillna(0)

In [71]:
postulantes_filtrados_nuevo.to_csv('postulantes_filtrados_nuevo')

In [72]:
#Delete del dataframe para liberar memoria, despues hago un read cuando tenga que usarlo
del postulantes_filtrados_nuevo

In [69]:
del postulantes_filtrados_df

In [43]:
del dataframe
del group

### Armo clusters de postulantes segun sus intereses en areas laborales

In [36]:
%who

KNeighborsClassifier	 avisos_detalle_filtrados_df	 avisos_detalle_missing	 np	 pd	 postulaciones_df	 postulaciones_df2	 postulantes_edad_trucha	 postulantes_edu_df
postulantes_filtrados_df	 postulantes_gye_df	 random	 setCategory

In [38]:
#del postulantes_gye_df
#del postulantes_edu_df
#del avisos_detalle_missing

del postulantes_edad_trucha
del postulaciones_df2

In [39]:
#Copio el merge que usamos en el TP1
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112248724,NjlD,2018-01-19 07:39:16,1,Analista de CRM y Marketing Digital,<p>Â¡En LoJack estamos buscando un Analista de ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
1,1112248724,MV6eM8N,2018-01-30 23:44:30,1,Analista de CRM y Marketing Digital,<p>Â¡En LoJack estamos buscando un Analista de ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
2,1112248724,5LzQkN,2018-01-15 07:23:49,1,Analista de CRM y Marketing Digital,<p>Â¡En LoJack estamos buscando un Analista de ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
3,1112248724,8M2rOBz,2018-01-30 22:20:45,1,Analista de CRM y Marketing Digital,<p>Â¡En LoJack estamos buscando un Analista de ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
4,1112248724,Dr6V3Da,2018-01-23 15:11:35,1,Analista de CRM y Marketing Digital,<p>Â¡En LoJack estamos buscando un Analista de ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Lo Jack

In [40]:
group=merge_detalle_postulaciones_df.groupby('idpostulante')

In [41]:
dataframe = pd.DataFrame(group['nombre_area'].value_counts()).unstack().fillna(0)
dataframe.head()

                nombre_area                                           \
nombre_area  Abastecimiento Administracion de Seguros AdministraciÃ³n
idpostulante
0z5Dmrd                 0.0                       0.0            0.0
0z5JW1r                 0.0                       0.0            0.0
0z5VvGv                 0.0                       0.0            1.0
0zB01pE                 0.0                       2.0            0.0
0zB026d                 0.0                       0.0            0.0

                                                                         \
nombre_area  AdministraciÃ³n de Base de Datos AdministraciÃ³n de Personal
idpostulante
0z5Dmrd                                  0.0                        0.0
0z5JW1r                                  0.0                        0.0
0z5VvGv                                  0.0                        0.0
0zB01pE                                  0.0                        0.0
0zB026d                                  0.0                        0.0

                                                                 \
nombre_area  AlmacÃ©n / DepÃ³sito / ExpediciÃ³n AnÃ¡lisis Funcional
idpostulante
0z5Dmrd                                  0.0                0.0
0z5JW1r                                  1.0                0.0
0z5VvGv                                  0.0                0.0
0zB01pE                                  0.0                0.0
0zB026d                                  1.0                0.0

                                                                    ...      \
nombre_area  AnÃ¡lisis de Riesgos Apoderado Aduanal Arquitectura     ...
idpostulante                                                        ...
0z5Dmrd                      0.0               0.0          0.0     ...
0z5JW1r                      0.0               0.0          0.0     ...
0z5VvGv                      0.0               0.0          0.0     ...
0zB01pE                      0.0               0.0          0.0     ...
0zB026d                      0.0               0.0          0.0     ...

                                                                          \
nombre_area  Trabajo Social Trabajo social Traduccion Transporte Turismo
idpostulante
0z5Dmrd                 0.0            0.0        0.0        0.0     0.0
0z5JW1r                 0.0            0.0        0.0        0.0     0.0
0z5VvGv                 0.0            0.0        0.0        0.0     3.0
0zB01pE                 0.0            0.0        0.0        0.0     0.0
0zB026d                 0.0            0.0        0.0        0.0     0.0

                                                \
nombre_area  Urbanismo Venta de Seguros Ventas
idpostulante
0z5Dmrd            0.0              0.0    0.0
0z5JW1r            0.0              0.0    1.0
0z5VvGv            0.0              0.0   13.0
0zB01pE            0.0              0.0    0.0
0zB026d            0.0              0.0    1.0


nombre_area  Ventas Internacionales/ExportaciÃ³n Veterinaria
idpostulante
0z5Dmrd                                     0.0         0.0
0z5JW1r                                     0.0         0.0
0z5VvGv                                     0.0         0.0
0zB01pE                                     0.0         0.0
0zB026d                                     0.0         0.0

[5 rows x 186 columns]

In [42]:
#Como hay demasiadas areas laborales,
# Agrupo a los postulantes en clusters dependiendo sus intereses similares en areas laborales
#Para esto uso los clusters
from sklearn.cluster import KMeans

In [43]:
# Convert DataFrame to matrix
mat = dataframe.as_matrix()
# Using sklearn
km = KMeans(n_clusters=18)
km.fit(mat)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=18, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [45]:
# Get cluster assignment labels
labels = km.labels_

results = pd.DataFrame(data=labels, columns=['cluster'], index=dataframe.index)
del mat

In [47]:
#Me quedan los 18 clusters, cada uno con bastantes postulantes
results['cluster'].value_counts()

1     253852
0      41568
13     13925
5       9864
8       8598
9       3973
15      3739
4       3395
2       2157
14      2052
16      1333
7        947
10       499
6        477
3        160
12       119
11        61
17        45
Name: cluster, dtype: int64

In [49]:
#Armo 18 columnas que me indican a que cluster pertenece cada idpostulante
results.reset_index(inplace=True)
group=results.groupby('cluster')
dataframe = pd.DataFrame(group['idpostulante'].value_counts()).unstack().T
dataframe.reset_index(inplace=True)
dataframe=dataframe.fillna(0)

In [50]:
dataframe.head()

cluster,level_0,idpostulante,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,idpostulante,0z5Dmrd,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,idpostulante,0z5JW1r,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,idpostulante,0z5VvGv,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,idpostulante,0zB01pE,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,idpostulante,0zB026d,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [51]:
#Una columna me quedo mal, la dropeo
dataframe.drop(columns=['level_0'],axis=1,inplace=True)

In [52]:
#Luego, para ahorrar espacio transformo los nuevos features en booleanos

column_names = dataframe.select_dtypes(include=[np.float]).columns

dataframe[column_names]=dataframe[column_names].astype(bool)
dataframe.head()

cluster,idpostulante,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0z5Dmrd,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,0z5JW1r,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,0z5VvGv,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,0zB01pE,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,0zB026d,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [55]:
dataframe.to_csv('features_postulantes_clusters_area_laboral')

In [61]:
#postulantes_filtrados_nuevo=pd.read_csv('postulantes_filtrados_nuevo')
#postulantes_filtrados_nuevo.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [64]:
postulantes_filtrados_nuevo.head()

,idpostulante,sexo,valoracion_edu,edad,interes Gerencia/Direccion,interes Jefe/Supervisor/Responsable,interes Junior,interes Otro,interes Senior/Semi-senior
0,5mPYWjp,FEM,4.0,29,0.0,0.0,1.0,0.0,1.0
1,xkdxkDz,FEM,5.0,25,0.0,2.0,6.0,6.0,17.0
2,EzE23E4,FEM,4.0,19,0.0,0.0,2.0,0.0,5.0
3,6r5OwJO,FEM,4.0,21,0.0,0.0,6.0,1.0,1.0
4,lDL3D1X,FEM,0.0,21,0.0,0.0,1.0,0.0,0.0

In [65]:
postulantes_filtrados_nuevo=postulantes_filtrados_nuevo.merge(dataframe,on='idpostulante',how='outer')

,idpostulante,sexo,valoracion_edu,edad,interes Gerencia/Direccion,interes Jefe/Supervisor/Responsable,interes Junior,interes Otro,interes Senior/Semi-senior,0,...,8,9,10,11,12,13,14,15,16,17
0,5mPYWjp,FEM,4.0,29,0.0,0.0,1.0,0.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
1,xkdxkDz,FEM,5.0,25,0.0,2.0,6.0,6.0,17.0,True,...,False,False,False,False,False,False,False,False,False,False
2,EzE23E4,FEM,4.0,19,0.0,0.0,2.0,0.0,5.0,False,...,False,False,False,False,False,False,False,False,False,False
3,6r5OwJO,FEM,4.0,21,0.0,0.0,6.0,1.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
4,lDL3D1X,FEM,0.0,21,0.0,0.0,1.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
5,KBrpBYd,FEM,4.0,23,0.0,0.0,4.0,2.0,9.0,True,...,False,False,False,False,False,False,False,False,False,False
6,1QkOJNO,FEM,5.0,20,0.0,0.0,0.0,1.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
7,vV9Z8Ko,FEM,4.0,21,0.0,0.0,1.0,1.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
8,1QP6xwO,FEM,0.0,23,0.0,0.0,2.0,2.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False
9,BmBr1ML,FEM,6.0,41,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
10,lD5e3vG,FEM,0.0,42,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
11,jk5wKvG,FEM,2.0,25,0.0,1.0,11.0,5.0,27.0,True,...,False,False,False,False,False,False,False,False,False,False
12,JBxG2E3,FEM,4.0,21,0.0,0.0,2.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
13,qe6jbWL,FEM,7.0,33,0.0,1.0,6.0,0.0,13.0,True,...,False,False,False,False,False,False,False,False,False,False
14,MVr1BOK,FEM,7.0,20,0.0,0.0,0.0,0.0,3.0,False,...,False,False,False,False,False,False,False,False,False,False
15,VNx2Kd2,FEM,8.0,34,0.0,0.0,3.0,0.0,5.0,False,...,False,False,False,False,False,False,False,False,False,False
16,X95KO9x,FEM,7.0,23,0.0,0.0,1.0,0.0,5.0,False,...,False,False,False,False,False,False,False,False,False,False
17,4rPJ6re,FEM,4.0,24,0.0,0.0,5.0,1.0,9.0,False,...,False,False,False,False,False,False,False,False,False,False
18,6r5O9Qj,FEM,4.0,100,0.0,0.0,0.0,1.0,4.0,False,...,False,False,False,False,False,False,False,False,False,False
19,ek4DK3p,FEM,8.0,23,0.0,0.0,11.0,9.0,45.0,False,...,False,False,False,False,False,False,False,False,False,False
20,MV621aL,FEM,4.0,25,0.0,0.0,18.0,7.0,45.0,False,...,False,True,False,False,False,False,False,False,False,False
21,W9WK95B,FEM,4.0,20,0.0,0.0,3.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
22,QNE23Q5,FEM,10.0,46,0.0,3.0,0.0,0.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False
23,mzdazKZ,FEM,4.0,29,0.0,0.0,2.0,0.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False
24,PmGKm1j,FEM,4.0,22,0.0,0.0,2.0,1.0,11.0,True,...,False,False,False,False,False,False,False,False,False,False
25,BmBrbpQ,FEM,6.0,24,0.0,0.0,3.0,0.0,15.0,True,...,False,False,False,False,False,False,False,False,False,False
26,DrXmr3X,FEM,4.0,20,0.0,0.0,1.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
27,Yj5Kjaw,FEM,0.0,20,0.0,0.0,2.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
28,4rNO30M,FEM,7.0,26,0.0,0.0,1.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
29,bOV86E2,FEM,8.0,31,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504377,VNxMRxj,FEM,2.0,100,0.0,0.0,0.0,0.0,3.0,False,...,False,False,False,False,False,False,False,False,False,False
504378,Bm5mm4Q,FEM,0.0,100,0.0,0.0,0.0,0.0,4.0,False,...,False,False,False,False,False,False,False,False,False,False
504379,RzrJkGE,FEM,4.0,100,0.0,0.0,1.0,1.0,4.0,False,...,False,False,False,False,False,False,False,False,False,False
504380,ak5PvOD,FEM,0.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504381,Drp5kLd,FEM,3.0,100,0.0,0.0,1.0,1.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False
504382,xkPwXwY,FEM,4.0,100,0.0,0.0,5.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
504383,A36Npjj,FEM,7.0,100,0.0,0.0,2.0,0.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False
504384,680m54,FEM,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504385,6wJ8Px,FEM,4.0,100,0.0,0.0,0.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
504386,lDXXla1,FEM,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504387,5P39Oq,FEM,8.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504388,14pm8E,FEM,8.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504389,xkdGe5Y,FEM,0.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504390,pzN5p5p,FEM,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504391,0zPqvGM,FEM,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504392,kPLP04J,FEM,0.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504393,3Nk95pr,FEM,5.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504394,9692Xdw,FEM,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504395,LN85Y3b,MASC,4.0,100,0.0,0.0,0.0,1.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
504396,1QPQ8QL,MASC,3.0,100,0.0,0.0,1.0,0.0,3.0,False,...,False,False,False,False,False,False,False,False,False,False
504397,8MLdEeD,MASC,4.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504398,A3vEqpj,MASC,0.0,100,0.0,0.0,0.0,2.0,7.0,False,...,False,False,False,False,False,False,False,False,False,False
504399,EWbKXN,MASC,7.0,100,0.0,0.0,0.0,0.0,3.0,False,...,False,False,False,False,False,False,False,False,False,False
504400,5KK95Z,MASC,6.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504401,8M230mj,MASC,0.0,100,0.0,0.0,0.0,1.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
504402,GNZOvAv,MASC,7.0,100,0.0,0.0,2.0,2.0,11.0,False,...,False,False,False,False,False,False,False,False,False,False
504403,EzeeRNN,MASC,0.0,100,0.0,0.0,0.0,0.0,2.0,False,...,False,False,False,False,False,False,False,False,False,False
504404,dYjV0rb,NO_DECLARA,7.0,100,0.0,1.0,0.0,1.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
504405,0zPrzBd,NO_DECLARA,4.0,100,0.0,0.0,1.0,1.0,8.0,False,...,False,False,False,False,False,True,False,False,False,False
504406,8MPweGx,NO_DECLARA,0.0,100,0.0,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False

In [66]:
postulantes_filtrados_nuevo=postulantes_filtrados_nuevo.fillna(False)

In [67]:
postulantes_filtrados_nuevo.head()

,idpostulante,sexo,valoracion_edu,edad,interes Gerencia/Direccion,interes Jefe/Supervisor/Responsable,interes Junior,interes Otro,interes Senior/Semi-senior,0,...,8,9,10,11,12,13,14,15,16,17
0,5mPYWjp,FEM,4.0,29,0.0,0.0,1.0,0.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
1,xkdxkDz,FEM,5.0,25,0.0,2.0,6.0,6.0,17.0,True,...,False,False,False,False,False,False,False,False,False,False
2,EzE23E4,FEM,4.0,19,0.0,0.0,2.0,0.0,5.0,False,...,False,False,False,False,False,False,False,False,False,False
3,6r5OwJO,FEM,4.0,21,0.0,0.0,6.0,1.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
4,lDL3D1X,FEM,0.0,21,0.0,0.0,1.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False

In [71]:
#Por ultimo categorizo el sexo
def setCategory(c):
    if c == 'FEM':
        return 1
    elif c == 'MASC':
        return -1
    return 0

In [72]:
postulantes_filtrados_nuevo.sexo=postulantes_filtrados_nuevo.sexo.apply(setCategory)

In [73]:
postulantes_filtrados_nuevo.head()

,idpostulante,sexo,valoracion_edu,edad,interes Gerencia/Direccion,interes Jefe/Supervisor/Responsable,interes Junior,interes Otro,interes Senior/Semi-senior,0,...,8,9,10,11,12,13,14,15,16,17
0,5mPYWjp,1,4.0,29,0.0,0.0,1.0,0.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
1,xkdxkDz,1,5.0,25,0.0,2.0,6.0,6.0,17.0,True,...,False,False,False,False,False,False,False,False,False,False
2,EzE23E4,1,4.0,19,0.0,0.0,2.0,0.0,5.0,False,...,False,False,False,False,False,False,False,False,False,False
3,6r5OwJO,1,4.0,21,0.0,0.0,6.0,1.0,1.0,False,...,False,False,False,False,False,False,False,False,False,False
4,lDL3D1X,1,0.0,21,0.0,0.0,1.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False

In [74]:
postulantes_filtrados_nuevo.to_csv('postulantes_filtrados_nuevo')

In [75]:
postulantes_filtrados_df.idpostulante.shape == postulantes_filtrados_nuevo.idpostulante.shape

True

# Armo features para avisos

In [13]:
group = avisos_detalle_filtrados_df.groupby('idaviso')

In [14]:
dataframe = pd.DataFrame(group['nivel_laboral'].value_counts()).unstack()
dataframe.fillna(0,inplace=True)
dataframe.head()
#features que tienen un 1 si la empresa pertenece a ese nivel laboral

                                     nivel_laboral  \
nivel_laboral Gerencia / Alta Gerencia / DirecciÃ³n
idaviso
739260                                         0.0
758580                                         0.0
776420                                         0.0
820850                                         0.0
914880                                         0.0


nivel_laboral Jefe / Supervisor / Responsable Junior Otro Senior / Semi-Senior
idaviso
739260                                    1.0    0.0  0.0                  0.0
758580                                    0.0    0.0  1.0                  0.0
776420                                    0.0    0.0  1.0                  0.0
820850                                    0.0    0.0  1.0                  0.0
914880                                    0.0    0.0  1.0                  0.0

In [15]:
dataframe.shape

(24953, 5)

In [16]:
dataframe.reset_index(inplace=True)

In [20]:
avisos_detalle_filtrados_nuevo=avisos_detalle_filtrados_df.merge(dataframe,how='outer',on='idaviso')

/usr/local/lib/python3.5/dist-packages/pandas/core/reshape/merge.py:558: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2530: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [21]:
avisos_detalle_filtrados_nuevo.head()

,idaviso,idpais,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,"(nivel_laboral, Gerencia / Alta Gerencia / DirecciÃ³n)","(nivel_laboral, Jefe / Supervisor / Responsable)","(nivel_laboral, Junior)","(nivel_laboral, Otro)","(nivel_laboral, Senior / Semi-Senior)"
0,1111556097,1,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.,0.0,0.0,0.0,0.0,1.0
1,1111949392,1,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan,0.0,0.0,0.0,0.0,1.0
2,1112145935,1,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart,0.0,0.0,0.0,0.0,1.0
3,1112146010,1,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center,0.0,0.0,0.0,0.0,1.0
4,1112211475,1,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD,0.0,0.0,0.0,0.0,1.0

In [22]:
avisos_detalle_filtrados_nuevo.shape

(25288, 11)

In [23]:
avisos_detalle_filtrados_df.shape

(25288, 6)

In [24]:
#Habia avisos con nivel laboral Null, asi que decido ponerles nivel laboral 0 en todo
avisos_detalle_filtrados_nuevo=avisos_detalle_filtrados_nuevo.fillna(0)

In [25]:
#Ya puedo descartar la columna nivel laboral
avisos_detalle_filtrados_nuevo= avisos_detalle_filtrados_nuevo.drop(columns=['nivel_laboral'],axis=1)

In [76]:
del dataframe
del group

## Armo clusters de empresas por postulantes que atraen en areas laborales

In [27]:
#(Capaz podria mejorarlo fijandome solamente la cantidad de avisos que tiene cada empresa en
#Cada area laboral, y no en las postulaciones)
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso', how='inner')

In [28]:
group=merge_detalle_postulaciones_df.groupby('denominacion_empresa')

In [29]:
#Libero memoria del merge
del merge_detalle_postulaciones_df

In [34]:
#Agrupo por empresa, y veo cuantas postulaciones a avisos de determinada area laboral tuvieron
#De esta forma puedo saber a quÃ© area atrae mas esa empresa
dataframe = pd.DataFrame(group['nombre_area'].value_counts())
dataframe.head()

                                                             nombre_area
denominacion_empresa                           nombre_area
 Asistencia Respiratoria MecÃ¡nica Domiciliaria Medicina              194
                                               Salud                   8
 D.O.T.A.                                      Transporte           1502
 Futurestep                                    Comercial              36
-                                              ProgramaciÃ³n            5

In [35]:
dataframe=dataframe.unstack()
dataframe.fillna(0,inplace=True)
dataframe.sample(6)

                         nombre_area                                           \
nombre_area           Abastecimiento Administracion de Seguros AdministraciÃ³n
denominacion_empresa
Naranja                          0.0                       0.0            0.0
MULTIMODAL                       0.0                       0.0            0.0
BUMERAN.COM ARGENTINA            0.0                       0.0            3.0
e-Plan Solutions srl             0.0                       0.0            0.0
RE/MAX HÃ¡bitat                   0.0                       0.0            0.0
Instituto IGA                    0.0                       0.0            0.0

                                                       \
nombre_area           AdministraciÃ³n de Base de Datos
denominacion_empresa
Naranja                                           0.0
MULTIMODAL                                        0.0
BUMERAN.COM ARGENTINA                             0.0
e-Plan Solutions srl                              0.0
RE/MAX HÃ¡bitat                                    0.0
Instituto IGA                                     0.0

                                                  \
nombre_area           AdministraciÃ³n de Personal
denominacion_empresa
Naranja                                      0.0
MULTIMODAL                                   0.0
BUMERAN.COM ARGENTINA                        0.0
e-Plan Solutions srl                         0.0
RE/MAX HÃ¡bitat                               0.0
Instituto IGA                                0.0

                                                                          \
nombre_area           AlmacÃ©n / DepÃ³sito / ExpediciÃ³n AnÃ¡lisis Funcional
denominacion_empresa
Naranja                                           0.0                0.0
MULTIMODAL                                        0.0                0.0
BUMERAN.COM ARGENTINA                             0.0                0.0
e-Plan Solutions srl                              0.0                0.0
RE/MAX HÃ¡bitat                                    0.0                0.0
Instituto IGA                                     0.0                0.0

                                                                          \
nombre_area           AnÃ¡lisis de Riesgos Apoderado Aduanal Arquitectura
denominacion_empresa
Naranja                               0.0               0.0          0.0
MULTIMODAL                            0.0               0.0          0.0
BUMERAN.COM ARGENTINA                 0.0               0.0          0.0
e-Plan Solutions srl                  0.0               0.0          0.0
RE/MAX HÃ¡bitat                        0.0               0.0          0.0
Instituto IGA                         0.0               0.0          0.0

                          ...                                               \
nombre_area               ...     Trabajo Social Trabajo social Traduccion
denominacion_empresa      ...
Naranja                   ...                0.0            0.0        0.0
MULTIMODAL                ...                0.0            0.0        0.0
BUMERAN.COM ARGENTINA     ...                0.0            0.0        0.0
e-Plan Solutions srl      ...                0.0            0.0        0.0
RE/MAX HÃ¡bitat            ...                0.0            0.0        0.0
Instituto IGA             ...                0.0            0.0        0.0

                                                                             \
nombre_area           Transporte Turismo Urbanismo Venta de Seguros  Ventas
denominacion_empresa
Naranja                      0.0     0.0       0.0              0.0  8044.0
MULTIMODAL                   0.0     0.0       0.0              0.0     0.0
BUMERAN.COM ARGENTINA        0.0     0.0       0.0              0.0     0.0
e-Plan Solutions srl         0.0     0.0       0.0              0.0   478.0
RE/MAX HÃ¡bitat               0.0     0.0       0.0              0.0   255.0
Instituto IGA                0.0     0.0       0.0              0.0     0.0


nombre_area           Ventas Internacionales/ExportaciÃ³n Veterinaria
denominacion_empresa
Naranja                                              0.0         0.0
MULTIMODAL                                           0.0         0.0
BUMERAN.COM ARGENTINA                                0.0         0.0
e-Plan Solutions srl                                 0.0         0.0
RE/MAX HÃ¡bitat                                       0.0         0.0
Instituto IGA                                        0.0         0.0

[6 rows x 186 columns]

In [39]:
#Armo clusters de las empresas, segun el tipo de areas laborales en las que tienen postulaciones

from sklearn.cluster import KMeans
# Convert DataFrame to matrix
mat = dataframe.as_matrix()
# Using sklearn
km = KMeans(n_clusters=20)
km.fit(mat)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=20, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [40]:
# Get cluster assignment labels
labels = km.labels_

results = pd.DataFrame(data=labels, columns=['cluster'], index=dataframe.index)

In [50]:
results.sample(6)

                         cluster
denominacion_empresa
Asesorar                       9
ABC ClÃ­nica Empresarial        9
Profesional Schools           16
AEROTERRA S.A.                 9
ACD SA                         9
ENSOLPIGS S.A.                 9

In [70]:
#Hay un cluster de mucho mayor tamaÃ±o al resto
results['cluster'].value_counts()

9     3053
0      109
18      49
1       36
16      22
19      16
4       15
8        6
15       4
12       3
6        2
2        2
13       2
7        1
5        1
3        1
17       1
11       1
14       1
10       1
Name: cluster, dtype: int64

In [54]:
#Armo 20 columnas que me indican a que cluster pertenece esa empresa
results.reset_index(inplace=True)
results.head()

                             denominacion_empresa  cluster
0   Asistencia Respiratoria MecÃ¡nica Domiciliaria        9
1                                        D.O.T.A.        9
2                                      Futurestep        9
3                                               -        9
4                                               .        9

In [114]:
group=results.groupby('cluster')

In [115]:
dataframe = pd.DataFrame(group['denominacion_empresa'].value_counts()).unstack().T

In [116]:
dataframe.reset_index(inplace=True)
dataframe=dataframe.fillna(0)

In [117]:
dataframe.head()

cluster,level_0,denominacion_empresa,0,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,19
0,denominacion_empresa,Asistencia Respiratoria MecÃ¡nica Domiciliaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,denominacion_empresa,D.O.T.A.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,denominacion_empresa,Futurestep,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,denominacion_empresa,-,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,denominacion_empresa,.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
dataframe.drop(columns=['level_0'],axis=1,inplace=True)

In [119]:
dataframe.head()

cluster,denominacion_empresa,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,Asistencia Respiratoria MecÃ¡nica Domiciliaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,D.O.T.A.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Futurestep,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
#Con esto transformo los resultados de los nuevos features a booleanos, asi ocupan menos espacio

column_names = dataframe.select_dtypes(include=[np.float]).columns

dataframe[column_names]=dataframe[column_names].astype(bool)

In [124]:
dataframe.head()

cluster,denominacion_empresa,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,Asistencia Respiratoria MecÃ¡nica Domiciliaria,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,D.O.T.A.,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Futurestep,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,-,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,.,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [132]:
avisos_detalle_filtrados_nuevo=avisos_detalle_filtrados_nuevo.merge(dataframe,on='denominacion_empresa',how='outer')

In [133]:
#Lleno los nulls con el valor False
avisos_detalle_filtrados_nuevo=avisos_detalle_filtrados_nuevo.fillna(False)

In [135]:
#Dropeo la info de denominacion_empresa y area_laboral, ya que las uso con los nuevos features de clusters
avisos_detalle_filtrados_nuevo.drop(columns=['nombre_area','denominacion_empresa'],axis=1,inplace=True)

In [136]:
avisos_detalle_filtrados_nuevo.head()

,idaviso,idpais,tipo_de_trabajo,"(nivel_laboral, Gerencia / Alta Gerencia / DirecciÃ³n)","(nivel_laboral, Jefe / Supervisor / Responsable)","(nivel_laboral, Junior)","(nivel_laboral, Otro)","(nivel_laboral, Senior / Semi-Senior)",0,1,...,10,11,12,13,14,15,16,17,18,19
0,1111556097,1,Full-time,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1112426827,1,Full-time,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1111266888,1,Full-time,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1112448447,1,Full-time,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1112394600,1,Full-time,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Convierto tipo_de_trabajo en un booleano que indique si es o no full-time

In [137]:
def setCategory(c):
    
    if c == 'Full-time':
        return True
    else:
        return False

In [138]:
avisos_detalle_filtrados_nuevo['tipo_de_trabajo']=avisos_detalle_filtrados_nuevo['tipo_de_trabajo'].apply(setCategory)
avisos_detalle_filtrados_nuevo.head()

,idaviso,idpais,tipo_de_trabajo,"(nivel_laboral, Gerencia / Alta Gerencia / DirecciÃ³n)","(nivel_laboral, Jefe / Supervisor / Responsable)","(nivel_laboral, Junior)","(nivel_laboral, Otro)","(nivel_laboral, Senior / Semi-Senior)",0,1,...,10,11,12,13,14,15,16,17,18,19
0,1111556097,1,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1112426827,1,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1111266888,1,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1112448447,1,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1112394600,1,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [139]:
#Dropeo la info de idpais, ya que por ahora no me sirve
avisos_detalle_filtrados_nuevo.drop(columns=['idpais'],axis=1,inplace=True)

In [140]:
avisos_detalle_filtrados_nuevo.head()

,idaviso,tipo_de_trabajo,"(nivel_laboral, Gerencia / Alta Gerencia / DirecciÃ³n)","(nivel_laboral, Jefe / Supervisor / Responsable)","(nivel_laboral, Junior)","(nivel_laboral, Otro)","(nivel_laboral, Senior / Semi-Senior)",0,1,2,...,10,11,12,13,14,15,16,17,18,19
0,1111556097,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1112426827,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1111266888,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1112448447,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1112394600,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [141]:
avisos_detalle_filtrados_nuevo.shape

(25288, 27)

In [143]:
avisos_detalle_filtrados_df.shape

(25288, 6)

In [144]:
avisos_detalle_filtrados_nuevo.to_csv('avisos_detalle_filtrados_nuevo')

In [145]:
%who

KMeans	 KNeighborsClassifier	 avisos_detalle_filtrados_df	 avisos_detalle_filtrados_nuevo	 avisos_detalle_filtrados_nuevo2	 avisos_detalle_missing	 avisos_online_df	 column_names	 dataframe
group	 grupo	 km	 labels	 mat	 np	 pd	 postulaciones_df	 postulaciones_df2
postulantes_edu_df	 postulantes_gye_df	 random	 results	 setCategory	 vistas_df

In [146]:
#Libero memoria que no uso
del avisos_detalle_filtrados_nuevo
del avisos_detalle_filtrados_nuevo2
del avisos_detalle_missing
del avisos_online_df
del column_names
del dataframe
del group
del grupo
del labels
del mat
del postulaciones_df2
del postulantes_edu_df
del postulantes_gye_df
del results
del vistas_df

# Me fijo si las vistas implican una no postulacion

In [126]:
vistas_df.head()

      idaviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0
1  1112400775  2018-04-06T01:43:48.330-0400      kPjr2K0
2  1112426664  2018-04-06T01:43:50.042-0400      GNOwZmb
3  1112426664  2018-04-06T01:43:51.171-0400      GNOwZmb
4  1112445738  2018-04-06T01:43:46.371-0400      lDLxajz

In [127]:
vistas_df.columns=['idaviso','timestamp','idpostulante']

In [128]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [129]:
#Efectivamente una "vista" no implica una no postulacion.
postulaciones_df.merge(vistas_df,on=['idaviso','idpostulante'],how='inner').head()

      idaviso idpostulante     fechapostulacion                     timestamp
0  1112364763         ZaO5  2018-02-27 20:54:50  2018-02-27T20:53:53.668-0500
1  1112383420         ZaO5  2018-03-07 08:16:46  2018-04-02T18:38:56.797-0400
2  1112383420         ZaO5  2018-03-07 08:16:46  2018-04-02T18:39:20.453-0400
3  1112397910         ZaO5  2018-03-18 15:35:40  2018-04-02T18:42:17.247-0400
4  1112397910         ZaO5  2018-03-18 15:35:40  2018-04-02T18:44:18.643-0400

# Armado del Set de Entrenamiento

In [28]:
# Primero armo un dataframe con la informacion de postulaciones que ya tengo -> postulantes_df
# Observar que aca puede haber postulantes sobre los cuales no tengo informacion sobre genero y edad.
# Tambien puede haber postulantes que luego no aparezcan en el test final.


# Â¿Deberia filtrar los postulantes sobre los cuales no tengo info sobre su genero y edad?
avisos = avisos_detalle_filtrados_df
avisos = avisos['idaviso'].to_frame()

postulantes = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes = postulantes['idpostulante'].to_frame()


postulantes_df =  postulaciones_df.merge(avisos,how='inner',on='idaviso')
postulantes_df = postulantes_df.merge(postulantes,how='inner',on='idpostulante')

postulantes_df =postulantes_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
postulantes_df.columns=['postulacion']
postulantes_df['postulacion'] = 1 #Para los casos en que se repiten.

avisos = 0
postulantes = 0

In [131]:
postulantes_df.head()

                         postulacion
idpostulante idaviso
0z5Dmrd      1112384041            1
             1112420060            1
0z5JW1r      1112257171            1
             1112281879            1
             1112292169            1

In [29]:
postulantes_df.reset_index(inplace=True)

In [133]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [134]:
postulantes_df.idaviso.unique().shape

(18695,)

In [135]:
avisos_detalle_df['idaviso'].unique().shape

(25288,)

In [30]:
#Armado de NO postulaciones

#Verificar que las listas utilizadas sean las correctas. Estamos usando solo avisos con postulacion.

#Â¿Podriamos usar los avisos que no tienen postulacion?


lista = []
user_list = postulantes_filtrados_df['idpostulante'].unique() #Utilizo a todos los usuarios. 
aviso_list = avisos_detalle_filtrados_df['idaviso'].unique() #Utilizo todos los avisos.
index = 1
for n in range(10000):
    for i in range(500):
        user_index = random.randint(0,504371)
        aviso_index = random.randint(0,25287)
        lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
        index+=1

In [31]:
no_postulantes_df = pd.DataFrame(lista)

In [32]:
#postulantes_filtrados_df=0
#avisos_detalle_df= 0
#avisos_detalle_filtrados_df=0
#avisos_online_df=0
#postulaciones_df=0
del lista

In [139]:
no_postulantes_df.memory_usage(deep=True).sum()

438943772

In [33]:
no_postulantes_df.head()

   0        1           2  3
0  1  5mLVBPv  1112344735  0
1  2  jkM4Pbb  1112282410  0
2  3   Z6eJmZ  1112382244  0
3  4  Yj5R3AV  1111665785  0
4  5   NGM8Bl  1112311925  0

In [34]:
no_postulantes_df.drop(0,axis='columns',inplace=True)

In [142]:
no_postulantes_df.head()

         1           2  3
0  bOJZdJb  1112162026  0
1  rmRr3B6  1112266305  0
2  vVjWYG5  1112212689  0
3  Rz938qq  1112485025  0
4   8wL5m3  1112329020  0

In [35]:
no_postulantes_df.columns= ['idpostulante','idaviso','postulacion']

In [36]:
no_postulantes_df.shape

(5000000, 3)

In [145]:
no_postulantes_df.head()

  idpostulante     idaviso  postulacion
0      bOJZdJb  1112162026            0
1      rmRr3B6  1112266305            0
2      vVjWYG5  1112212689            0
3      Rz938qq  1112485025            0
4       8wL5m3  1112329020            0

In [37]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [38]:
#Junto el dataframe donde tengo los postulantes con el aviso al que se postularon
#Con el dataframe generado al azar.
entrenamiento_df = no_postulantes_df.merge(postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [148]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y
0      bOJZdJb  1112162026            0.0            NaN
1      rmRr3B6  1112266305            0.0            NaN
2      vVjWYG5  1112212689            0.0            NaN
3      Rz938qq  1112485025            0.0            NaN
4       8wL5m3  1112329020            0.0            NaN

In [39]:
entrenamiento_df['postulacion_x'].fillna(0,inplace=True)
entrenamiento_df['postulacion_y'].fillna(0,inplace=True)

In [40]:
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion_x'] + entrenamiento_df['postulacion_y']

In [151]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y  postulacion
0      bOJZdJb  1112162026            0.0            0.0          0.0
1      rmRr3B6  1112266305            0.0            0.0          0.0
2      vVjWYG5  1112212689            0.0            0.0          0.0
3      Rz938qq  1112485025            0.0            0.0          0.0
4       8wL5m3  1112329020            0.0            0.0          0.0

In [41]:
 entrenamiento_df.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [42]:
entrenamiento_df['postulacion'] = pd.Categorical(entrenamiento_df['postulacion'])
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion'].cat.codes
entrenamiento_df['postulacion'].value_counts()

1    6187929
0    4997525
Name: postulacion, dtype: int64

In [43]:
# Hasta aca Ya tenemos nuestro formato (id,postulante,aviso,postulacion)
entrenamiento_df.head()

  idpostulante     idaviso  postulacion
0      5mLVBPv  1112344735            0
1      jkM4Pbb  1112282410            0
2       Z6eJmZ  1112382244            0
3      Yj5R3AV  1111665785            0
4       NGM8Bl  1112311925            0

In [44]:
entrenamiento_df.tail()

         idpostulante     idaviso  postulacion
11185449      zvxzrWm  1112438823            1
11185450      zvxzrWm  1112442213            1
11185451      zvxzrWm  1112445486            1
11185452      zvxzrWm  1112448822            1
11185453      zvxzrWm  1112455515            1

In [156]:
entrenamiento_df.idaviso.unique().shape

(25288,)

In [157]:
avisos_detalle_df.idaviso.unique().shape

(25288,)

# Armo la Matriz de Features

In [2]:
entrenamiento_df=pd.read_csv('entrenamiento_df_1')
avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_nuevo')

In [3]:
entrenamiento_df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [4]:
avisos_detalle_filtrados_df.head()

,Unnamed: 0,idaviso,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0,1,...,10,11,12,13,14,15,16,17,18,19
0,0,1111556097,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,1112426827,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,1111266888,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,1112448447,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,1112394600,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
avisos_detalle_filtrados_df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [5]:
matrix_df = entrenamiento_df.merge(avisos_detalle_filtrados_df,how='inner',on='idaviso')

In [6]:
matrix_df.head()

,idpostulante,idaviso,postulacion,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0,...,10,11,12,13,14,15,16,17,18,19
0,5mLVBPv,1112344735,0,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,W9VDMmj,1112344735,0,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,X9kkxA8,1112344735,0,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,MVdmVVL,1112344735,0,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,lDL9PNX,1112344735,0,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
matrix_df.idaviso.shape

(11185454,)

In [9]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [7]:
del avisos_detalle_filtrados_df

In [8]:
postulantes_filtrados_df=pd.read_csv('postulantes_filtrados_nuevo')
postulantes_filtrados_df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [9]:
matrix_df = matrix_df.merge(postulantes_filtrados_df,how='inner',on='idpostulante')

In [10]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [11]:
del postulantes_filtrados_df
del entrenamiento_df

In [12]:
%who

KNeighborsClassifier	 matrix_df	 np	 pd	 random

In [ ]:
#matrix_df.to_csv('matrix_df')

In [13]:
#Me quedo con el indice como "id" de la tupla postulante-aviso.
matrix_df.drop(columns=['idpostulante','idaviso'],axis=1,inplace=True)

In [13]:
matrix_df.head()

,postulacion,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,0,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
matrix_df.to_csv('matriz_entrenamiento.csv')

In [3]:
matrix_df=pd.read_csv('matriz_entrenamiento.csv')

In [8]:
matrix_df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [9]:
matrix_df.head()

,postulacion,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,0,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Test Final DF

In [55]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [177]:
test_final_df.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [178]:
test_final_df['idpostulante'].unique().shape

(64646,)

In [179]:
#Los postulantes que tengo informacion que aparecen en el test final.
#Entonces hay casi 20mil postulantes sobre los cuales no tengo informacion.
test_final_df.drop_duplicates('idpostulante').merge(postulantes_filtrados_df,on='idpostulante',how='inner').shape

(64646, 6)

# KNN

In [39]:
knn = KNeighborsClassifier(n_neighbors= 200)

In [73]:
entrenamiento_df.head()

NameError: name 'entrenamiento_df' is not defined

In [100]:
matrix_df.head()

,postulacion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,sexo,nombre,estado,edad
0,0,7,1,4,12,1,7,2,59
1,0,7,1,4,185,1,7,2,59
2,0,7,2,3,26,1,7,2,59
3,0,7,1,2,2,1,7,2,59
4,0,7,1,1,117,1,7,2,59

In [10]:
X = matrix_df[matrix_df['postulacion'] == 0].head(500000).append(matrix_df[matrix_df['postulacion'] == 1].head(500000))

In [12]:
X.head()

,postulacion,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,0,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,0,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,0,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,0,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
X.shape

(1000000, 53)

In [66]:
X['sexo'].value_counts()

 1    510641
-1    467914
 0     21445
Name: sexo, dtype: int64

In [13]:
y = X['postulacion']
X = X.drop('postulacion',axis=1)

In [14]:
X.head()

,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,3_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [106]:
#from sklearn.preprocessing import StandardScaler

#features = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']
#X = X.loc[:, features].values
#X = StandardScaler().fit_transform(X)
#X

In [107]:
#X = pd.DataFrame(X)
#X.columns = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']

#X.head()

In [108]:
entrenamiento_df = ""
postulantes_df = ""
no_postulantes_df = ""

In [23]:
y.value_counts()

1    500000
0    500000
Name: postulacion, dtype: int64

In [68]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=200, p=2,
           weights='uniform')

In [16]:
del matrix_df

In [69]:
avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_nuevo')
avisos_detalle_filtrados_df.drop(columns=['Unnamed: 0'],axis=1, inplace=True)

In [70]:
postulantes_filtrados_df=pd.read_csv('postulantes_filtrados_nuevo')
postulantes_filtrados_df.drop(columns=['Unnamed: 0'],axis=1, inplace=True)

In [71]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [72]:
test_final_df = test_final_df.merge(avisos_detalle_filtrados_df,on='idaviso',how='left')

In [73]:
test_final_df.columns

Index(['id', 'idaviso', 'idpostulante', 'tipo_de_trabajo',
       '('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')',
       '('nivel_laboral', 'Jefe / Supervisor / Responsable')',
       '('nivel_laboral', 'Junior')', '('nivel_laboral', 'Otro')',
       '('nivel_laboral', 'Senior / Semi-Senior')', '0', '1', '2', '3', '4',
       '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19'],
      dtype='object')

In [74]:
test_final_df.shape

(100000, 29)

In [75]:
test_final_df = test_final_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')

In [76]:
del postulantes_filtrados_df
del avisos_detalle_filtrados_df

In [77]:
test_final_df.shape

(100000, 55)

In [34]:
test_final_df.head()

,id,idaviso,idpostulante,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,0,739260,6M9ZQR,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,739260,6v1xdL,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,739260,ezRKm9,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,758580,1Q35ej,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,758580,EAN4J6,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [80]:
test_final_df = test_final_df.drop(['id','idaviso','idpostulante'],axis=1)

In [28]:
test_final_df.head()

,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,3_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [83]:
test_final_df.shape

(100000, 47)

In [84]:
X.shape

(1000000, 47)

In [61]:
X.head()

,tipo_de_trabajo,"('nivel_laboral', 'Gerencia / Alta Gerencia / DirecciÃ³n')","('nivel_laboral', 'Jefe / Supervisor / Responsable')","('nivel_laboral', 'Junior')","('nivel_laboral', 'Otro')","('nivel_laboral', 'Senior / Semi-Senior')",0_x,1_x,2_x,3_x,...,8_y,9_y,10_y,11_y,12_y,13_y,14_y,15_y,16_y,17_y
0,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [85]:
pred = knn.predict(test_final_df)

In [86]:
pred

array([0, 1, 0, ..., 0, 0, 0])

In [125]:
test_final_df.head()

,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,sexo,nombre,estado,edad
0,1,1,1,30,1,0,2,42
1,1,1,1,30,2,3,1,31
2,1,1,1,30,1,7,2,36
3,1,1,3,170,2,4,2,69
4,1,1,3,170,1,6,1,32

In [87]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [88]:
test_final_df['sepostulo'] = pd.DataFrame(pred)

In [89]:
submit = test_final_df.drop(['idaviso','idpostulante'],axis=1)

In [90]:
submit.set_index('id',inplace=True)

In [91]:
submit.sepostulo.value_counts()

0    82483
1    17517
Name: sepostulo, dtype: int64

In [92]:
submit.sepostulo.value_counts()

0    82483
1    17517
Name: sepostulo, dtype: int64

In [93]:
submit.to_csv('Submit_file.csv')

In [94]:
del test_final_df
#del X
del knn
del pred
del submit
#del y

In [97]:
%who

KNeighborsClassifier	 X	 np	 pd	 random	 y