In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('fiuba_1_postulantes_educacion_h15.csv')
postulantes_gye_df = pd.read_csv('fiuba_2_postulantes_genero_y_edad_h15.csv')
vistas_df = pd.read_csv('fiuba_3_vistas_h15.csv')
postulaciones_df = pd.read_csv('fiuba_4_postulaciones_h15.csv')
avisos_online_df = pd.read_csv('fiuba_5_avisos_online_h15.csv')
avisos_detalle_df = pd.read_csv('fiuba_6_avisos_detalle_h15.csv')

In [3]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('fiuba_4_postulaciones.csv')
avisos_online_df2 = pd.read_csv('fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [5]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion_d15.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad_d15.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas_d15.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle_d15.csv')

In [6]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [7]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

# Libero Espacio de la Memoria

In [8]:
del postulantes_edu_df2
del postulantes_gye_df2
del vistas_df2
del avisos_detalle_df2

# Filtrado de Postulantes con informacion completa

In [9]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado
0         ZjlZ    Master  En Curso
1         NdJl  Posgrado  En Curso

In [10]:
postulantes_gye_df.head(2)

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA

In [11]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [12]:
postulantes_edu_df.estado.value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [13]:
postulantes_edu_df.nombre.value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [14]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [15]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [16]:
postulantes_edu_df['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

# Trabajamos con la educacion

Asignamos un valor para cada estado de la educacion, Graduado->2, En Curso->1, Abandonado->0

In [17]:
def setCategory(c):
    if c == 'Graduado':
        return 2
    elif c == 'En Curso':
        return 1
    return 0

In [18]:
postulantes_edu_df['valor_estado'] = postulantes_edu_df['estado'].apply(setCategory)

In [19]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado
0         ZjlZ         Master  En Curso             1
1         NdJl       Posgrado  En Curso             1
2         5kNq           Otro  En Curso             1
3         8rYD         Master  En Curso             1
4         1Wvj  Universitario  En Curso             1

In [20]:
postulantes_edu_df['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

Al igual que hicimos con los estados de la educacion, lo hacemos con el nivel de educacion.

In [21]:
def setCategory(c):
    
    if c == 'Doctorado':
        return 12
    elif c == 'Master':
        return 10
    elif c == 'Posgrado':
        return 8
    elif c == 'Universitario':
        return 6
    elif c == 'Terciario/TÃ©cnico':
        return 4
    elif c == 'Secundario':
        return 2
    return 0

In [22]:
postulantes_edu_df['valor_nombre'] = postulantes_edu_df['nombre'].apply(setCategory)

In [23]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado  valor_estado  valor_nombre
0         ZjlZ    Master  En Curso             1            10
1         NdJl  Posgrado  En Curso             1             8

Ahora unificamos los datos obtenidos, creando una escala donde a mayor educacion, mayor peso. Considerando el tipo de educacion y su estado.
Este nuevo feature llamado valoracion_edu, reemplazarÃ¡ a 'nombre'y 'estado'

In [24]:
postulantes_edu_df['valoracion_edu'] = postulantes_edu_df['valor_estado'] + postulantes_edu_df['valor_nombre']
postulantes_edu_df.drop(columns=['valor_estado','valor_nombre','nombre','estado'],axis=1,inplace=True)
postulantes_edu_df.sort_values(by='valoracion_edu',ascending=False,inplace=True)
postulantes_edu_df.drop_duplicates(inplace=True)
postulantes_edu_df.head()

       idpostulante  valoracion_edu
318724       N9AN45              14
128733      vV9Ewjj              14
337840       aMbWjD              14
398665      OqmK81N              14
14753       JBrVvBp              14

In [25]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

Los valores 0.0 los unificamos con NO_DECLARA

In [26]:
def setCategory(c):
    if c == '0.0':
        return 'NO_DECLARA'
    return c

In [27]:
postulantes_gye_df['sexo'] = postulantes_gye_df['sexo'].apply(setCategory)

In [28]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25943
Name: sexo, dtype: int64

# Unificamos los dataframes GYE con EDU

In [29]:
#Para la informacion faltante agregamos una Categoria NO_DECLARA
postulantes_filtrados_df = postulantes_gye_df.merge(postulantes_edu_df,on='idpostulante',how='outer')

print(postulantes_filtrados_df.shape)

postulantes_filtrados_df['idpostulante'].unique().shape

(738053, 4)

(504407,)

In [30]:
postulantes_filtrados_df.head(2)

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             NaN
1          Nzz             NaN  NO_DECLARA             NaN

Asumimos que los usuarios que no completaron su valor, tienen educacion minima, es decir, secundario abandonado.
Las fechas de nacimiento nulas se completa con la edad promedio de los usuarios registrados(31 aÃ±os).

In [31]:
postulantes_filtrados_df['sexo'].fillna('NO_DECLARA',inplace=True)
postulantes_filtrados_df['valoracion_edu'].fillna(2, inplace=True)
postulantes_filtrados_df['fechanacimiento'].fillna('1987-01-01', inplace=True)

In [32]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             2.0
1          Nzz      1987-01-01  NO_DECLARA             2.0
2          ZX1      1987-01-01  NO_DECLARA             2.0
3          Nq5      1987-01-01  NO_DECLARA             2.0
4          ebE      1952-07-07        MASC            10.0

In [33]:
postulantes_filtrados_df.shape

(738053, 4)

In [34]:
postulantes_filtrados_df.sort_values(by='sexo',inplace=True)

Al ordenar alfabeticamente sexo, los No_declara quedan ultimos, por lo tanto, al hacer un drop_duplicates, nos quedamos con la primera aparicion de ese usuario.
De esta forma si un usuario se registro dos veces, queda el registro correcto sobre su genero.

In [35]:
postulantes_filtrados_df = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes_filtrados_df.shape

(504407, 4)

In [36]:
postulantes_filtrados_df.sexo.value_counts()

FEM           251226
MASC          227832
NO_DECLARA     25349
Name: sexo, dtype: int64

In [37]:
postulantes_filtrados_df.idpostulante.unique().shape

(504407,)

In [38]:
postulantes_filtrados_df.head(2)

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0

In [39]:
postulantes_filtrados_df.fechanacimiento.describe()

count         504407
unique         17246
top       1987-01-01
freq           26120
Name: fechanacimiento, dtype: object

Las edades incorrectas son reemplazadas por al edad promedio.

In [40]:
#Le asigno la fecha promedio a las fechas incorrectas
postulantes_edad_trucha = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == True]
postulantes_edad_trucha['fechanacimiento'] = '1987-01-01'
postulantes_edad_trucha.head()

C:\Users\Andres\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       idpostulante fechanacimiento sexo  valoracion_edu
299748      8M2R6pz      1987-01-01  FEM             2.0
311804      0zkAXBE      1987-01-01  FEM             7.0
341475      VNrP8EE      1987-01-01  FEM             2.0
347580      xkdB9JK      1987-01-01  FEM             8.0
324043      VNxMRxj      1987-01-01  FEM             2.0

In [41]:
#Filtro la edad incorrecta y hago un append de la edad corregida.
postulantes_filtrados_df = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == False]
postulantes_filtrados_df = postulantes_filtrados_df.append(postulantes_edad_trucha)
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             2.0

In [42]:
#Verifico que no se hayan perdido datos.
postulantes_filtrados_df.shape

(504407, 4)

Calculo la edad y reemplazo la columna 'fechanacimiento' por 'edad'

In [43]:
postulantes_filtrados_df.loc[:,'fechanacimiento'] = pd.to_datetime(postulantes_filtrados_df['fechanacimiento']) 
postulantes_filtrados_df.loc[:,'edad'] = (2018 - postulantes_filtrados_df.fechanacimiento.dt.year)
postulantes_filtrados_df.drop(columns='fechanacimiento',axis=1,inplace=True)
postulantes_filtrados_df.head()
#Generar edad por bloques, como queremos hacer con las empresas mas populares.

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             2.0    21

In [44]:
postulantes_filtrados_df.head(2)

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25

# Avisos Detalle

In [45]:
avisos_detalle_df.head(2)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan

In [46]:
print(avisos_detalle_df.shape)
print(avisos_detalle_df['idaviso'].unique().shape)

(25901, 11)
(25288,)

In [47]:
#Sacamos los repetidos de avisos_detalle
avisos_detalle_filtrados_df = avisos_detalle_df.drop_duplicates('idaviso')
avisos_detalle_df.shape

(25901, 11)

In [48]:
#No se usa mas, a partir de ahora usamos avisos detalle filtrados.
del avisos_detalle_df

In [49]:
avisos_detalle_filtrados_df.shape

(25288, 11)

#Hago un drop de las columnas que no voy a utilizar.
#Mas adelanto debo modificar esto porque la idea es usar descripcion para nuevos features.

In [50]:
avisos_detalle_filtrados_df= avisos_detalle_filtrados_df.drop(columns=['idpais','mapacalle','ciudad','descripcion'],axis=1)

In [51]:
avisos_detalle_filtrados_df.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,Responsable de Marketing-Producto Div. Constru...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,Asesor de Servicios - Postventa Chevrolet,Gran Buenos Aires,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,Analistas de Impuestos Sr Ssr y Jr,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,Software Engineer,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,Business Developer Manager,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

# Postulaciones

In [52]:
postulantes_filtrados_df['idpostulante'].unique().shape

(504407,)

In [53]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

Comparamos los "usuarios" con los  postulantes.

In [54]:
print(postulantes_filtrados_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

Como resultado tenemos los postulantes que coinciden en postulaciones y postulantes
Observamos que hay usuarios que no se postularon a ningun aviso.

In [55]:
postulantes_filtrados_efectivos_df = postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')
postulantes_filtrados_efectivos_df.idpostulante.unique().shape

(348883,)

In [56]:
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.drop_duplicates('idpostulante')
postulantes_filtrados_efectivos_df.shape

(348883, 6)

In [57]:
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop(['idaviso','fechapostulacion'],axis='columns')
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.reset_index()
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop('index',axis='columns')
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

Nos quedamos con los usuarios sobre los cuales tenemos informacion y ademas se postularon a un aviso.

In [58]:
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [59]:
postulantes_filtrados_efectivos_df.shape

(348883, 4)

# Armado del set de Postulaciones

Primero armo un dataframe con la informacion de postulaciones que ya tengo -> postulantes_df.
Observar que aca puede haber postulantes sobre los cuales no tengo informacion sobre genero y edad.
Tambien puede haber postulantes que luego no aparezcan en el test final.

Me quedo con los idavisos sobre los cuales tengo informacion

In [60]:
avisos = avisos_detalle_filtrados_df['idaviso'].to_frame()

Me quedo con los idpostulantes sobre los cuales tengo informacion

In [61]:
postulantes = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes = postulantes['idpostulante'].to_frame()

Hago una interseccion para quedarme con usuarios y avisos sobre los cuales tengo informacion

In [62]:
postulantes_df =  postulaciones_df.merge(avisos,how='inner',on='idaviso')
postulantes_df = postulantes_df.merge(postulantes,how='inner',on='idpostulante')

Armo el formato necesario para que me quede idpostulante-idaviso

In [63]:
postulantes_df =postulantes_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
postulantes_df.columns=['postulacion']
postulantes_df['postulacion'] = 1 
avisos = 0
postulantes = 0

In [64]:
postulantes_df.head()

                         postulacion
idpostulante idaviso
0z5Dmrd      1112384041            1
             1112420060            1
0z5JW1r      1112257171            1
             1112281879            1
             1112292169            1

In [65]:
postulantes_df.reset_index(inplace=True)

In [66]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [67]:
postulantes_df.idaviso.unique().shape

(18695,)

# Armado del set de No Postulaciones

Armarmos un set de no postulaciones asignando de forma random avisos a usuarios.
Mas adelante se verifica que esta no postulacion al azar no sea una postulacion efectiva.

# No agarrar postulaciones o vistas

In [68]:
lista = []
user_list = postulantes_filtrados_df['idpostulante'].unique() #Utilizo a todos los usuarios. 
aviso_list = avisos_detalle_filtrados_df['idaviso'].unique() #Utilizo todos los avisos.
index = 1
for n in range(5000000):
    user_index = random.randint(0,504371)
    aviso_index = random.randint(0,25287)
    lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
    index+=1

In [69]:
no_postulantes_df = pd.DataFrame(lista)

In [70]:
del lista

In [71]:
no_postulantes_df.memory_usage(deep=True).sum()

438945196

In [72]:
no_postulantes_df.head()

   0        1           2  3
0  1   6PlYKM  1112209489  0
1  2   1zYmjz  1112275128  0
2  3  pzdOkdw  1112363604  0
3  4  5mP0lOq  1112323675  0
4  5  Rzrp10E  1112350095  0

In [73]:
no_postulantes_df.drop(0,axis='columns',inplace=True)

In [74]:
no_postulantes_df.head()

         1           2  3
0   6PlYKM  1112209489  0
1   1zYmjz  1112275128  0
2  pzdOkdw  1112363604  0
3  5mP0lOq  1112323675  0
4  Rzrp10E  1112350095  0

In [75]:
no_postulantes_df.columns= ['idpostulante','idaviso','postulacion']

In [76]:
no_postulantes_df.shape

(5000000, 3)

In [77]:
no_postulantes_df.head()

  idpostulante     idaviso  postulacion
0       6PlYKM  1112209489            0
1       1zYmjz  1112275128            0
2      pzdOkdw  1112363604            0
3      5mP0lOq  1112323675            0
4      Rzrp10E  1112350095            0

In [78]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

# Armado de Set de Entrenamiento

Juntamos los no_postulantes con los postulantes para armar el set de entrenamiento

In [79]:
entrenamiento_df = no_postulantes_df.merge(postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [80]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y
0       6PlYKM  1112209489            0.0            NaN
1       1zYmjz  1112275128            0.0            NaN
2      pzdOkdw  1112363604            0.0            NaN
3      5mP0lOq  1112323675            0.0            NaN
4      Rzrp10E  1112350095            0.0            NaN

In [81]:
entrenamiento_df['postulacion_x'].fillna(0,inplace=True)
entrenamiento_df['postulacion_y'].fillna(0,inplace=True)

La idea es sumar las columnas duplicadas, ya que si habia una postulacion para esa misma dupla idaviso-idpostulante, predomina la postulacion(1) sobre la no_postulacion(0)

In [82]:
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion_x'] + entrenamiento_df['postulacion_y']

In [83]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y  postulacion
0       6PlYKM  1112209489            0.0            0.0          0.0
1       1zYmjz  1112275128            0.0            0.0          0.0
2      pzdOkdw  1112363604            0.0            0.0          0.0
3      5mP0lOq  1112323675            0.0            0.0          0.0
4      Rzrp10E  1112350095            0.0            0.0          0.0

In [84]:
 entrenamiento_df.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [85]:
entrenamiento_df['postulacion'].value_counts()

1.0    6187929
0.0    4997515
Name: postulacion, dtype: int64

In [86]:
entrenamiento_df['postulacion'] = pd.Categorical(entrenamiento_df['postulacion'])
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion'].cat.codes
entrenamiento_df['postulacion'].value_counts()

1    6187929
0    4997515
Name: postulacion, dtype: int64

In [87]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion
0       6PlYKM  1112209489            0
1       1zYmjz  1112275128            0
2      pzdOkdw  1112363604            0
3      5mP0lOq  1112323675            0
4      Rzrp10E  1112350095            0

In [88]:
entrenamiento_df.tail()

         idpostulante     idaviso  postulacion
11185439      zvxzrWm  1112438823            1
11185440      zvxzrWm  1112442213            1
11185441      zvxzrWm  1112445486            1
11185442      zvxzrWm  1112448822            1
11185443      zvxzrWm  1112455515            1

In [89]:
entrenamiento_df.idaviso.unique().shape

(25288,)

# Armo la Matriz de Features

In [90]:
del postulantes_edu_df
del postulantes_gye_df
del postulantes_edad_trucha
del avisos_detalle_missing
del postulaciones_df2

In [91]:
#Para levantar los csv guardados previamente.


#entrenamiento_df=pd.read_csv('entrenamiento_df_1')
#entrenamiento_df.drop('Unnamed: 0',axis=1,inplace=True)
#avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_df')
#postulantes_filtrados_df=postulantes_filtrados_nuevo

Me quedo con un Sample de 1M

In [92]:
#entrenamiento_df = entrenamiento_df.sample(10000)

# En este paso vamos a crear una nueva columna en avisos_detalle donde indica el valor de la valoracion_edu promedio de cada aviso segun los postulantes.

En primer lugar, agrego la informacion de cada aviso a las postulaciones

In [178]:
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')

In [179]:
#merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.sample(1000)

In [180]:
merge_detalle_postulaciones_df.head(2)

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
949473,1112325578,0zP3pP9,2018-02-22 22:26:15,Gerente para Sucursal Santa Fe Capital,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / DirecciÃ³n,Comercial,CETROGAR
946542,1112241972,owaOE1e,2018-01-15 06:35:12,Ejecutivo de cuentas para empresa de tecnologi...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower

Esto ya lo corri para todos los datos. Dejo el csv de esta matriz en el archivo en el git y todo el codigo comentado

In [181]:
# Se puede encontrar la educacion promedio para cada aviso y luego asignar esa educacion a los postulantes que no tienen educacion definida
postulantes = postulantes_filtrados_efectivos_df.groupby('idpostulante')

In [182]:
dictionary = {}
def armarFeatureConValoracionEduPorAviso(idpostulante,idaviso):
    if not idaviso in dictionary:
        dictionary[idaviso] = [0,0] #El primer elemento es la suma acumulada de valoracion de edad. El segundo es contador
    val_edu = dictionary[idaviso]
    val_edu[1]+=1
    val_edu[0] += postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
    dictionary[idaviso] = val_edu

In [183]:
merge_detalle_postulaciones_df.apply(lambda row: armarFeatureConValoracionEduPorAviso(row['idpostulante'], row['idaviso']),axis=1)

949473     None
946542     None
4207600    None
997002     None
1542859    None
3517989    None
1932640    None
3074692    None
439144     None
4950587    None
5072795    None
3159942    None
5899444    None
1261657    None
4200566    None
2823983    None
5375115    None
2400137    None
3328931    None
4848812    None
630952     None
2111204    None
2759568    None
206411     None
3805904    None
2711959    None
5197424    None
2334089    None
1018306    None
2158287    None
           ...
811270     None
3883051    None
1907359    None
5750139    None
1853415    None
2847655    None
5517027    None
1939586    None
1458883    None
4607140    None
3529360    None
247051     None
1325571    None
5961258    None
1319934    None
1216073    None
2611987    None
5513647    None
3621276    None
577927     None
2009743    None
3912638    None
2228706    None
4700422    None
2973833    None
5664988    None
2517275    None
4394132    None
968918     None
855788     None
Length: 1000, dtype: object

In [184]:
for key,value in dictionary.items():
    prom = round((value[0]/value[1]))
    dictionary[key] = prom

In [185]:
def assignValEduToAdd(c):
    return dictionary[c]

In [186]:
merge_detalle_postulaciones_df['val_edu'] = merge_detalle_postulaciones_df['idaviso'].apply(assignValEduToAdd)

In [187]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu
949473,1112325578,0zP3pP9,2018-02-22 22:26:15,Gerente para Sucursal Santa Fe Capital,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / DirecciÃ³n,Comercial,CETROGAR,2.0
946542,1112241972,owaOE1e,2018-01-15 06:35:12,Ejecutivo de cuentas para empresa de tecnologi...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower,4.0
4207600,1112345222,Eze3pj8,2018-02-23 13:25:23,Buscamos un Pasante en Recursos Humanos para s...,Gran Buenos Aires,Part-time,Junior,PasantÃ­a / Trainee,Globant,6.0
997002,1112310415,3NdGaMP,2018-04-09 16:32:28,Vendedores/ras para Perfumerias,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Adecco -Sales & Marketing,4.0
1542859,1112312443,owjNdee,2018-02-05 09:52:16,Operador de Monitoreo de CÃ¡maras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,JUNCADELLA,2.0

In [188]:
#merge_detalle_postulaciones_df = pd.read_csv('merge_detalle_postulaciones_df.csv')

In [189]:
#merge_detalle_postulaciones_df.drop('Unnamed: 0',1,inplace=True)

# En este paso vamos a crear una nueva columna en avisos_detalle donde indica el valor de la edad promedio de cada aviso segun los postulantes.

In [190]:
dictionary = {}
def armarFeatureConEdadPorAviso(idpostulante,idaviso):
    if not idaviso in dictionary:
        dictionary[idaviso] = [0,0] #El primer elemento es la suma acumulada de  edad. El segundo es contador
    val_edad = dictionary[idaviso]
    val_edad[1]+=1
    val_edad[0] += postulantes.get_group(idpostulante)['edad'].iloc[0]
    dictionary[idaviso] = val_edad

In [191]:
merge_detalle_postulaciones_df.apply(lambda row: armarFeatureConEdadPorAviso(row['idpostulante'], row['idaviso']),axis=1)

949473     None
946542     None
4207600    None
997002     None
1542859    None
3517989    None
1932640    None
3074692    None
439144     None
4950587    None
5072795    None
3159942    None
5899444    None
1261657    None
4200566    None
2823983    None
5375115    None
2400137    None
3328931    None
4848812    None
630952     None
2111204    None
2759568    None
206411     None
3805904    None
2711959    None
5197424    None
2334089    None
1018306    None
2158287    None
           ...
811270     None
3883051    None
1907359    None
5750139    None
1853415    None
2847655    None
5517027    None
1939586    None
1458883    None
4607140    None
3529360    None
247051     None
1325571    None
5961258    None
1319934    None
1216073    None
2611987    None
5513647    None
3621276    None
577927     None
2009743    None
3912638    None
2228706    None
4700422    None
2973833    None
5664988    None
2517275    None
4394132    None
968918     None
855788     None
Length: 1000, dtype: object

In [192]:
for key,value in dictionary.items():
    prom = round((value[0]/value[1]))
    dictionary[key] = prom

In [193]:
def assignValEdadToAdd(c):
    return dictionary[c]

In [194]:
merge_detalle_postulaciones_df['val_edad'] = merge_detalle_postulaciones_df['idaviso'].apply(assignValEdadToAdd)

In [195]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu,val_edad
949473,1112325578,0zP3pP9,2018-02-22 22:26:15,Gerente para Sucursal Santa Fe Capital,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / DirecciÃ³n,Comercial,CETROGAR,2.0,31.0
946542,1112241972,owaOE1e,2018-01-15 06:35:12,Ejecutivo de cuentas para empresa de tecnologi...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower,4.0,23.0
4207600,1112345222,Eze3pj8,2018-02-23 13:25:23,Buscamos un Pasante en Recursos Humanos para s...,Gran Buenos Aires,Part-time,Junior,PasantÃ­a / Trainee,Globant,6.0,20.0
997002,1112310415,3NdGaMP,2018-04-09 16:32:28,Vendedores/ras para Perfumerias,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Adecco -Sales & Marketing,4.0,21.0
1542859,1112312443,owjNdee,2018-02-05 09:52:16,Operador de Monitoreo de CÃ¡maras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,JUNCADELLA,2.0,27.0

In [196]:
merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.merge(avisos_detalle_filtrados_df.drop(columns=['nombre_zona','tipo_de_trabajo','nivel_laboral','denominacion_empresa','nombre_area','titulo'],axis=1),how='inner',on='idaviso')

In [197]:
merge_detalle_postulaciones_df.nombre_zona.value_counts()

Gran Buenos Aires              912
Capital Federal                 84
GBA Oeste                        3
Buenos Aires (fuera de GBA)      1
Name: nombre_zona, dtype: int64

In [198]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu,val_edad
0,1112325578,0zP3pP9,2018-02-22 22:26:15,Gerente para Sucursal Santa Fe Capital,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / DirecciÃ³n,Comercial,CETROGAR,2.0,31.0
1,1112241972,owaOE1e,2018-01-15 06:35:12,Ejecutivo de cuentas para empresa de tecnologi...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower,4.0,23.0
2,1112345222,Eze3pj8,2018-02-23 13:25:23,Buscamos un Pasante en Recursos Humanos para s...,Gran Buenos Aires,Part-time,Junior,PasantÃ­a / Trainee,Globant,6.0,20.0
3,1112310415,3NdGaMP,2018-04-09 16:32:28,Vendedores/ras para Perfumerias,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Adecco -Sales & Marketing,4.0,21.0
4,1112312443,owjNdee,2018-02-05 09:52:16,Operador de Monitoreo de CÃ¡maras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,JUNCADELLA,2.0,27.0

In [199]:
merge_detalle_postulaciones_df.to_csv('merge_postulaciones_detalle.csv')

# Comenzamos a dar formato para armar los features

En primer lugar agrupo todos los avisos a los que se postulo un usuario

In [200]:
grupo_postulantes = merge_detalle_postulaciones_df.groupby('idpostulante')

En segundo lugar hago que 'idaviso' sea el indice para poder acceder de forma directa.

In [201]:
grupo_avisos = avisos_detalle_filtrados_df.groupby('idaviso')

Armo lista de los usuarios que se postularon a algun aviso del que yo tenga datos en avisos_detalle_filtrados_df

In [202]:
usuarios_con_postulaciones = grupo_postulantes.groups.keys()

# Feature Postulacion A Zona (Arreglar)

In [203]:
#La idea es aplicar lo mismo que para las areas, pero con las zonas.
def armarFeaturePostulacionesUsuarioAEsaZona(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    zona = grupo_avisos.get_group(idaviso)['nombre_zona'].iloc[0]
    zonas = grupo_postulantes.get_group(idpostulante)['nombre_zona'].value_counts()
    if zonas.index.contains(zona):
        return (zonas[zona]-ajuste)
    return 0

In [204]:
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaZona(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [205]:
entrenamiento_df['postulaciones_a_esa_zona'] = pd.DataFrame(feature)

In [206]:
entrenamiento_df.postulaciones_a_esa_zona.value_counts()

0    9986
1      14
Name: postulaciones_a_esa_zona, dtype: int64

# Feature Postulacion A Area

In [207]:
#Cuento las postulaciones por area de cada postulante sobre el cual tengo informacion
def armarFeaturePostulacionesUsuarioAEseArea(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    area = grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    areas = grupo_postulantes.get_group(idpostulante)['nombre_area'].value_counts()
    if areas.index.contains(area):
        return (areas[area]-ajuste)
    return 0

In [208]:
#Tarda mucho, por eso me quedÃ© solo con 100000 datos del entrenamiento_df
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [209]:
((pd.DataFrame(feature))[0]==entrenamiento_df['postulacion']).value_counts()

False    5503
True     4497
dtype: int64

In [210]:
entrenamiento_df['postulaciones_a_ese_area'] = pd.DataFrame(feature)

# Feature Postulacion A Empresa

In [211]:
def armarFeaturePostulacionesUsuarioAEsaEmpresa(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    empresa = grupo_avisos.get_group(idaviso)['denominacion_empresa'].iloc[0]
    empresas = grupo_postulantes.get_group(idpostulante)['denominacion_empresa'].value_counts()
    if empresas.index.contains(empresa):
        return (empresas[empresa]-ajuste)
    return 0

In [212]:
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [213]:
entrenamiento_df['postulaciones_a_esa_empresa'] = pd.DataFrame(feature)

# Feature Educacion

In [214]:
g_avisos = merge_detalle_postulaciones_df.groupby('idaviso')

In [215]:
def armarFeatureEduDelAvisoYPostulante(idpostulante,idaviso):
    if ((idpostulante in usuarios_con_postulaciones) == False) or  not (idaviso in g_avisos.groups.keys()) :
        return 0
    val_edu = g_avisos.get_group(idaviso)['val_edu'].iloc[0]
    valoracion_edu = postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
    if abs(val_edu-valoracion_edu) < 3:
        return 1
    return 0

In [216]:
feature = entrenamiento_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [217]:
entrenamiento_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)

# Feature Edad

In [218]:
def armarFeatureEduDelAvisoYPostulante(idpostulante,idaviso):
    if ((idpostulante in usuarios_con_postulaciones) == False) or  not (idaviso in g_avisos.groups.keys()) :
        return 0
    val_edad = g_avisos.get_group(idaviso)['val_edad'].iloc[0]
    edad = postulantes.get_group(idpostulante)['edad'].iloc[0]
    if abs(val_edad-edad) <=3:
        return 1
    return 0

In [219]:
feature = entrenamiento_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [220]:
entrenamiento_df['relacion_edad_con_aviso'] = pd.DataFrame(feature)


# Feature Titulo

In [221]:
grupo_postulantes.head()

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu,val_edad
0,1112325578,0zP3pP9,2018-02-22 22:26:15,Gerente para Sucursal Santa Fe Capital,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / DirecciÃ³n,Comercial,CETROGAR,2.0,31.0
1,1112241972,owaOE1e,2018-01-15 06:35:12,Ejecutivo de cuentas para empresa de tecnologi...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower,4.0,23.0
2,1112345222,Eze3pj8,2018-02-23 13:25:23,Buscamos un Pasante en Recursos Humanos para s...,Gran Buenos Aires,Part-time,Junior,PasantÃ­a / Trainee,Globant,6.0,20.0
3,1112310415,3NdGaMP,2018-04-09 16:32:28,Vendedores/ras para Perfumerias,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Adecco -Sales & Marketing,4.0,21.0
4,1112312443,owjNdee,2018-02-05 09:52:16,Operador de Monitoreo de CÃ¡maras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,JUNCADELLA,2.0,27.0
5,1112312443,mzJZZrQ,2018-02-16 10:03:53,Operador de Monitoreo de CÃ¡maras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,JUNCADELLA,2.0,27.0
6,1112293815,owjNkqk,2018-02-01 12:23:52,OFICIAL COMERCIO EXTERIOR Ssr.,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas Internacionales/ExportaciÃ³n,BBVA FrancÃ©s,8.0,30.0
7,1112335571,0zPZDQM,2018-02-26 23:15:44,Encargado de deposito,Gran Buenos Aires,Full-time,Senior / Semi-Senior,LogÃ­stica,Bs. As. Celular,4.0,31.0
8,1111716562,5mPG8MM,2018-04-04 13:23:40,Tecnico QuÃ­mico Jr.,Gran Buenos Aires,Full-time,Junior,ProducciÃ³n,BAYTON,6.0,32.0
9,1112293407,lDw9RD6,2018-01-26 21:48:48,Analista Sr de TesorerÃ­a,Capital Federal,Full-time,Senior / Semi-Senior,TesorerÃ­a,IguanaFix,7.0,26.0
10,1112358557,RzMbkZ1,2018-02-26 22:23:56,ADMINISTRATIVO DE PERSONAL ZONA OESTE,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AdministraciÃ³n de Personal,Vinculos Consultores en RRHH,7.0,24.0
11,1112420108,dYoNo5Y,2018-04-07 21:42:22,Vendedores en Entre Rios,Gran Buenos Aires,Part-time,Junior,Ventas,EAYA Consulting,7.0,29.0
12,1112263613,aWYM0Z,2018-01-22 10:34:01,OPERADORES DE VENTA Y COBRANZA RUBRO FINANCIERO,Gran Buenos Aires,Full-time,Junior,AtenciÃ³n al Cliente,FI INVERSIONES,2.0,32.0
13,1112252524,NKwe8z,2018-02-03 19:43:34,Jr Econometric Analyst,Gran Buenos Aires,Full-time,Junior,JÃ³venes Profesionales,Nielsen,7.0,26.0
14,1112282610,ZD88md1,2018-01-23 17:27:15,Administrativo de FacturaciÃ³n (temporal),Gran Buenos Aires,Full-time,Junior,AdministraciÃ³n,Silvia Baena Consultora,4.0,43.0
15,1112335686,YjlqYoJ,2018-02-19 16:34:30,Cadete para importante empresa.,Gran Buenos Aires,Full-time,Senior / Semi-Senior,CadeterÃ­a,Adecco -RegiÃ³n Office,1.0,26.0
16,1112384155,LN89A3j,2018-03-12 07:57:31,Analista Jr/ Ssr,Gran Buenos Aires,Full-time,Junior,AdministraciÃ³n de Base de Datos,BANCO MACRO,7.0,29.0
17,1112349978,W9W2Rde,2018-02-23 23:56:59,Vendedor en La Plata,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Garbarino,4.0,30.0
18,1112376814,4rPEDjK,2018-03-08 22:08:35,PROGRAMA DE TRAINEES 2018 COCA-COLA FEMSA ::: ...,Gran Buenos Aires,Full-time,Junior,JÃ³venes Profesionales,COCA-COLA FEMSA DE ARGENTINA,6.0,26.0
19,1112376814,jkjlxkG,2018-03-05 10:19:49,PROGRAMA DE TRAINEES 2018 COCA-COLA FEMSA ::: ...,Gran Buenos Aires,Full-time,Junior,JÃ³venes Profesionales,COCA-COLA FEMSA DE ARGENTINA,6.0,26.0
20,1112376814,jk5eNvY,2018-03-05 10:18:59,PROGRAMA DE TRAINEES 2018 COCA-COLA FEMSA ::: ...,Gran Buenos Aires,Full-time,Junior,JÃ³venes Profesionales,COCA-COLA FEMSA DE ARGENTINA,6.0,26.0
21,1112377373,zv6dQ06,2018-04-15 10:33:59,Representante VentasÂ Call Center,Gran Buenos Aires,Part-time,Junior,Ventas,Adecco - RegiÃ³n Centro Norte y Agro.,7.0,25.0
22,1111614289,EM6ab0,2018-01-21 13:56:00,OPERARIO LOGISTICO ZONA NORTE,Gran Buenos Aires,Full-time,Junior,LogÃ­stica,Asoko Tempo SA,4.0,36.0
23,1112304171,VNljAPj,2018-03-13 10:20:28,Coordinador de Seleccion,Gran Buenos Aires,Full-time,Senior / Semi-Senior,SelecciÃ³n,Assistem,4.0,34.0
24,1112387630,0zdPdYE,2018-03-08 13:46:52,se necesita vendedor para casa deportes,Capital Federal,Full-time,Senior / Semi-Senior,Ventas,Maxxi Deportes,4.0,27.0
25,1112049325,6jDllO,2018-02-19 09:46:54,ANALISTA DE MARKETING JR - CASA CENTRAL,Gran Buenos Aires,Full-time,Junior,Marketing,BBVA FrancÃ©s,7.0,31.0
26,1112355399,W9V1pp2,2018-02-28 12:58:01,Administrativo / a para AdmisiÃ³n de InternaciÃ³...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,Alexander Fleming Instituto MÃ©dico Especializado,4.0,22.0
27,1112210505,969oqe9,2018-02-03 11:07:21,Operador TelefÃ³nico de Monitoreo,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Telemarketing,JUNCADELLA,3.0,30.0
28,1112210505,YdAZBq,2018-02-04 18:03:05,Operador TelefÃ³nico de Monitoreo,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Telemarketing,JUNCADELLA,3.0,30.0
29,1112271242,X9xbW3x,2018-02-10 22:48:45,Asesor de servicios - TOYOTA -,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AtenciÃ³n al Cliente,KANSAI S A,4.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...
970,1112443535,Oqr6eBv,2018-04-05 18:58:43,Supervisor de Call Center,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center,MK GROUP,4.0,19.0
971,1112291131,DrXdE35,2018-01-26 15:22:29,CUSTOMER SERVICE - PART TIME,Gran Buenos Aires,Part-time,Junior,AtenciÃ³n al Cliente,ATENE LOGISTIC S.A.,5.0,20.0
972,1112457363,eGqqMp,2018-04-14 14:23:33,Administrativo Contable,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AdministraciÃ³n,Amalgraf SRL,7.0,35.0
973,1112291457,zv8Y0om,2018-01-31 16:33:07,PEÃN DE COCINA Â Zona Sur y Oeste ( Part time),Gran Buenos Aires,Part-time,Junior,Gastronomia,South Management S.A. - Cookins,2.0,46.0
974,1112451680,1pY05B,2018-04-12 08:03:12,Asistente de facturaciÃ³n y cobranzas,Gran Buenos Aires,Full-time,Senior / Semi-Senior,FacturaciÃ³n,AM Consulting S.A.,7.0,30.0
975,1112260469,lDX1JdR,2018-01-15 11:05:57,Supervisor de Operadores/as Administrativos,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AdministraciÃ³n,Adecco -Sales & Marketing,4.0,37.0
976,1112461367,LNMPxMr,2018-04-13 06:57:14,Analista de Riesgo Crediticio,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AnÃ¡lisis de Riesgos,HuCap,8.0,47.0
977,1112366909,OqbAZN6,2018-02-27 19:34:37,Representantes TelefÃ³nicos de AtenciÃ³n al Cliente,Gran Buenos Aires,Part-time,Senior / Semi-Senior,Ventas,Grupo Teleperformance,4.0,20.0
978,1112389495,6rBQNml,2018-03-12 11:54:02,Administrativa de FacturaciÃ³n y Cobranzas.,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AdministraciÃ³n,SEGAR Seguridad S.A.,4.0,28.0
979,1112295724,xkdQK2b,2018-02-17 12:07:51,Operarios Z/ ValentÃ­n Alsina,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProducciÃ³n,Pullmen Servicios Empresarios S.A.,2.0,46.0
980,1112440974,qev4mrw,2018-04-14 09:01:52,Analista SAP,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Laboratorio,Alternativa Consultores,1.0,24.0
981,1112407327,eY6r8E,2018-03-20 12:53:29,ASESOR COMERCIAL SMG CELLS,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,Swiss Medical Group,7.0,30.0
982,1111397360,wVkDYDe,2018-03-12 16:36:55,Vendedores de Planes de Ahorro,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,DAMVILLE,4.0,19.0
983,1112366912,KBA8a2p,2018-02-27 18:31:33,Analista de Recursos Humanos,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Recursos Humanos,M O D O SA,4.0,44.0
984,1112374140,8MP8Xdj,2018-03-23 10:37:49,Operador Bilingue de AtenciÃ³n TÃ©cnica,Gran Buenos Aires,Full-time,Junior,Telecomunicaciones,Iplan,6.0,23.0
985,1112337924,8rl4bM,2018-03-14 11:05:01,Administrativo RRHH Eventual,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AdministraciÃ³n,Suple,6.0,47.0
986,1112315834,dYzmLYP,2018-02-08 16:06:23,Encargado de Compras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Compras,Poncio SA,7.0,26.0
987,1112411445,vV3zKrE,2018-04-14 20:39:04,Vendedoras de indumentaria femenina,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,SWEET,4.0,22.0
988,1112319809,dYoNXla,2018-02-07 18:39:15,Analista Contable Jr,Gran Buenos Aires,Full-time,Junior,Contabilidad,Pullmen Servicios Empresarios S.A.,7.0,27.0
989,1112437647,ek863r,2018-04-03 17:34:09,Ejecutivo de Ventas Bancario,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Manpower,7.0,40.0
990,1112179188,3NkPexa,2018-02-27 09:25:44,Administrativo Logistica,Gran Buenos Aires,Full-time,Senior / Semi-Senior,LogÃ­stica,Box Custodia de Archivos,7.0,52.0
991,1112410167,RzrNoPE,2018-03-26 22:51:05,Encargado de turno y cajeros.,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Gastronomia,La Parolaccia,4.0,20.0
992,1112460278,zvxo6m3,2018-04-12 11:28:18,Operario - Esteban Echeverria,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProducciÃ³n,Manpower,4.0,28.0
993,1112270422,qevA4Bx,2018-02-07 06:37:44,Repositor externo La Plata,Gran Buenos Aires,Full-time,Senior / Semi-Senior,AlmacÃ©n / DepÃ³sito / ExpediciÃ³n,Adecco -Sales & Marketing,5.0,30.0
994,1112262190,5mdkvRk,2018-01-15 18:14:47,Cadete eventual - Instituto QuirÃºrgico del Cal...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,CadeterÃ­a,UniÃ³n Personal,4.0,28.0
995,1112439336,dYJe5lX,2018-04-03 17:56:16,Operario/a para el armado de productos elÃ©ctri...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProducciÃ³n,RH Talentum,4.0,31.0
996,1112246312,owaZAKL,2018-01-27 10:13:48,Recepcionista/ Asistente para Consultora de Pe...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Recepcionista,Suple,6.0,43.0
997,1112295713,96MG2mw,2018-02-09 14:50:53,Telemarketer con Experiencia en Ventas en Call...,Gran Buenos Aires,Part-time,Otro,Call Center,APPLICA - Humanos con Recursos,7.0,24.0
998,1112237422,Ed9GbN,2018-01-15 07:46:49,Analista Jr de Cuentas a Pagar,Capital Federal,Full-time,Junior,AdministraciÃ³n,OIL COMBUSTIBLES SA,6.0,65.0
999,1112271567,bOzxxMd,2018-02-02 12:45:05,Oficial de Negocios y Pyme,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,Banco Comafi,8.0,25.0

In [222]:
from collections import Counter
def armarFeatureInteresEnPalabrasDeTitulo(idpostulante, idaviso, ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    palabras_en_titulos_de_sus_postulaciones = " ".join(grupo_postulantes.get_group(idpostulante)['titulo'].values.tolist()).lower()
    #Saco comas, parentesis, sufijos etc. Para abarcar mas palabras
    titulo_aviso = grupo_avisos.get_group(idaviso)['titulo'].iloc[0].lower().replace("(",' ').replace(")",' ').replace(",",' ').replace('/',' ').replace(' para ',' ').replace('-',' ').replace(' con ',' ').replace('experiencia',' ').replace('zona',' ').replace('villa',' ').replace('barrio',' ').replace('ero ',' ').replace('era ',' ').replace('cion ',' ').replace('ativo ',' ').replace('ativa ',' ').replace('dor ',' ').replace('dora ',' ').replace('dores ',' ').replace('doras ',' ').replace('ista ',' ').replace('or ',' ').replace('ora ',' ').replace('ico ',' ').replace('ica ',' ').replace('icos ',' ').replace('icas ',' ').replace('time',' ').replace('Ã¡rea',' ').replace('area',' ').split(" ")
    contador=0
    for x in titulo_aviso:
        if  len(x)>2 and x!='' and palabras_en_titulos_de_sus_postulaciones.count(x) > 0:
            contador = contador + palabras_en_titulos_de_sus_postulaciones.count(x) - ajuste
    return contador

In [223]:
feature = entrenamiento_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [224]:
entrenamiento_df['interes_en_titulo_de_aviso'] = pd.DataFrame(feature)

In [225]:
entrenamiento_df.relacion_educacion_con_aviso.value_counts()

0    9988
1      12
Name: relacion_educacion_con_aviso, dtype: int64

In [226]:
entrenamiento_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,relacion_edad_con_aviso,interes_en_titulo_de_aviso
9085500,ZxZke5,1112325265,1,0,0,0,0,0,0
9776182,ekOqqaj,1112460196,1,0,0,0,0,0,0
10820059,vVk4M3X,1112289850,1,0,0,0,0,0,0
380220,DrXYjqa,1112207726,0,0,0,0,0,0,0
9840403,ez4pAj,1112256142,1,0,0,0,0,0,0

In [227]:
matrix_df = entrenamiento_df

In [228]:
matrix_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,relacion_edad_con_aviso,interes_en_titulo_de_aviso
9085500,ZxZke5,1112325265,1,0,0,0,0,0,0
9776182,ekOqqaj,1112460196,1,0,0,0,0,0,0
10820059,vVk4M3X,1112289850,1,0,0,0,0,0,0
380220,DrXYjqa,1112207726,0,0,0,0,0,0,0
9840403,ez4pAj,1112256142,1,0,0,0,0,0,0

In [229]:
matrix_df.idaviso.shape

(10000,)

In [230]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [231]:
#Ver que estÃ¡ ocupando memoria.
%who

Counter	 armarFeatureConEdadPorAviso	 armarFeatureConValoracionEduPorAviso	 armarFeatureEduDelAvisoYPostulante	 armarFeatureInteresEnPalabrasDeTitulo	 armarFeaturePostulacionesUsuarioAEsaEmpresa	 armarFeaturePostulacionesUsuarioAEsaZona	 armarFeaturePostulacionesUsuarioAEseArea	 assignValEdadToAdd
assignValEduToAdd	 aviso_index	 aviso_list	 avisos	 avisos_detalle_filtrados_df	 avisos_online_df	 avisos_online_df2	 dictionary	 entrenamiento_df
feature	 g_avisos	 grupo_avisos	 grupo_postulantes	 index	 key	 matrix_df	 merge_detalle_postulaciones_df	 n
no_postulantes_df	 np	 pd	 postulaciones_df	 postulantes	 postulantes_df	 postulantes_filtrados_df	 postulantes_filtrados_efectivos_df	 prom
random	 setCategory	 user_index	 user_list	 usuarios_con_postulaciones	 value	 vistas_df

Me quedo con el indice como "id" de la tupla postulante-aviso.

In [232]:
matrix_df.drop(columns=['idpostulante','idaviso'],axis=1,inplace=True)

In [233]:
matrix_df.head()

,postulacion,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,relacion_edad_con_aviso,interes_en_titulo_de_aviso
9085500,1,0,0,0,0,0,0
9776182,1,0,0,0,0,0,0
10820059,1,0,0,0,0,0,0
380220,0,0,0,0,0,0,0
9840403,1,0,0,0,0,0,0

In [234]:
matrix_df['postulacion'].value_counts()

1    5503
0    4497
Name: postulacion, dtype: int64

In [235]:
X = matrix_df

In [236]:
X.head()

,postulacion,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,relacion_edad_con_aviso,interes_en_titulo_de_aviso
9085500,1,0,0,0,0,0,0
9776182,1,0,0,0,0,0,0
10820059,1,0,0,0,0,0,0
380220,0,0,0,0,0,0,0
9840403,1,0,0,0,0,0,0

In [237]:
y = X['postulacion']
X = X.drop('postulacion',axis=1)

# Test Final DF

In [238]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [239]:
test_final_df.head(2)

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL

In [240]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso'],0),axis=1)

In [241]:
test_final_df['postulaciones_a_ese_area']=pd.DataFrame(feature)

In [242]:
test_final_df.head(2)

   id  idaviso idpostulante  postulaciones_a_ese_area
0   0   739260       6M9ZQR                         0
1   1   739260       6v1xdL                         0

In [243]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],0),axis=1)

In [244]:
test_final_df['postulaciones_a_esa_empresa']=pd.DataFrame(feature)

In [355]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa
0,0,739260,6M9ZQR,0,0
1,1,739260,6v1xdL,1,0

In [357]:
#feature = test_final_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [361]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaZona(row['idpostulante'], row['idaviso'],0),axis=1)

In [362]:
test_final_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)

In [363]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso
0,0,739260,6M9ZQR,0,0,0
1,1,739260,6v1xdL,1,0,4

In [365]:
#feature = test_final_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],0),axis=1)

In [ ]:
test_final_df['interes_en_titulo_de_aviso']=pd.DataFrame(feature)

In [ ]:
test_final_df.head(2)

In [367]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaZona(row['idpostulante'], row['idaviso'],0),axis=1)

In [368]:
test_final_df['postulaciones_a_esa_zona'] = pd.DataFrame(feature)

In [369]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,postulaciones_a_esa_zona
0,0,739260,6M9ZQR,0,0,0,0
1,1,739260,6v1xdL,1,0,4,4

Chequeamos que esten todos los datos.

In [370]:
test_final_df.shape

(100000, 7)

In [371]:
test_final_df = test_final_df.drop(['id','idaviso','idpostulante'],axis=1)

In [372]:
test_final_df.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,postulaciones_a_esa_zona
0,0,0,0,0
1,1,0,4,4
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0

In [373]:
test_final_df.to_csv('test_final_df.csv')

In [230]:
test_final_df = pd.read_csv('test_final_df.csv')
test_final_df.drop('Unnamed: 0',1,inplace=True)

In [374]:
test_final_df.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,postulaciones_a_esa_zona
0,0,0,0,0
1,1,0,4,4
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0

# Visualizacion del set de etrenamiento

In [419]:
import matplotlib.pyplot as plt

In [541]:
#plt.scatter(X[:,0], X[:,1], alpha=0.4, c=trainLabels)
#plt.title("Datos de 'entrenamiento'")
#plt.show()

# Random Forest

In [406]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [407]:
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [408]:
list(zip(X[X.columns], clf.feature_importances_))

[('postulaciones_a_ese_area', 0.4881500396704431),
 ('postulaciones_a_esa_empresa', 0.023675258915016303),
 ('relacion_educacion_con_aviso', 0.09644698650180368),
 ('interes_en_titulo_de_aviso', 0.39172771491273684)]

In [409]:
pred = clf.predict_proba(test_final_df)

pred = pred[:,1]

# Random Forest con Bagging

In [ ]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=clf,n_estimators=10)

In [398]:
bc.fit(X,y)

BaggingClassifier(base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [542]:
pred = bc.predict_proba(test_final_df)

In [ ]:
pred = pred[:,1]

# Perceptron

In [217]:
from sklearn.linear_model import Perceptron
ptron = Perceptron()

In [546]:
ptron.fit(X,y)

In [383]:
pred = ptron.predict(test_final_df)

In [384]:
#Si se quiere hacer un submit solo con perceptron, pasar directo al Armado de Submit

# Bagging con Perceptron

In [218]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=ptron,n_estimators=50)

In [219]:
bc.fit(X,y)

C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\Andres\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

BaggingClassifier(base_estimator=Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=0,
      shuffle=True, tol=None, verbose=0, warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [220]:
pred = bc.predict_proba(test_final_df)

In [221]:
pred = pred[:,1]

# Perceptron multinivel

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier()

In [ ]:
mlp.fit(X,y)

In [ ]:
pred = mlp.predict(test_final_df)

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=50)

In [ ]:
knn.fit(X,y)

In [ ]:
knn.score(X,y)

In [ ]:
knn.predict(test_final_df)

# Bagging KNN

In [ ]:
from sklearn.ensemble import BaggingClassifier
bcknn = BaggingClassifier(base_estimator=knn,n_estimators=20)

In [ ]:
bcknn.fit(X,y)

In [ ]:
bcknn.score(X,y)

In [ ]:
pred=bcknn.predict_proba(test_final_df)

# Naive_Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
matrix_df.head()

In [ ]:
X.head()

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
X.columns

In [ ]:
#from sklearn.preprocessing import StandardScaler

#features = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']
#X = X.loc[:, features].values
#X = StandardScaler().fit_transform(X)
#X

In [ ]:
#X = pd.DataFrame(X)
#X.columns = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']

#X.head()

In [ ]:
y.value_counts()

In [ ]:
nb.fit(X, y)

In [ ]:
nb.score(X,y)

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
pred = nb.predict(test_final_df)

# Boosting

In [375]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.ensemble import AdaBoostClassifier



#.drop(['interes_en_titulo_de_aviso','relacion_educacion_con_aviso'],axis=1)

adaboost = AdaBoostClassifier(n_estimators=100)
scores = cross_val_score(adaboost,X.drop(['interes_en_titulo_de_aviso','relacion_educacion_con_aviso'],axis=1),y)
scores.mean()

0.950200005089989

In [376]:
X.head()

,postulaciones_a_esa_zona,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
4591654,0,0,0,0,0
4614747,4,0,0,1,1
1886851,0,0,0,0,0
6497896,47,1,0,1,1
7693,4,0,0,1,1

In [384]:
adaboost.fit(X.drop(['relacion_educacion_con_aviso'],axis=1),y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=None)

In [385]:
test_final_df.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,postulaciones_a_esa_zona
0,0,0,0,0
1,1,0,4,4
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0

In [389]:
pred = adaboost.predict_proba(test_final_df)

In [390]:
pred = pred[:,1]

In [391]:
list(zip(X, adaboost.feature_importances_))

[('postulaciones_a_esa_zona', 0.85),
 ('postulaciones_a_ese_area', 0.01),
 ('postulaciones_a_esa_empresa', 0.13),
 ('relacion_educacion_con_aviso', 0.01)]

# Gradient Boosting

In [518]:
from sklearn.ensemble import GradientBoostingClassifier

In [519]:
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=2, random_state=0)

In [521]:
gb.fit(X,y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1.0, loss='deviance', max_depth=2,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [526]:
pred = gb.predict_proba(test_final_df)

In [527]:
pred = pred[:,1]

In [540]:
scores = cross_val_score(gb, X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1),y)
scores

array([0.88849223, 0.88884889, 0.88647886])

# ARMADO DE SUBMIT

In [392]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [393]:
test_final_df['sepostulo'] = pd.DataFrame(pred)

In [394]:
submit = test_final_df.drop(['idaviso','idpostulante'],axis=1)

In [395]:
submit.set_index('id',inplace=True)

In [396]:
submit.head()

    sepostulo
id
0    0.405588
1    0.413169
2    0.405588
3    0.405588
4    0.405588

In [397]:
submit.sepostulo.value_counts()

0.405588    26222
0.555756    25434
0.413226     8664
0.461168     5431
0.414653     4870
0.459949     3558
0.508186     3306
0.414146     3267
0.508707     3011
0.413589     2482
0.414359     1966
0.507237     1642
0.512051     1213
0.556967     1003
0.413463      905
0.412957      864
0.417905      852
0.507611      846
0.508405      841
0.412036      675
0.506727      492
0.412731      389
0.412400      343
0.416712      318
0.404406      302
0.413169      259
0.509412      209
0.509933      201
0.411543      106
0.508463      101
0.513277       70
0.508838       46
0.509631       45
0.507954       37
0.500567       18
0.499341       12
Name: sepostulo, dtype: int64

In [398]:
submit.head()

    sepostulo
id
0    0.405588
1    0.413169
2    0.405588
3    0.405588
4    0.405588

In [399]:
submit.to_csv('Submit_file.csv')