In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
#Hasta 15 de Abril (para entrenar)

postulantes_edu_df = pd.read_csv('fiuba_1_postulantes_educacion_h15.csv')
postulantes_gye_df = pd.read_csv('fiuba_2_postulantes_genero_y_edad_h15.csv')
vistas_df = pd.read_csv('fiuba_3_vistas_h15.csv')
postulaciones_df = pd.read_csv('fiuba_4_postulaciones_h15.csv')
avisos_online_df = pd.read_csv('fiuba_5_avisos_online_h15.csv')
avisos_detalle_df = pd.read_csv('fiuba_6_avisos_detalle_h15.csv')

In [3]:
#Originales TP1 (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv('fiuba_4_postulaciones.csv')
avisos_online_df2 = pd.read_csv('fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo outer de los datos
#Originales TP1 y Datos hasta 15 de abril

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [5]:
#Desde 15 de abril (para entrenar)

postulantes_edu_df2 = pd.read_csv('fiuba_1_postulantes_educacion_d15.csv')
postulantes_gye_df2 = pd.read_csv('fiuba_2_postulantes_genero_y_edad_d15.csv')
vistas_df2 = pd.read_csv('fiuba_3_vistas_d15.csv')
avisos_detalle_df2 = pd.read_csv('fiuba_6_avisos_detalle_d15.csv')

In [6]:
#Avisos detalle que faltaban
avisos_detalle_missing = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [7]:
#Mergeamos todo

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_missing,how='outer')

# Libero Espacio de la Memoria

In [8]:
del postulantes_edu_df2
del postulantes_gye_df2
del vistas_df2
del avisos_detalle_df2

# Filtrado de Postulantes con informacion completa

In [9]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado
0         ZjlZ    Master  En Curso
1         NdJl  Posgrado  En Curso

In [10]:
postulantes_gye_df.head(2)

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA

In [11]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

In [12]:
postulantes_edu_df.estado.value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [13]:
postulantes_edu_df.nombre.value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [14]:
print(postulantes_edu_df.shape)
print(postulantes_gye_df.shape)

(693641, 3)
(505382, 3)

In [15]:
print(postulantes_edu_df.idpostulante.unique().shape)
print(postulantes_gye_df.idpostulante.unique().shape)

(447909,)
(504407,)

In [16]:
postulantes_edu_df['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

# Trabajamos con la educacion

Asignamos un valor para cada estado de la educacion, Graduado->2, En Curso->1, Abandonado->0

In [17]:
def setCategory(c):
    if c == 'Graduado':
        return 2
    elif c == 'En Curso':
        return 1
    return 0

In [18]:
postulantes_edu_df['valor_estado'] = postulantes_edu_df['estado'].apply(setCategory)

In [19]:
postulantes_edu_df.head()

  idpostulante         nombre    estado  valor_estado
0         ZjlZ         Master  En Curso             1
1         NdJl       Posgrado  En Curso             1
2         5kNq           Otro  En Curso             1
3         8rYD         Master  En Curso             1
4         1Wvj  Universitario  En Curso             1

In [20]:
postulantes_edu_df['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/TÃ©cnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

Al igual que hicimos con los estados de la educacion, lo hacemos con el nivel de educacion.

In [21]:
def setCategory(c):
    
    if c == 'Doctorado':
        return 12
    elif c == 'Master':
        return 10
    elif c == 'Posgrado':
        return 8
    elif c == 'Universitario':
        return 6
    elif c == 'Terciario/TÃ©cnico':
        return 4
    elif c == 'Secundario':
        return 2
    return 0

In [22]:
postulantes_edu_df['valor_nombre'] = postulantes_edu_df['nombre'].apply(setCategory)

In [23]:
postulantes_edu_df.head(2)

  idpostulante    nombre    estado  valor_estado  valor_nombre
0         ZjlZ    Master  En Curso             1            10
1         NdJl  Posgrado  En Curso             1             8

Ahora unificamos los datos obtenidos, creando una escala donde a mayor educacion, mayor peso. Considerando el tipo de educacion y su estado.
Este nuevo feature llamado valoracion_edu, reemplazarÃ¡ a 'nombre'y 'estado'

In [24]:
postulantes_edu_df['valoracion_edu'] = postulantes_edu_df['valor_estado'] + postulantes_edu_df['valor_nombre']
postulantes_edu_df.drop(columns=['valor_estado','valor_nombre','nombre','estado'],axis=1,inplace=True)
postulantes_edu_df.sort_values(by='valoracion_edu',ascending=False,inplace=True)
postulantes_edu_df.drop_duplicates(inplace=True)
postulantes_edu_df.head()

       idpostulante  valoracion_edu
318724       N9AN45              14
128733      vV9Ewjj              14
337840       aMbWjD              14
398665      OqmK81N              14
14753       JBrVvBp              14

In [25]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25936
0.0                7
Name: sexo, dtype: int64

Los valores 0.0 los unificamos con NO_DECLARA

In [26]:
def setCategory(c):
    if c == '0.0':
        return 'NO_DECLARA'
    return c

In [27]:
postulantes_gye_df['sexo'] = postulantes_gye_df['sexo'].apply(setCategory)

In [28]:
postulantes_gye_df.sexo.value_counts()

FEM           251431
MASC          228008
NO_DECLARA     25943
Name: sexo, dtype: int64

# Unificamos los dataframes GYE con EDU

In [29]:
#Para la informacion faltante agregamos una Categoria NO_DECLARA
postulantes_filtrados_df = postulantes_gye_df.merge(postulantes_edu_df,on='idpostulante',how='outer')

print(postulantes_filtrados_df.shape)

postulantes_filtrados_df['idpostulante'].unique().shape

(738053, 4)

(504407,)

In [30]:
postulantes_filtrados_df.head(2)

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             NaN
1          Nzz             NaN  NO_DECLARA             NaN

Asumimos que los usuarios que no completaron su valor, tienen educacion minima, es decir, secundario abandonado.
Las fechas de nacimiento nulas se completa con la edad promedio de los usuarios registrados(31 aÃ±os).

In [31]:
postulantes_filtrados_df['sexo'].fillna('NO_DECLARA',inplace=True)
postulantes_filtrados_df['valoracion_edu'].fillna(2, inplace=True)
postulantes_filtrados_df['fechanacimiento'].fillna('1987-01-01', inplace=True)

In [32]:
postulantes_filtrados_df.head()

  idpostulante fechanacimiento        sexo  valoracion_edu
0          6MM      1985-01-01        MASC             2.0
1          Nzz      1987-01-01  NO_DECLARA             2.0
2          ZX1      1987-01-01  NO_DECLARA             2.0
3          Nq5      1987-01-01  NO_DECLARA             2.0
4          ebE      1952-07-07        MASC            10.0

In [33]:
postulantes_filtrados_df.shape

(738053, 4)

In [34]:
postulantes_filtrados_df.sort_values(by='sexo',inplace=True)

Al ordenar alfabeticamente sexo, los No_declara quedan ultimos, por lo tanto, al hacer un drop_duplicates, nos quedamos con la primera aparicion de ese usuario.
De esta forma si un usuario se registro dos veces, queda el registro correcto sobre su genero.

In [35]:
postulantes_filtrados_df = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes_filtrados_df.shape

(504407, 4)

In [36]:
postulantes_filtrados_df.sexo.value_counts()

FEM           251226
MASC          227832
NO_DECLARA     25349
Name: sexo, dtype: int64

In [37]:
postulantes_filtrados_df.idpostulante.unique().shape

(504407,)

In [38]:
postulantes_filtrados_df.head(2)

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0

In [39]:
postulantes_filtrados_df.fechanacimiento.describe()

count         504407
unique         17246
top       1987-01-01
freq           26120
Name: fechanacimiento, dtype: object

Las edades incorrectas son reemplazadas por al edad promedio.

In [40]:
#Le asigno la fecha promedio a las fechas incorrectas
postulantes_edad_trucha = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == True]
postulantes_edad_trucha['fechanacimiento'] = '1987-01-01'
postulantes_edad_trucha.head()

C:\Users\Andres\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       idpostulante fechanacimiento sexo  valoracion_edu
299748      8M2R6pz      1987-01-01  FEM             2.0
311804      0zkAXBE      1987-01-01  FEM             7.0
341475      VNrP8EE      1987-01-01  FEM             2.0
347580      xkdB9JK      1987-01-01  FEM             8.0
324043      VNxMRxj      1987-01-01  FEM             2.0

In [41]:
#Filtro la edad incorrecta y hago un append de la edad corregida.
postulantes_filtrados_df = postulantes_filtrados_df[ (postulantes_filtrados_df['fechanacimiento'].str.startswith('0')) == False]
postulantes_filtrados_df = postulantes_filtrados_df.append(postulantes_edad_trucha)
postulantes_filtrados_df.head()

       idpostulante fechanacimiento sexo  valoracion_edu
369026      5mPYWjp      1989-05-01  FEM             4.0
588433      xkdxkDz      1993-08-28  FEM             5.0
303865      EzE23E4      1999-04-23  FEM             4.0
303863      6r5OwJO      1997-06-07  FEM             4.0
588434      lDL3D1X      1997-07-17  FEM             2.0

In [42]:
#Verifico que no se hayan perdido datos.
postulantes_filtrados_df.shape

(504407, 4)

Calculo la edad y reemplazo la columna 'fechanacimiento' por 'edad'

In [43]:
postulantes_filtrados_df.loc[:,'fechanacimiento'] = pd.to_datetime(postulantes_filtrados_df['fechanacimiento']) 
postulantes_filtrados_df.loc[:,'edad'] = (2018 - postulantes_filtrados_df.fechanacimiento.dt.year)
postulantes_filtrados_df.drop(columns='fechanacimiento',axis=1,inplace=True)
postulantes_filtrados_df.head()
#Generar edad por bloques, como queremos hacer con las empresas mas populares.

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25
303865      EzE23E4  FEM             4.0    19
303863      6r5OwJO  FEM             4.0    21
588434      lDL3D1X  FEM             2.0    21

In [44]:
postulantes_filtrados_df.head(2)

       idpostulante sexo  valoracion_edu  edad
369026      5mPYWjp  FEM             4.0    29
588433      xkdxkDz  FEM             5.0    25

# Avisos Detalle

In [45]:
avisos_detalle_df.head(2)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan

In [46]:
print(avisos_detalle_df.shape)
print(avisos_detalle_df['idaviso'].unique().shape)

(25901, 11)
(25288,)

In [47]:
#Sacamos los repetidos de avisos_detalle
avisos_detalle_filtrados_df = avisos_detalle_df.drop_duplicates('idaviso')
avisos_detalle_df.shape

(25901, 11)

In [48]:
#No se usa mas, a partir de ahora usamos avisos detalle filtrados.
del avisos_detalle_df

In [49]:
avisos_detalle_filtrados_df.shape

(25288, 11)

#Hago un drop de las columnas que no voy a utilizar.
#Mas adelanto debo modificar esto porque la idea es usar descripcion para nuevos features.

In [50]:
avisos_detalle_filtrados_df= avisos_detalle_filtrados_df.drop(columns=['idpais','mapacalle','ciudad','descripcion'],axis=1)

In [51]:
avisos_detalle_filtrados_df.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,Responsable de Marketing-Producto Div. Constru...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,Asesor de Servicios - Postventa Chevrolet,Gran Buenos Aires,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,Analistas de Impuestos Sr Ssr y Jr,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,Software Engineer,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,Business Developer Manager,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

# Postulaciones

In [52]:
postulantes_filtrados_df['idpostulante'].unique().shape

(504407,)

In [53]:
postulaciones_df.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

Comparamos los "usuarios" con los  postulantes.

In [54]:
print(postulantes_filtrados_df.idpostulante.unique().shape)
print(postulaciones_df.idpostulante.unique().shape)

(504407,)
(348883,)

Como resultado tenemos los postulantes que coinciden en postulaciones y postulantes
Observamos que hay usuarios que no se postularon a ningun aviso.

In [55]:
postulantes_filtrados_efectivos_df = postulaciones_df.merge(postulantes_filtrados_df,on='idpostulante',how='inner')
postulantes_filtrados_efectivos_df.idpostulante.unique().shape

(348883,)

In [56]:
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.drop_duplicates('idpostulante')
postulantes_filtrados_efectivos_df.shape

(348883, 6)

In [57]:
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop(['idaviso','fechapostulacion'],axis='columns')
postulantes_filtrados_efectivos_df = postulantes_filtrados_efectivos_df.reset_index()
postulantes_filtrados_efectivos_df =  postulantes_filtrados_efectivos_df.drop('index',axis='columns')
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

Nos quedamos con los usuarios sobre los cuales tenemos informacion y ademas se postularon a un aviso.

In [58]:
postulantes_filtrados_efectivos_df.head()

  idpostulante  sexo  valoracion_edu  edad
0         NjlD   FEM             6.0    37
1         ZaO5   FEM             6.0    40
2         NdJl  MASC             8.0    49
3         5kNq  MASC             1.0    45
4         Ez8J  MASC             6.0    50

In [59]:
postulantes_filtrados_efectivos_df.shape

(348883, 4)

# Armado del set de Postulaciones

Primero armo un dataframe con la informacion de postulaciones que ya tengo -> postulantes_df.
Observar que aca puede haber postulantes sobre los cuales no tengo informacion sobre genero y edad.
Tambien puede haber postulantes que luego no aparezcan en el test final.

Me quedo con los idavisos sobre los cuales tengo informacion

In [60]:
avisos = avisos_detalle_filtrados_df['idaviso'].to_frame()

Me quedo con los idpostulantes sobre los cuales tengo informacion

In [61]:
postulantes = postulantes_filtrados_df.drop_duplicates('idpostulante')
postulantes = postulantes['idpostulante'].to_frame()

Hago una interseccion para quedarme con usuarios y avisos sobre los cuales tengo informacion

In [62]:
postulantes_df =  postulaciones_df.merge(avisos,how='inner',on='idaviso')
postulantes_df = postulantes_df.merge(postulantes,how='inner',on='idpostulante')

Armo el formato necesario para que me quede idpostulante-idaviso

In [63]:
postulantes_df =postulantes_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
postulantes_df.columns=['postulacion']
postulantes_df['postulacion'] = 1 
avisos = 0
postulantes = 0

In [64]:
postulantes_df.head()

                         postulacion
idpostulante idaviso
0z5Dmrd      1112384041            1
             1112420060            1
0z5JW1r      1112257171            1
             1112281879            1
             1112292169            1

In [65]:
postulantes_df.reset_index(inplace=True)

In [66]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [67]:
postulantes_df.idaviso.unique().shape

(18695,)

# Armado del set de No Postulaciones

Armarmos un set de no postulaciones asignando de forma random avisos a usuarios.
Mas adelante se verifica que esta no postulacion al azar no sea una postulacion efectiva.

In [68]:
lista = []
user_list = postulantes_filtrados_df['idpostulante'].unique() #Utilizo a todos los usuarios. 
aviso_list = avisos_detalle_filtrados_df['idaviso'].unique() #Utilizo todos los avisos.
index = 1
for n in range(5000000):
    user_index = random.randint(0,504371)
    aviso_index = random.randint(0,25287)
    lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
    index+=1

In [69]:
no_postulantes_df = pd.DataFrame(lista)

In [70]:
del lista

In [71]:
no_postulantes_df.memory_usage(deep=True).sum()

438943509

In [72]:
no_postulantes_df.head()

   0        1           2  3
0  1   609w6v  1112272291  0
1  2  0zPvzbd  1111489791  0
2  3  RzroMVE  1112278234  0
3  4   NR6qLJ  1111719189  0
4  5  YjlKRwZ  1112273755  0

In [73]:
no_postulantes_df.drop(0,axis='columns',inplace=True)

In [74]:
no_postulantes_df.head()

         1           2  3
0   609w6v  1112272291  0
1  0zPvzbd  1111489791  0
2  RzroMVE  1112278234  0
3   NR6qLJ  1111719189  0
4  YjlKRwZ  1112273755  0

In [75]:
no_postulantes_df.columns= ['idpostulante','idaviso','postulacion']

In [76]:
no_postulantes_df.shape

(5000000, 3)

In [77]:
no_postulantes_df.head()

  idpostulante     idaviso  postulacion
0       609w6v  1112272291            0
1      0zPvzbd  1111489791            0
2      RzroMVE  1112278234            0
3       NR6qLJ  1111719189            0
4      YjlKRwZ  1112273755            0

In [78]:
postulantes_df.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

# Armado de Set de Entrenamiento

Juntamos los no_postulantes con los postulantes para armar el set de entrenamiento

In [246]:
entrenamiento_df = no_postulantes_df.merge(postulantes_df,how='outer',on=['idpostulante','idaviso'])

In [247]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y
0       609w6v  1112272291            0.0            NaN
1      0zPvzbd  1111489791            0.0            NaN
2      RzroMVE  1112278234            0.0            NaN
3       NR6qLJ  1111719189            0.0            NaN
4      YjlKRwZ  1112273755            0.0            NaN

In [248]:
entrenamiento_df['postulacion_x'].fillna(0,inplace=True)
entrenamiento_df['postulacion_y'].fillna(0,inplace=True)

La idea es sumar las columnas duplicadas, ya que si habia una postulacion para esa misma dupla idaviso-idpostulante, predomina la postulacion(1) sobre la no_postulacion(0)

In [249]:
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion_x'] + entrenamiento_df['postulacion_y']

In [250]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion_x  postulacion_y  postulacion
0       609w6v  1112272291            0.0            0.0          0.0
1      0zPvzbd  1111489791            0.0            0.0          0.0
2      RzroMVE  1112278234            0.0            0.0          0.0
3       NR6qLJ  1111719189            0.0            0.0          0.0
4      YjlKRwZ  1112273755            0.0            0.0          0.0

In [251]:
 entrenamiento_df.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [252]:
entrenamiento_df['postulacion'].value_counts()

1.0    6187929
0.0    4997602
Name: postulacion, dtype: int64

In [253]:
entrenamiento_df['postulacion'] = pd.Categorical(entrenamiento_df['postulacion'])
entrenamiento_df['postulacion'] = entrenamiento_df['postulacion'].cat.codes
entrenamiento_df['postulacion'].value_counts()

1    6187929
0    4997602
Name: postulacion, dtype: int64

In [254]:
entrenamiento_df.head()

  idpostulante     idaviso  postulacion
0       609w6v  1112272291            0
1      0zPvzbd  1111489791            0
2      RzroMVE  1112278234            0
3       NR6qLJ  1111719189            0
4      YjlKRwZ  1112273755            0

In [255]:
entrenamiento_df.tail()

         idpostulante     idaviso  postulacion
11185526      zvxzrWm  1112438823            1
11185527      zvxzrWm  1112442213            1
11185528      zvxzrWm  1112445486            1
11185529      zvxzrWm  1112448822            1
11185530      zvxzrWm  1112455515            1

In [256]:
entrenamiento_df.idaviso.unique().shape

(25288,)

# Armo la Matriz de Features

In [550]:
del postulantes_edu_df
del postulantes_gye_df
del postulantes_edad_trucha
del avisos_detalle_missing
del postulaciones_df2

In [ ]:
#Para levantar los csv guardados previamente.


#entrenamiento_df=pd.read_csv('entrenamiento_df_1')
#entrenamiento_df.drop('Unnamed: 0',axis=1,inplace=True)
#avisos_detalle_filtrados_df=pd.read_csv('avisos_detalle_filtrados_df')
#postulantes_filtrados_df=postulantes_filtrados_nuevo

Me quedo con un Sample de 1M

In [269]:
entrenamiento_df = entrenamiento_df.sample(100000)

# En este paso vamos a crear una nueva columna en avisos_detalle donde indica el valor de la valoracion_edu promedio de cada aviso segun los postulantes.

En primer lugar, agrego la informacion de cada aviso a las postulaciones

In [270]:
merge_detalle_postulaciones_df = postulaciones_df.merge(avisos_detalle_filtrados_df, on = 'idaviso',how='inner')

In [271]:
merge_detalle_postulaciones_df.head(2)

,idaviso,idpostulante,fechapostulacion,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112248724,NjlD,2018-01-19 07:39:16,Analista de CRM y Marketing Digital,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack
1,1112248724,MV6eM8N,2018-01-30 23:44:30,Analista de CRM y Marketing Digital,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack

Esto ya lo corri para todos los datos. Dejo el csv de esta matriz en el archivo en el git y todo el codigo comentado

In [272]:
# Se puede encontrar la educacion promedio para cada aviso y luego asignar esa educacion a los postulantes que no tienen educacion definida
postulantes = postulantes_filtrados_efectivos_df.groupby('idpostulante')

In [273]:
# Cuento las postulaciones por area de cada postulante sobre el cual tengo informacion
# dictionary = {}
# def armarFeatureConValoracionEduPorAviso(idpostulante,idaviso):
#    if not idaviso in dictionary:
#        dictionary[idaviso] = [0,0] #El primer elemento es la suma acumulada de valoracion de edad. El segundo es contador
#    val_edu = dictionary[idaviso]
#    val_edu[1]+=1
#    val_edu[0] += postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
#    dictionary[idaviso] = val_edu

In [274]:
# merge_detalle_postulaciones_df.apply(lambda row: armarFeatureConValoracionEduPorAviso(row['idpostulante'], row['idaviso']),axis=1)

In [275]:
avisos_detalle_filtrados_df.head()

,idaviso,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,Responsable de Marketing-Producto Div. Constru...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,Asesor de Servicios - Postventa Chevrolet,Gran Buenos Aires,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,Analistas de Impuestos Sr Ssr y Jr,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,Software Engineer,Gran Buenos Aires,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,Business Developer Manager,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [276]:
merge_detalle_postulaciones_df = pd.read_csv('merge_detalle_postulaciones_df.csv')

In [277]:
merge_detalle_postulaciones_df.drop('Unnamed: 0',1,inplace=True)

In [278]:
merge_detalle_postulaciones_df = merge_detalle_postulaciones_df.merge(avisos_detalle_filtrados_df.drop(columns=['nombre_zona','tipo_de_trabajo','nivel_laboral','denominacion_empresa','nombre_area'],axis=1),how='inner',on='idaviso')

In [279]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu,titulo
0,1112248724,NjlD,2018-01-19 07:39:16,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
1,1112248724,MV6eM8N,2018-01-30 23:44:30,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
2,1112248724,5LzQkN,2018-01-15 07:23:49,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
3,1112248724,8M2rOBz,2018-01-30 22:20:45,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
4,1112248724,Dr6V3Da,2018-01-23 15:11:35,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital

En segundo lugar hago que 'idaviso' sea el indice para poder acceder mas facil.

In [280]:
grupo_avisos = avisos_detalle_filtrados_df.groupby('idaviso')

In [281]:
# for key,value in dictionary.items():
#    prom = round((value[0]/value[1]))
#    dictionary[key] = prom

In [282]:
# def assignValEduToAdd(c):
#    return dictionary[c]

In [283]:
# merge_detalle_postulaciones_df['val_edu'] = merge_detalle_postulaciones_df['idaviso'].apply(assignValEduToAdd)

In [284]:
merge_detalle_postulaciones_df.head()

,idaviso,idpostulante,fechapostulacion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,val_edu,titulo
0,1112248724,NjlD,2018-01-19 07:39:16,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
1,1112248724,MV6eM8N,2018-01-30 23:44:30,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
2,1112248724,5LzQkN,2018-01-15 07:23:49,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
3,1112248724,8M2rOBz,2018-01-30 22:20:45,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital
4,1112248724,Dr6V3Da,2018-01-23 15:11:35,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,6.0,Analista de CRM y Marketing Digital

# Comenzamos a dar formato para armar los features

En primer lugar agrupo todos los avisos a los que se postulo un usuario

In [285]:
grupo_postulantes = merge_detalle_postulaciones_df.groupby('idpostulante')

En segundo lugar hago que 'idaviso' sea el indice para poder acceder de forma directa.

In [286]:
grupo_avisos = avisos_detalle_filtrados_df.groupby('idaviso')

Armo lista de los usuarios que se postularon a algun aviso del que yo tenga datos en avisos_detalle_filtrados_df

In [287]:
usuarios_con_postulaciones = grupo_postulantes.groups.keys()

In [288]:
grupo_postulantes.get_group('0zBB1W9')['nombre_area'].value_counts()

AlmacÃ©n / DepÃ³sito / ExpediciÃ³n    1
Gastronomia                        1
Name: nombre_area, dtype: int64

# Feature Postulacion A Area

In [289]:
#Cuento las postulaciones por area de cada postulante sobre el cual tengo informacion
def armarFeaturePostulacionesUsuarioAEseArea(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    area = grupo_avisos.get_group(idaviso)['nombre_area'].iloc[0]
    areas = grupo_postulantes.get_group(idpostulante)['nombre_area'].value_counts()
    if areas.index.contains(area):
        return (areas[area]-ajuste)
    return 0

In [290]:
#Tarda mucho, por eso me quedÃ© solo con 100000 datos del entrenamiento_df
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [291]:
((pd.DataFrame(feature))[0]==entrenamiento_df['postulacion']).value_counts()

False    54350
True     45650
dtype: int64

In [292]:
entrenamiento_df['postulaciones_a_ese_area'] = pd.DataFrame(feature)

# Feature Postulacion A Empresa

In [293]:
def armarFeaturePostulacionesUsuarioAEsaEmpresa(idpostulante,idaviso,ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    empresa = grupo_avisos.get_group(idaviso)['denominacion_empresa'].iloc[0]
    empresas = grupo_postulantes.get_group(idpostulante)['denominacion_empresa'].value_counts()
    if empresas.index.contains(empresa):
        return (empresas[empresa]-ajuste)
    return 0

In [294]:
feature = entrenamiento_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [295]:
entrenamiento_df['postulaciones_a_esa_empresa'] = pd.DataFrame(feature)

# Feature Educacion

In [296]:
g_avisos = merge_detalle_postulaciones_df.groupby('idaviso')

In [297]:
def armarFeatureEduDelAvisoYPostulante(idpostulante,idaviso):
    if ((idpostulante in usuarios_con_postulaciones) == False) or  not (idaviso in g_avisos.groups.keys()) :
        return 0
    val_edu = g_avisos.get_group(idaviso)['val_edu'].iloc[0]
    valoracion_edu = postulantes.get_group(idpostulante)['valoracion_edu'].iloc[0]
    if abs(val_edu-valoracion_edu) <=3:
        return 1
    return 0

In [298]:
feature = entrenamiento_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [299]:
entrenamiento_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)


# Feature Titulo

In [300]:
from collections import Counter
def armarFeatureInteresEnPalabrasDeTitulo(idpostulante, idaviso, ajuste):
    if (idpostulante in usuarios_con_postulaciones) == False:
        return 0
    palabras_en_titulos_de_sus_postulaciones = " ".join(grupo_postulantes.get_group(idpostulante)['titulo'].values.tolist()).lower()
    #Saco comas, parentesis, sufijos etc. Para abarcar mas palabras
    titulo_aviso = grupo_avisos.get_group(idaviso)['titulo'].iloc[0].lower().replace("(",' ').replace(")",' ').replace(",",' ').replace('/',' ').replace(' para ',' ').replace('-',' ').replace(' con ',' ').replace('experiencia',' ').replace('zona',' ').replace('villa',' ').replace('barrio',' ').replace('ero ',' ').replace('era ',' ').replace('cion ',' ').replace('ativo ',' ').replace('ativa ',' ').replace('dor ',' ').replace('dora ',' ').replace('dores ',' ').replace('doras ',' ').replace('ista ',' ').replace('or ',' ').replace('ora ',' ').replace('ico ',' ').replace('ica ',' ').replace('icos ',' ').replace('icas ',' ').replace('time',' ').replace('Ã¡rea',' ').replace('area',' ').split(" ")
    contador=0
    for x in titulo_aviso:
        if  len(x)>2 and x!='' and palabras_en_titulos_de_sus_postulaciones.count(x) > 0:
            contador = contador + palabras_en_titulos_de_sus_postulaciones.count(x) - ajuste
    return contador

In [301]:
feature = entrenamiento_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],row['postulacion']),axis=1)

In [302]:
entrenamiento_df['interes_en_titulo_de_aviso'] = pd.DataFrame(feature)

In [303]:
entrenamiento_df.relacion_educacion_con_aviso.value_counts()

1    72250
0    27750
Name: relacion_educacion_con_aviso, dtype: int64

In [304]:
entrenamiento_df.head()

,idpostulante,idaviso,postulacion,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
2330410,0zPVjOv,1112465432,0,0,0,0,0
5199343,1MDpbj,1112323017,1,8,0,1,2
3862128,5KjDkX,1112455392,0,0,0,1,0
10363711,owjl0kL,1112223876,1,0,0,1,1
4395015,kPX2JeZ,1112327094,0,0,0,1,0

In [346]:
matrix_df = entrenamiento_df

In [347]:
matrix_df.head()

,postulacion,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
2330410,0,0,0,0,0
5199343,1,8,0,1,2
3862128,0,0,0,1,0
10363711,1,0,0,1,1
4395015,0,0,0,1,0

In [548]:
matrix_df.idaviso.shape

In [349]:
#Deberian ser iguales.
matrix_df.shape[0] == entrenamiento_df.shape[0]

True

In [350]:
#Ver que estÃ¡ ocupando memoria.
%who

BaggingClassifier	 Counter	 Perceptron	 RandomForestClassifier	 X	 armarFeatureEduDelAvisoYPostulante	 armarFeatureInteresEnPalabrasDeTitulo	 armarFeaturePostulacionesUsuarioAEsaEmpresa	 armarFeaturePostulacionesUsuarioAEseArea
aviso_index	 aviso_list	 avisos	 avisos_detalle_filtrados_df	 avisos_online_df	 avisos_online_df2	 bc	 clf	 entrenamiento_df
feature	 g_avisos	 grupo_avisos	 grupo_postulantes	 index	 matrix_df	 merge_detalle_postulaciones_df	 n	 no_postulantes_df
np	 pd	 postulaciones_df	 postulantes	 postulantes_df	 postulantes_filtrados_df	 postulantes_filtrados_efectivos_df	 pred	 ptron
random	 setCategory	 submit	 test_final_df	 user_index	 user_list	 usuarios_con_postulaciones	 vistas_df	 y

Me quedo con el indice como "id" de la tupla postulante-aviso.

In [547]:
matrix_df.drop(columns=['idpostulante','idaviso'],axis=1,inplace=True)

In [352]:
matrix_df.head()

,postulacion,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
2330410,0,0,0,0,0
5199343,1,8,0,1,2
3862128,0,0,0,1,0
10363711,1,0,0,1,1
4395015,0,0,0,1,0

In [353]:
matrix_df['postulacion'].value_counts()

1    55335
0    44665
Name: postulacion, dtype: int64

In [354]:
X = matrix_df

In [355]:
X.head()

,postulacion,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
2330410,0,0,0,0,0
5199343,1,8,0,1,2
3862128,0,0,0,1,0
10363711,1,0,0,1,1
4395015,0,0,0,1,0

In [356]:
y = X['postulacion']
X = X.drop('postulacion',axis=1)

# Test Final DF

In [357]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [358]:
test_final_df.head(2)

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL

In [359]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEseArea(row['idpostulante'], row['idaviso'],0),axis=1)

In [360]:
test_final_df['postulaciones_a_ese_area']=pd.DataFrame(feature)

In [361]:
test_final_df.head(2)

   id  idaviso idpostulante  postulaciones_a_ese_area
0   0   739260       6M9ZQR                         0
1   1   739260       6v1xdL                         5

In [362]:
feature = test_final_df.apply(lambda row: armarFeaturePostulacionesUsuarioAEsaEmpresa(row['idpostulante'], row['idaviso'],0),axis=1)

In [363]:
test_final_df['postulaciones_a_esa_empresa']=pd.DataFrame(feature)

In [364]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa
0,0,739260,6M9ZQR,0,0
1,1,739260,6v1xdL,5,0

In [365]:
feature = test_final_df.apply(lambda row: armarFeatureEduDelAvisoYPostulante(row['idpostulante'], row['idaviso']),axis=1)

In [366]:
test_final_df['relacion_educacion_con_aviso'] = pd.DataFrame(feature)

In [367]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso
0,0,739260,6M9ZQR,0,0,0
1,1,739260,6v1xdL,5,0,0

In [368]:
feature = test_final_df.apply(lambda row: armarFeatureInteresEnPalabrasDeTitulo(row['idpostulante'], row['idaviso'],0),axis=1)

In [369]:
test_final_df['interes_en_titulo_de_aviso']=pd.DataFrame(feature)

In [370]:
test_final_df.head(2)

,id,idaviso,idpostulante,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
0,0,739260,6M9ZQR,0,0,0,0
1,1,739260,6v1xdL,5,0,0,0

Chequeamos que esten todos los datos.

In [371]:
test_final_df.shape

(100000, 7)

In [372]:
test_final_df = test_final_df.drop(['id','idaviso','idpostulante'],axis=1)

In [373]:
test_final_df.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
0,0,0,0,0
1,5,0,0,0
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0

In [374]:
#test_final_df.to_csv('test_final_df.csv')

In [523]:
#test_final_df = pd.read_csv('test_final_df.csv')
#test_final_df.drop('Unnamed: 0',1,inplace=True)

In [524]:
test_final_df.head()

,Unnamed: 0,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
0,0,0,0,0,0
1,1,5,0,0,0
2,2,0,0,0,0
3,3,0,0,0,0
4,4,0,0,0,0

# Visualizacion del set de etrenamiento

In [419]:
import matplotlib.pyplot as plt

In [541]:
#plt.scatter(X[:,0], X[:,1], alpha=0.4, c=trainLabels)
#plt.title("Datos de 'entrenamiento'")
#plt.show()

# Random Forest

In [406]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [407]:
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [408]:
list(zip(X[X.columns], clf.feature_importances_))

[('postulaciones_a_ese_area', 0.4881500396704431),
 ('postulaciones_a_esa_empresa', 0.023675258915016303),
 ('relacion_educacion_con_aviso', 0.09644698650180368),
 ('interes_en_titulo_de_aviso', 0.39172771491273684)]

In [409]:
pred = clf.predict_proba(test_final_df)

pred = pred[:,1]

# Random Forest con Bagging

In [397]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=clf,n_estimators=50)

In [398]:
bc.fit(X,y)

BaggingClassifier(base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=50, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [542]:
pred = bc.predict_proba(test_final_df)

In [ ]:
pred = pred[:,1]

# Perceptron

In [381]:
from sklearn.linear_model import Perceptron
ptron = Perceptron()

In [546]:
ptron.fit(X,y)

In [383]:
pred = ptron.predict(test_final_df)

In [384]:
#Si se quiere hacer un submit solo con perceptron, pasar directo al Armado de Submit

# Bagging con Perceptron

In [385]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=ptron,n_estimators=50)

In [545]:
bc.fit(X,y)

In [387]:
pred = bc.predict_proba(test_final_df)

In [388]:
pred = pred[:,1]

# Perceptron multinivel

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier()

In [ ]:
mlp.fit(X,y)

In [ ]:
pred = mlp.predict(test_final_df)

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=50)

In [ ]:
knn.fit(X,y)

In [ ]:
knn.score(X,y)

In [ ]:
knn.predict(test_final_df)

# Bagging KNN

In [ ]:
from sklearn.ensemble import BaggingClassifier
bcknn = BaggingClassifier(base_estimator=knn,n_estimators=20)

In [ ]:
bcknn.fit(X,y)

In [ ]:
bcknn.score(X,y)

In [ ]:
pred=bcknn.predict_proba(test_final_df)

# Naive_Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
matrix_df.head()

In [ ]:
X.head()

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
X.columns

In [ ]:
#from sklearn.preprocessing import StandardScaler

#features = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']
#X = X.loc[:, features].values
#X = StandardScaler().fit_transform(X)
#X

In [ ]:
#X = pd.DataFrame(X)
#X.columns = ['nombre_zona', 'tipo_de_trabajo', 'nivel_laboral','nombre_area','sexo','nombre','estado','edad']

#X.head()

In [ ]:
y.value_counts()

In [ ]:
nb.fit(X, y)

In [ ]:
nb.score(X,y)

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
pred = nb.predict(test_final_df)

# Boosting

In [537]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.ensemble import AdaBoostClassifier


adaboost = AdaBoostClassifier(n_estimators=100)
scores = cross_val_score(adaboost, X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1),y)
scores.mean()

0.8843200053768102

In [442]:
X.head()

,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
2330410,0,0,0,0
5199343,8,0,1,2
3862128,0,0,1,0
10363711,0,0,1,1
4395015,0,0,1,0

In [538]:
adaboost.fit(X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1),y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=None)

In [427]:
test_final_df.head()

,Unnamed: 0,postulaciones_a_ese_area,postulaciones_a_esa_empresa,relacion_educacion_con_aviso,interes_en_titulo_de_aviso
0,0,0,0,0,0
1,1,5,0,0,0
2,2,0,0,0,0
3,3,0,0,0,0
4,4,0,0,0,0

In [480]:
pred = adaboost.predict_proba(test_final_df.drop(['postulaciones_a_ese_area','relacion_educacion_con_aviso'],axis=1))

In [481]:
pred = pred[:,1]

In [539]:
list(zip(X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1), adaboost.feature_importances_))

[('postulaciones_a_ese_area', 0.19), ('interes_en_titulo_de_aviso', 0.81)]

# Gradient Boosting

In [518]:
from sklearn.ensemble import GradientBoostingClassifier

In [519]:
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=2, random_state=0)

In [521]:
gb.fit(X,y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1.0, loss='deviance', max_depth=2,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [526]:
pred = gb.predict_proba(test_final_df)

In [527]:
pred = pred[:,1]

In [540]:
scores = cross_val_score(gb, X.drop(['postulaciones_a_esa_empresa','relacion_educacion_con_aviso'],axis=1),y)
scores

array([0.88849223, 0.88884889, 0.88647886])

# ARMADO DE SUBMIT

In [529]:
test_final_df = pd.read_csv('test_final_100k.csv')

In [530]:
test_final_df['sepostulo'] = pd.DataFrame(pred)

In [531]:
submit = test_final_df.drop(['idaviso','idpostulante'],axis=1)

In [532]:
submit.set_index('id',inplace=True)

In [533]:
submit.head()

    sepostulo
id
0    0.008404
1    0.092283
2    0.008404
3    0.008404
4    0.008404

In [534]:
submit.sepostulo.value_counts()

0.008404    35743
0.152569    11769
0.359142     1648
0.057773     1236
0.556148      754
0.955860      655
0.457982      590
0.970888      570
0.120564      519
0.945370      471
0.050034      463
0.958955      439
0.632794      418
0.963553      416
0.910178      404
0.387637      373
0.691325      367
0.977561      338
0.977863      328
0.029375      298
0.975054      267
0.964315      266
0.683192      255
0.999731      238
0.971859      237
0.165333      235
0.968698      230
0.980791      222
0.974314      218
0.972236      209
            ...
0.891715        1
0.991484        1
0.966613        1
0.998315        1
0.995967        1
0.986435        1
0.996706        1
0.910133        1
0.886043        1
0.773268        1
0.777488        1
0.983457        1
0.978368        1
0.997807        1
0.985291        1
0.999882        1
0.998101        1
0.997099        1
0.945770        1
0.998935        1
0.982487        1
0.941406        1
0.992335        1
0.906029        1
0.985089        1
0.992749        1
0.998713        1
0.997667        1
0.993899        1
0.967132        1
Name: sepostulo, Length: 6977, dtype: int64

In [535]:
submit.head()

    sepostulo
id
0    0.008404
1    0.092283
2    0.008404
3    0.008404
4    0.008404

In [536]:
submit.to_csv('Submit_file.csv')