In [1]:
import random
import pandas as pd
import numpy as np
import pyspark
try: 
    type(sc)
except NameError:
    sc = pyspark.SparkContext('local[*]')    
    
type(sc)

pyspark.context.SparkContext

In [2]:
#Hasta 15 de Abril

postulantes_edu_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_1_postulantes_educacion.csv')
postulantes_gye_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_2_postulantes_genero_y_edad.csv')
vistas_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_3_vistas.csv')
postulaciones_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_4_postulaciones.csv')
avisos_online_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_5_avisos_online.csv')
avisos_detalle_df = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Fiuba hasta 15 Abril\fiuba_6_avisos_detalle.csv')

In [3]:
 
#Originales TP1

postulantes_edu_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_1_postulantes_educacion.csv')
postulantes_gye_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_2_postulantes_genero_y_edad.csv')
vistas_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_3_vistas.csv')
postulaciones_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_4_postulaciones.csv')
avisos_online_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_5_avisos_online.csv')
avisos_detalle_df2 = pd.read_csv(r'C:\Users\Andres\Documents\TP2 Datos\Datos Navent Original\fiuba_6_avisos_detalle.csv')

In [4]:
#Realizo el Merge del tipo Inner de los datos
#Originales TP1

postulantes_edu_df = postulantes_edu_df.merge(postulantes_edu_df2,how='outer')
postulantes_gye_df = postulantes_gye_df.merge(postulantes_gye_df2,how='outer')
vistas_df = vistas_df.merge(vistas_df2,how='outer')
postulaciones_df = postulaciones_df.merge(postulaciones_df2,how='outer')
avisos_online_df = avisos_online_df.merge(avisos_online_df2,how='outer')
avisos_detalle_df = avisos_detalle_df.merge(avisos_detalle_df2,how='outer')

In [5]:
postulantes_df = postulantes_edu_df.merge(postulantes_gye_df,how='outer',on='idpostulante')

In [6]:
postulantes_df['idpostulante'].value_counts().count()

408146

In [7]:
avisos_detalle_df['idaviso'].value_counts().count()

19358

In [8]:
grouped=postulaciones_df.groupby('idpostulante').agg({'idaviso':'value_counts'})
grouped.columns=['postulacion']

In [9]:
grouped

                         postulacion
idpostulante idaviso
0z5Dmrd      1112384041            1
             1112420060            1
0z5JW1r      1112257171            1
             1112281879            1
             1112292169            1
             1112309728            1
             1112394797            1
             1112417455            1
             1112428361            1
0z5VvGv      1111393762            1
             1111644641            1
             1111753681            1
             1111970596            1
             1112094756            1
             1112118171            1
             1112132555            1
             1112137021            1
             1112156805            1
             1112200601            1
             1112225174            1
             1112254809            1
             1112262494            1
             1112274268            1
             1112279610            1
             1112280897            1
             1112301106            1
             1112303922            1
             1112308989            1
             1112312230            1
             1112312760            1
...                              ...
zvxzrWm      1112372345            1
             1112373506            1
             1112374787            1
             1112378619            1
             1112380306            1
             1112385638            1
             1112388979            1
             1112390110            1
             1112390566            1
             1112401906            1
             1112405840            1
             1112406156            1
             1112407183            1
             1112417482            1
             1112417969            1
             1112418773            1
             1112418958            1
             1112421173            1
             1112422925            1
             1112424885            1
             1112427612            1
             1112432982            1
             1112437235            1
             1112437237            1
             1112438516            1
             1112438823            1
             1112442213            1
             1112445486            1
             1112448822            1
             1112455515            1

[6603752 rows x 1 columns]

In [10]:
grouped.reset_index(inplace=True)

In [11]:
lista = []
user_list = postulaciones_df['idpostulante'].unique()
aviso_list = avisos_detalle_df['idaviso'].unique()
index = 1
for n in range(10000):
    for i in range(500):
        user_index = random.randint(0,348000)
        aviso_index = random.randint(0,19000)
        lista.append((index,user_list[user_index],aviso_list[aviso_index],0))
        index+=1

In [12]:
postulaciones_df['idaviso'].value_counts().count()

20231

In [13]:
df = pd.DataFrame(lista)

In [14]:
df.head()

   0        1           2  3
0  1   8ePpOl  1112088772  0
1  2  YjldmjZ  1112325605  0
2  3   EB0zW9  1111948825  0
3  4  KBd4xjm  1112358306  0
4  5  bO4DM9V  1112226641  0

In [15]:
df.drop(0,axis='columns',inplace=True)

In [16]:
df.head()

         1           2  3
0   8ePpOl  1112088772  0
1  YjldmjZ  1112325605  0
2   EB0zW9  1111948825  0
3  KBd4xjm  1112358306  0
4  bO4DM9V  1112226641  0

In [17]:
df.columns= ['idpostulante','idaviso','postulacion']

In [18]:
df.head()

  idpostulante     idaviso  postulacion
0       8ePpOl  1112088772            0
1      YjldmjZ  1112325605            0
2       EB0zW9  1111948825            0
3      KBd4xjm  1112358306            0
4      bO4DM9V  1112226641            0

In [19]:
grouped.head()

  idpostulante     idaviso  postulacion
0      0z5Dmrd  1112384041            1
1      0z5Dmrd  1112420060            1
2      0z5JW1r  1112257171            1
3      0z5JW1r  1112281879            1
4      0z5JW1r  1112292169            1

In [20]:
grouped['postulacion'] = 1

In [21]:
df[df['postulacion'] > 1]

Empty DataFrame
Columns: [idpostulante, idaviso, postulacion]
Index: []

In [22]:
df_1 = grouped.merge(df,how='outer',on=['idpostulante','idaviso'])

In [23]:
df_1

         idpostulante     idaviso  postulacion_x  postulacion_y
0             0z5Dmrd  1112384041            1.0            NaN
1             0z5Dmrd  1112420060            1.0            NaN
2             0z5JW1r  1112257171            1.0            NaN
3             0z5JW1r  1112281879            1.0            NaN
4             0z5JW1r  1112292169            1.0            NaN
5             0z5JW1r  1112309728            1.0            NaN
6             0z5JW1r  1112394797            1.0            NaN
7             0z5JW1r  1112417455            1.0            NaN
8             0z5JW1r  1112428361            1.0            NaN
9             0z5VvGv  1111393762            1.0            NaN
10            0z5VvGv  1111644641            1.0            NaN
11            0z5VvGv  1111753681            1.0            NaN
12            0z5VvGv  1111970596            1.0            NaN
13            0z5VvGv  1112094756            1.0            NaN
14            0z5VvGv  1112118171            1.0            NaN
15            0z5VvGv  1112132555            1.0            NaN
16            0z5VvGv  1112137021            1.0            NaN
17            0z5VvGv  1112156805            1.0            NaN
18            0z5VvGv  1112200601            1.0            NaN
19            0z5VvGv  1112225174            1.0            NaN
20            0z5VvGv  1112254809            1.0            NaN
21            0z5VvGv  1112262494            1.0            NaN
22            0z5VvGv  1112274268            1.0            NaN
23            0z5VvGv  1112279610            1.0            NaN
24            0z5VvGv  1112280897            1.0            NaN
25            0z5VvGv  1112301106            1.0            NaN
26            0z5VvGv  1112303922            1.0            NaN
27            0z5VvGv  1112308989            1.0            NaN
28            0z5VvGv  1112312230            1.0            NaN
29            0z5VvGv  1112312760            1.0            NaN
...               ...         ...            ...            ...
11599184       63j1lv  1112375249            NaN            0.0
11599185       NGw8LL  1112319620            NaN            0.0
11599186      bOj3pj2  1112412591            NaN            0.0
11599187      GNZmx2p  1112099930            NaN            0.0
11599188      mzd4kqO  1112427693            NaN            0.0
11599189      owjG3ee  1111689437            NaN            0.0
11599190      ZDl4L55  1112268639            NaN            0.0
11599191      X95Wx0Q  1112372402            NaN            0.0
11599192       88ZV0j  1112292876            NaN            0.0
11599193      KBdaApA  1112326939            NaN            0.0
11599194      QNrx5Ae  1112404674            NaN            0.0
11599195      DrlxjeW  1112211914            NaN            0.0
11599196      6rZ6jx3  1111890875            NaN            0.0
11599197      vVkdz1X  1112291885            NaN            0.0
11599198      kP605Xa  1112312078            NaN            0.0
11599199       6p9L4M  1112467547            NaN            0.0
11599200      vVjEXmP  1111425457            NaN            0.0
11599201      6rPe3L4  1112470370            NaN            0.0
11599202      8MPGQZx  1112423636            NaN            0.0
11599203      ow25ame  1112470106            NaN            0.0
11599204       NA5avl  1112408358            NaN            0.0
11599205      8MaJMPL  1112257303            NaN            0.0
11599206      ow2rE0a  1112040869            NaN            0.0
11599207      A3XNvZ5  1112336561            NaN            0.0
11599208      3NkLkBx  1112455983            NaN            0.0
11599209      wVkepbV  1112102025            NaN            0.0
11599210      X9lAeZv  1112298113            NaN            0.0
11599211       ZMGwaR  1112377539            NaN            0.0
11599212      kP6K4Z0  1112463922            NaN            0.0
11599213      akbkrrD  1111826947            NaN            0.0

[11599214 rows x 4 columns]

In [24]:
df_1['postulacion_x'].fillna(0,inplace=True)
df_1['postulacion_y'].fillna(0,inplace=True)

In [25]:
(df_1['postulacion_y']==1).any()

False

In [26]:
df_1['postulacion'] = df_1['postulacion_x'] + df_1['postulacion_y']

In [27]:
df_1.head()

  idpostulante     idaviso  postulacion_x  postulacion_y  postulacion
0      0z5Dmrd  1112384041            1.0            0.0          1.0
1      0z5Dmrd  1112420060            1.0            0.0          1.0
2      0z5JW1r  1112257171            1.0            0.0          1.0
3      0z5JW1r  1112281879            1.0            0.0          1.0
4      0z5JW1r  1112292169            1.0            0.0          1.0

In [28]:
 df_1.drop(['postulacion_x','postulacion_y'],axis='columns',inplace=True)

In [29]:
df_1['postulacion'] = pd.Categorical(df_1['postulacion'])
df_1['postulacion'] = df_1['postulacion'].cat.codes
df_1['postulacion'].value_counts()

1    6603754
0    4995460
Name: postulacion, dtype: int64

In [30]:
df_1['postulacion']

0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
           ..
11599184    0
11599185    0
11599186    0
11599187    0
11599188    0
11599189    0
11599190    0
11599191    0
11599192    0
11599193    0
11599194    0
11599195    0
11599196    0
11599197    0
11599198    0
11599199    0
11599200    0
11599201    0
11599202    0
11599203    0
11599204    0
11599205    0
11599206    0
11599207    0
11599208    0
11599209    0
11599210    0
11599211    0
11599212    0
11599213    0
Name: postulacion, Length: 11599214, dtype: int8

In [31]:
df_1[df_1['postulacion']>1]

Empty DataFrame
Columns: [idpostulante, idaviso, postulacion]
Index: []

In [32]:
avisos_detalle_df.merge(avisos_online_df,how='inner',on='idaviso').shape

(9080, 11)

In [36]:
avisos_detalle_df['idaviso'].unique().shape

(19358,)